workflows/6BIsqDouy6wiyE4k.json
{"updatedAt":"2026-01-25T11:12:45.942Z","createdAt":"2026-01-13T14:27:28.377Z","id":"6BIsqDouy6wiyE4k","name":"Video Creator Workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"jsonSchemaExample":"{\n\"prompt\":\"<insert generated prompt here>\",\n\"videoTitle\":\"<insert video title here>\",\n\"videoDescription\":\"<insert generated video description here>\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[352,208],"id":"7b5bda71-6171-48cc-9fc6-24e88b5d4b06","name":"Structured Output Parser"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[96,208],"id":"e78c10f8-31d4-49e6-9d52-9ad00098ffa2","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"xn4xkFzH8N8H7JFg","name":"Video Automation API Key"}}},{"parameters":{"promptType":"define","text":"Generate n8n automation video","hasOutputParser":true,"messages":{"messageValues":[{"message":"Create a prompt that generates unique variations of the following base prompt template for creating short-form video descriptions about n8n AI automation. Each generated prompt should keep the core topic as n8n AI automation but focus on a different single clear idea or concept under it (such as speed, scale, time-saving, automation advantage, efficiency, integration power, or similar fresh angles—ensure variety and no repetition across generations). Maintain the overall structure, style, and elements of the base template, including specifications for video format, hook, visuals, storytelling, call-to-action, and feel. Additionally, add to each generated prompt an instruction that the output should include a catchy video title and an engaging social media caption optimized for platforms like TikTok, Instagram, Facebook, and Youtube Reels.\n\nBase prompt template to vary:\n\"This is a high-quality video for a vertical short-form video (9:16, 15–30 seconds). The topic is about n8n AI automation. It starts with a strong 1–2 second hook designed to stop scrolling. Focus on one clear idea only (speed, scale, time-saving, or automation advantage). Use a unique visual concept or metaphor. Describe modern, futuristic visuals (clean dashboards, dark UI, motion graphics). Use text-led storytelling only (no voiceover). End with a short, bold call-to-action related to automation. Output feel fresh and not repetitive but all about n8n automation. The style is minimal, modern, tech-forward, confident, creator-focused.\"\n\nMake your output in JSON format:\n{\n\"prompt\":\"<insert generated prompt here>\",\n\"videoTitle\":\"<insert video title here>\",\n\"videoDescription\":\"<insert generated video description here>\"\n}"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[208,0],"id":"cf285fc8-558b-4d7e-8cbd-f0029c7163ac","name":"Generate prompt"},{"parameters":{"jsCode":"return [\n  {\n  \"type\": \"service_account\",\n  \"project_id\": \"n8nvideoautomation-484215\",\n  \"private_key_id\": \"b14064eb10404c7948ac20a8939e720493ec6fad\",\n  \"client_email\": \"video-gen-service-account@n8nvideoautomation-484215.iam.gserviceaccount.com\",\n  \"client_id\": \"112946062328505588245\",\n  \"auth_uri\": \"https://accounts.google.com/o/oauth2/auth\",\n  \"token_uri\": \"https://oauth2.googleapis.com/token\",\n  \"auth_provider_x509_cert_url\": \"https://www.googleapis.com/oauth2/v1/certs\",\n  \"client_x509_cert_url\": \"https://www.googleapis.com/robot/v1/metadata/x509/video-gen-service-account%40n8nvideoautomation-484215.iam.gserviceaccount.com\",\n  \"universe_domain\": \"googleapis.com\"\n}\n]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[560,0],"id":"0aee44a6-4b0d-466a-81af-e9490d9cda7e","name":"Secret Payload"},{"parameters":{"useJson":true,"claimsJson":"={\n  \"iss\": \"{{ $json.client_email }}\",\n  \"scope\": \"https://www.googleapis.com/auth/cloud-platform\",\n  \"aud\": \"https://oauth2.googleapis.com/token\",\n  \"iat\": {{ Math.floor($now.toSeconds()) }},\n  \"exp\": {{ Math.floor($now.plus({ seconds: 3600 }).toSeconds()) }}\n}","options":{}},"type":"n8n-nodes-base.jwt","typeVersion":1,"position":[768,0],"id":"80902b80-982c-4b8b-8e46-42418883767a","name":"JWT","credentials":{"jwtAuth":{"id":"NA8acrBQmSWyjS5Z","name":"JWT Auth account"}}},{"parameters":{"method":"POST","url":"https://us-central1-aiplatform.googleapis.com/v1/projects/n8nvideoautomation-484215/locations/us-central1/publishers/google/models/veo-3.0-generate-preview:predictLongRunning","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"=Bearer {{ $json.access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"instances\": [\n    {\n      \"prompt\": \"{{ $('Generate prompt').item.json.output.prompt }}\"\n    }\n  ],\n  \"parameters\": {\n    \"durationSeconds\": 8,\n    \"generateAudio\": true,\n    \"aspectRatio\":\"9:16\",\n    \"negativePrompt\": \"UI, overlays, captions, on-screen buttons, phone interface, subtitles, mentions\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1216,0],"id":"b29ebf23-2b3d-4539-8ff9-f1e1853df8b7","name":"Generate video"},{"parameters":{"method":"POST","url":"https://oauth2.googleapis.com/token","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"grant_type","value":"urn:ietf:params:oauth:grant-type:jwt-bearer"},{"name":"assertion","value":"={{ $json.token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[976,0],"id":"32a8428d-d604-4af4-9225-fc2028404019","name":"HTTP Request"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"id":"4c00245c-cd52-47f0-b763-9bfb5f7b5c2c","name":"Schedule Trigger"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1024,192],"id":"2eea6d30-be83-4619-a282-0817c9170468","name":"Code in JavaScript"}],"connections":{"Structured Output Parser":{"ai_outputParser":[[{"node":"Generate prompt","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Generate prompt","type":"ai_languageModel","index":0}]]},"Generate prompt":{"main":[[{"node":"Secret Payload","type":"main","index":0}]]},"Secret Payload":{"main":[[{"node":"JWT","type":"main","index":0}]]},"JWT":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Generate video","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Generate prompt","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Generate prompt":[{"json":{"output":{"prompt":"This is a high-quality video for a vertical short-form video (9:16, 15–30 seconds). The topic is about n8n AI automation. It starts with a strong 1–2 second hook designed to stop scrolling. Focus on one clear idea only: **integration power**. Use a visual concept of a digital network weaving disparate systems together, like glowing data streams connecting various app icons or a central hub effortlessly orchestrating digital components. Describe modern, futuristic visuals with clean dashboards, dark UI, and intricate motion graphics illustrating seamless data flow. Use text-led storytelling only (no voiceover). End with a short, bold call-to-action related to connecting everything. Output feel fresh and not repetitive but all about n8n automation. The style is minimal, modern, tech-forward, confident, creator-focused. Additionally, the output should include a catchy video title and an engaging social media caption optimized for platforms like TikTok, Instagram, Facebook, and Youtube Reels.","videoTitle":"n8n AI: Connect Everything, Automate Smarter","videoDescription":"Tired of disconnected apps and siloed data? 🤯 n8n AI is your ultimate integration superpower! Watch how effortlessly you can weave all your tools, platforms, and APIs together. From CRMs to custom scripts, n8n makes everything talk to each other, so you can build automations that truly transform your workflows. Stop juggling, start integrating! 🔗✨\n\n#n8n #AIAutomation #IntegrationPower #WorkflowAutomation #TechTips #ProductivityHack #LowCode #NoCode #ConnectEverything #FutureofWork"}},"pairedItem":{"item":0}}]},"versionId":"77f88c3d-d157-4251-9519-aa0b5499fb80","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-01-13T14:27:28.388Z","createdAt":"2026-01-13T14:27:28.388Z","role":"workflow:owner","workflowId":"6BIsqDouy6wiyE4k","projectId":"BoV1q8XdtwFqx7dN"}],"activeVersion":null,"tags":[]}