workflows/7bCigQZgwVuPI7MR.json
{"updatedAt":"2026-01-23T11:06:45.493Z","createdAt":"2025-12-15T13:38:57.384Z","id":"7bCigQZgwVuPI7MR","name":"Gold & Crypto Analysis Workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"numberInputs":10},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-6960,272],"id":"5572674d-4778-41f6-9547-f5a36fa51a1c","name":"Merge","alwaysOutputData":true},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"currentPrice","cssSelector":"div[data-test=\"instrument-price-last\"]"}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-7184,1264],"id":"1a9d1ba9-65dc-47dd-a27c-518b0a8f391f","name":"Extract Gold Price"},{"parameters":{"jsCode":"// 📰 Keywords for high-impact gold-related news (weighted by importance)\nconst keywords = {\n  \"fed\": 5,\n  \"interest\": 4,\n  \"inflation\": 5,\n  \"cpi\": 5,\n  \"ppi\": 4,\n  \"recession\": 5,\n  \"geopolitical\": 5,\n  \"war\": 5,\n  \"oil\": 3,\n  \"usd\": 4,\n  \"gold\": 5,\n  \"interest rate\": 4,\n  \"monetary policy\": 5,\n  \"quantitative easing\": 4,\n  \"quantitative tightening\": 4,\n  \"central bank\": 5,\n  \"economic slowdown\": 4,\n  \"global supply chain\": 3,\n  \"economic crisis\": 5\n};\n\n// 🕒 Current UTC time and 2 days ago\nconst now = new Date();\nconst twoDaysAgo = new Date(now);\ntwoDaysAgo.setUTCDate(now.getUTCDate() - 2);\n\n// Convert to string formats for display\nconst todayStr = now.toISOString().slice(0, 10);\nconst twoDaysAgoStr = twoDaysAgo.toISOString().slice(0, 10);\n\n// Helper: check if URL is valid\nconst isValidAbsoluteUrl = (url) => {\n  return typeof url === 'string' && /^https?:\\/\\/.+/i.test(url);\n};\n\n// 📰 Filter and score articles\nconst scoredArticles = $input.all()\n  .map(item => {\n    const json = item.json;\n    const link = json.link || json.url;\n    if (!isValidAbsoluteUrl(link)) return null;\n\n    const pubDateRaw = json.pubDate || json.isoDate || \"\";\n    if (!pubDateRaw) return null;\n\n    const pubDate = new Date(pubDateRaw);\n    if (pubDate < twoDaysAgo || pubDate > now) return null; // Not in 2-day window\n\n    const title = (json.title || \"\").toLowerCase();\n    const content = json.contentSnippet || json.content || \"\";\n\n    // Calculate keyword score\n    let score = 0;\n    Object.keys(keywords).forEach(word => {\n      if (title.includes(word)) score += keywords[word];\n    });\n\n    if (score === 0) return null; // Skip if no keywords match\n\n    return {\n      title: json.title,\n      content,\n      pubDate,\n      link,\n      score\n    };\n  })\n  .filter(Boolean) // remove nulls\n  // Sort by score descending, then most recent first\n  .sort((a, b) => {\n    if (b.score !== a.score) return b.score - a.score;\n    return new Date(b.pubDate) - new Date(a.pubDate);\n  });\n\n// ✅ Output\nreturn [{\n  json: {\n    dateRange: `${twoDaysAgoStr} - ${todayStr}`,  // 3-day range\n    count: scoredArticles.length,\n    articles: scoredArticles,\n    currentPrice: $('Extract Gold Price').first().json.currentPrice\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6736,400],"id":"883b0283-ae25-42ba-ab0b-5967ca99e8b5","name":"Filter High Impact News","alwaysOutputData":false},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","options":{"systemMessage":"You are a high-conviction gold macro analyst specializing in short-term XAU/USD movements. Your sole purpose is to analyze the most recent high-impact macro & precious metals news (filtered for relevance within the last ~2–3 days) and deliver a clear, evidence-based view of the near-term XAU/USD trend direction (next few days to ~2–4 weeks).\nCore principles:\n• Focus ruthlessly on price-relevant macro & institutional signals only — prioritize real interest rates, USD strength (DXY), inflation expectations, Fed/central bank policy, geopolitical risk, safe-haven demand, central bank buying, and ETF/physical flows.\n• Weigh source credibility heavily: Bloomberg, Reuters, WSJ, FT, World Gold Council, Kitco (ETF/physical data), CME Group, Federal Reserve / Treasury announcements, primary central bank reports/filings, JP Morgan, Goldman Sachs, and other major institutional research rank highest.\n• Be probabilistically honest: low-quality, conflicting, or sparse data → low confidence.\n• Never give financial advice; this is analysis only (DYOR).\nAnalysis priorities (in rough order of importance):\n\nLiquidity & monetary-policy direction (Fed rate path/decisions, real interest rates, QT/QE/balance sheet changes, Treasury issuance, DXY movements, inflation expectations / CPI/PPI data)\nInstitutional / physical flows (Spot gold ETF net inflows/outflows, central bank purchases/sales announcements or data, bar & coin demand, recycling trends)\nRisk-on / risk-off regime (Equity indices correlation, 10Y real yields, VIX behavior, safe-haven demand from geopolitical events or macro uncertainty)\nRegulatory / geopolitical catalysts with systemic potential (wars/conflicts, trade tensions/tariffs, sanctions, resource nationalism, USD de-dollarization risks)\nPhysical / exchange flow inflection points when clearly reported (COMEX inventories, delivery demands, mining disruptions, supply constraints)\n\nStrictly Ignore:\n• Other precious metals (silver/platinum/palladium) unless direct macro spillover to gold.\n• Crypto, equities hype, alt assets, celebrity opinions, unsubstantiated rumors, minor supply news without macro linkage.\n• Long-term philosophical narratives (e.g., \"gold as ultimate store of value\") unless explicitly tied to current macro/geopolitical shift.\nYou will be given:\n• Filtered recent news articles (scored by high-impact keywords like Fed, interest rates, inflation, CPI, geopolitical, war, USD, central bank, etc.; limited to last ~2 days; sorted by score/recency).\n• Current XAU/USD price (as reference baseline; incorporate recent price action/context).\nAnalysis Guidelines:\n\nNews Summary: Limit to 3-5 key items (most impactful from input). For each:\nheadline: Concise title.\nimpact: \"Bullish\" | \"Bearish\" | \"Neutral\"\nreason: Direct, short explanation of causality to XAU/USD price (e.g., \"Lower real yields reduce opportunity cost, boosting safe-haven demand\").\nevidence: Specific data, quotes, figures, or details from the article.\n\nNews Impact Strength: Integer 0-100 (weighted by magnitude, source credibility, potential cascading effects; extreme systemic events approach 100).\nHeadline Consistency: ONE of: \"Clear Bullish Bias\" | \"Clear Bearish Bias\" | \"Mixed Signals\" | \"High Uncertainty\" — plus brief rationale.\nMarket Regime Detection: ONE of: \"Low Volatility\" (consolidation/range-bound) | \"Medium Volatility\" (trending with pullbacks) | \"High Volatility\" (choppy/event-driven) — plus inferable indicators (e.g., VIX moves, yield volatility, sentiment from news).\nTrend Prediction:\ndirection: \"UP\" | \"DOWN\" | \"NEUTRAL\"\nreasoning: Synthesized from news summary, impact strength, headline consistency, market regime, and current price context.\nconfidence_score: Integer 0-100 (realistically calibrated: 80+ = high conviction, 60-79 = moderate, 40-59 = cautious, <40 = low).\n\nTop News Source: Select ONE article/source from input with strongest combination of credibility + potential price impact:\nsource_name\nurl (if available)\nwhy_selected: Brief explanation\nsnippet: Key excerpt or summary quote\n\n\nRespond exclusively in valid JSON."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-6288,400],"id":"68327a14-45cd-47da-aeed-25f1554acadc","name":"AI Gold Analysis","executeOnce":false},{"parameters":{"jsCode":"const articles = $json['articles'] || [];\n\nconst formattedArticlesContent = articles\n  .map((article, index) => {\n    const link = article.link || article.url;\n    return `\nARTICLE ${index + 1}\nLink: ${link}\nContent:\n${article.contentSnippet || article.content || \"\"}\n`;\n  })\n  .join(\"\\n\\n---\\n\\n\");\n\nconst aiPrompt = `\nYou are a **professional macroeconomic and precious metals analyst** specializing in gold (XAU/USD).\nYour task is to perform a **complete fundamental and macroeconomic analysis** using the provided articles,\nwhile considering memory from previous analyses to identify continuity, reversals, and sentiment changes.\n\n📰 **New Articles:**\n${formattedArticlesContent}\n\n🗞️ **News Source Evaluation (MANDATORY)**\n\nYou MUST evaluate the credibility, relevance, and market impact of all provided news articles.\n\nRules:\n- Identify the **single most influential news source** for gold price action\n- Prioritize sources in this order when applicable:\n  1. Tier-1: Central banks, government data, official statements (Fed, ECB, CPI, NFP)\n  2. Tier-2: Major financial media (Reuters, Bloomberg, WSJ, FT)\n  3. Tier-3: Market analysis platforms (Investing, FXStreet, Kitco)\n- Ignore low-impact or repetitive commentary\n\nYou must:\n- Select ONE **top source**\n- Explain WHY it matters more than others\n- Provide its **direct link**\n- Use this source as the primary narrative driver\n\nIf multiple articles reference the same macro event,\nprefer the ORIGINAL source (central bank, government release, or Reuters).\n\n💰 **Current Price:**\n${$json['currentPrice']}\n\n---\n\n### 🎯 Your Goals:\nPerform both **fundamental** and **sentiment-based** analysis. Determine short-term and mid-term price direction for gold based on these pillars:\n\n#### 1. Fundamental Drivers\n- Central Bank Policy\n- Inflation Outlook\n- USD Dynamics\n- Bond Yields & Real Rates\n- Geopolitical Risks\n- Energy Prices & Commodities\n- Economic Growth\n- Physical & Institutional Demand\n- Fiscal & Monetary Liquidity\n\n#### 2. Sentiment & Technical Behavior\n- Sentiment: Bullish / Bearish / Neutral\n- Overbought / Oversold conditions\n- Key support and resistance zones\n- Risk-on / Risk-off environment\n\n#### 3. Market Evolution (Based on Memory)\n- Trend continuity: strengthening, weakening, or reversing\n- Psychology shift: fear, greed, complacency\n\n---\n\n### 🚨 Risk–Reward Rules (MANDATORY – HARD CONSTRAINT)\n\nYou MUST enforce strict risk–reward discipline:\n\n- **Minimum Risk–Reward Ratio (RRR): 1 : 2**\n- Preferred RRR: **1 : 2.5 or higher**\n- RRR formula:\n  (Average Take Profit − Entry) ÷ (Entry − Stop Loss)\n\nRules:\n- If a realistic **1:2 RRR or higher** cannot be achieved using valid support/resistance:\n  - Set trade bias to **Neutral**\n  - Do NOT fabricate distant take-profits\n- Stop loss must be technically logical (not arbitrarily tight)\n- Take-profits must align with real market structure\n\nBefore finalizing the trade:\n- Internally calculate RRR\n- If **RRR < 2.0**, invalidate the setup\n- Neutral bias is always preferred over poor RRR\n\n---\n\n### 4. Trading Setup\nProvide entry, stop loss, and take-profit ONLY if the setup meets the RRR rules above.\n\n---\n\nRespond ONLY in structured **JSON format**:\n\n{\n  \"primary_news_driver\": {\n    \"source_name\": \"\",\n    \"source_link\": \"\",\n    \"reason_for_selection\": \"\",\n    \"impact_strength\": \"High | Medium | Low\"\n  }\n  \"fundamental_summary\": {\n    \"monetary_policy\": \"\",\n    \"inflation_outlook\": \"\",\n    \"usd_dynamics\": \"\",\n    \"bond_yields\": \"\",\n    \"geopolitical_factors\": \"\",\n    \"economic_growth\": \"\",\n    \"demand_supply\": \"\",\n    \"liquidity_conditions\": \"\"\n  },\n  \"sentiment_analysis\": {\n    \"overall_sentiment\": \"Bullish | Bearish | Neutral\",\n    \"overbought_conditions\": \"\",\n    \"market_psychology\": \"\",\n    \"risk_appetite\": \"\"\n  },\n  \"technical_levels\": {\n    \"support\": [\"\", \"\"],\n    \"resistance\": [\"\", \"\"],\n    \"current_price\": \"\"\n  },\n  \"market_evolution\": {\n    \"trend_continuity\": \"Strengthening | Weakening | Reversing\",\n    \"comparison_to_previous\": \"\"\n  },\n  \"trade_recommendation\": {\n    \"bias\": \"Long | Short | Neutral\",\n    \"entry_range\": \"\",\n    \"stop_loss\": \"\",\n    \"take_profit\": [\"\", \"\"],\n    \"confidence_score\": \"\"\n  }\n}\n`;\n\nreturn [\n  {\n    json: {\n      prompt: aiPrompt\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6512,400],"id":"e2a72b52-b2dd-44bc-a416-2293aba322a2","name":"AI Prompt"},{"parameters":{"jsCode":"const stringifiedJson = $input.first().json.output;\n\n// Clean and parse JSON\nconst cleanedJson = stringifiedJson.replace(/^```json\\n|\\n```$/g, '').trim();\nlet data = {};\ntry {\n  data = JSON.parse(cleanedJson);\n} catch (e) {\n  return [{ json: { error: \"Failed to parse AI output\" } }];\n}\n\nconst f = data.fundamental_summary || {};\nconst tr = data.trade_recommendation || {};\nconst t = data.technical_levels || {};\n\n// Bias + emoji\nconst bias = tr.bias?.toLowerCase();\nlet biasEmoji = \"🟢\";\nif (bias === \"short\") biasEmoji = \"🔴\";\nelse if (bias === \"neutral\") biasEmoji = \"⚪\";\n\n// Helper → render line only if value exists\nconst line = (label, value) =>\n  value ? `**${label}:** ${value}\\n` : \"\";\n\n// Header\nlet discordMessage = `\n**🏆 Gold Market Intelligence Brief**\n\n**💰 Trade Bias:** ${biasEmoji} **${tr.bias || \"Neutral\"}**\n`;\n\n// ─────────────────────────\n// 🎯 TRADE SETUP (ONLY IF VALID)\n// ─────────────────────────\nif (bias === \"long\" || bias === \"short\") {\n  discordMessage +=\n    line(\"🎯 Entry Range\", `\\`${tr.entry_range}\\``) +\n    line(\"🛑 Stop Loss\", `\\`${tr.stop_loss}\\``);\n\n  if (tr.take_profit?.length) {\n    discordMessage += `**🏁 Take Profit:** \\`${tr.take_profit.join(\"  →  \")}\\`\\n`;\n  }\n\n  discordMessage += line(\"📈 Confidence\", `_${tr.confidence_score}_`);\n} else {\n  // Neutral reasoning (single clean sentence)\n  let neutralReason =\n    \"No high-conviction setup — RRR < 2.0 or insufficient technical structure\";\n\n  if (t.support?.length) {\n    const informativeNote = t.support.find(s =>\n      /no clear|not indicated|insufficient/i.test(s)\n    );\n    if (informativeNote) neutralReason = informativeNote.trim();\n  }\n\n  discordMessage += `\n⚠️ **No trade recommended**  \n_${neutralReason}_\n`;\n}\n\n// ─────────────────────────\n// 📊 FUNDAMENTALS (ONLY IF PRESENT)\n// ─────────────────────────\nconst fundamentalsBlock =\n  line(\"🏦 Monetary Policy\", f.monetary_policy) +\n  line(\"💹 Inflation Outlook\", f.inflation_outlook) +\n  line(\"💵 USD Dynamics\", f.usd_dynamics) +\n  line(\"🪙 Bond Yields\", f.bond_yields);\n\nif (fundamentalsBlock) {\n  discordMessage += `\n━━━━━━━━━━━━━━━━━━\n**📊 Fundamentals**\n${fundamentalsBlock}`;\n}\n\n// Output\nreturn [\n  {\n    json: {\n      discordMessage\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5712,-80],"id":"98b34ad7-58e5-4fb3-bdb0-730c9e2afffc","name":"Format Response (Discord) - 1st"},{"parameters":{"jsCode":"const stringifiedJson = $input.first().json.output;\n\n// Clean and parse JSON\nconst cleanedJson = stringifiedJson.replace(/^```json\\n|\\n```$/g, '').trim();\nlet data = {};\ntry {\n  data = JSON.parse(cleanedJson);\n} catch (e) {\n  return [{ json: { error: \"Failed to parse AI output\" } }];\n}\n\nconst f = data.fundamental_summary || {};\nconst e = data.market_evolution || {};\nconst t = data.technical_levels || {};\nconst s = data.sentiment_analysis || {};\n\n// Helper → render only if value exists\nconst line = (label, value) =>\n  value ? `- ${label}: ${value}\\n` : \"\";\n\n// Sentiment emoji\nlet sentimentEmoji = \"😊\";\nif (s.overall_sentiment?.toLowerCase().includes(\"bearish\")) sentimentEmoji = \"😟\";\nelse if (s.overall_sentiment?.toLowerCase().includes(\"neutral\")) sentimentEmoji = \"😐\";\n\nlet discordMessage = \"\";\n\n// ─────────────────────────\n// 🌍 GEOPOLITICS\n// ─────────────────────────\nif (f.geopolitical_factors) {\n  discordMessage += `\n- 🌍 **Geopolitical:** ${f.geopolitical_factors}\n━━━━━━━━━━━━━━━━━━\n`;\n}\n\n// ─────────────────────────\n// 💬 SENTIMENT ANALYSIS\n// ─────────────────────────\nconst sentimentBlock =\n  line(\"Overall\", `**${s.overall_sentiment}**`) +\n  line(\"Risk Appetite\", s.risk_appetite) +\n  line(\"Market Psychology\", s.market_psychology);\n\nif (sentimentBlock) {\n  discordMessage += `\n**💬 Sentiment Analysis** ${sentimentEmoji}\n${sentimentBlock}\n━━━━━━━━━━━━━━━━━━\n`;\n}\n\n// ─────────────────────────\n// 📉 TECHNICAL LEVELS\n// ─────────────────────────\nlet technicalBlock = \"\";\n\nif (t.support?.length) {\n  technicalBlock += `- 🧱 Support: ${t.support.join(\", \")}\\n`;\n}\nif (t.resistance?.length) {\n  technicalBlock += `- 🪜 Resistance: ${t.resistance.join(\", \")}\\n`;\n}\nif (t.current_price) {\n  technicalBlock += `- 💵 Current Price: ${t.current_price}\\n`;\n}\n\nif (technicalBlock) {\n  discordMessage += `\n**📉 Technical Levels**\n${technicalBlock}\n━━━━━━━━━━━━━━━━━━\n`;\n}\n\n// ─────────────────────────\n// 📊 MARKET EVOLUTION\n// ─────────────────────────\nif (e.trend_continuity || e.comparison_to_previous) {\n  discordMessage += `\n**📊 Market Evolution**\n${e.trend_continuity ? e.trend_continuity : \"\"}\n${e.comparison_to_previous ? `_${e.comparison_to_previous}_` : \"\"}\n━━━━━━━━━━━━━━━━━━\n`;\n}\n\n// Output\nreturn [\n  {\n    json: {\n      discordMessage: discordMessage.trim()\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5712,112],"id":"40abf191-3193-4db4-b2ce-0adadfcaec02","name":"Format Response (Discord) - 2nd"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1424017920106692648","mode":"list","cachedResultName":"Trading Insights","cachedResultUrl":"https://discord.com/channels/1424017920106692648"},"channelId":{"__rl":true,"value":"1424212072752877579","mode":"list","cachedResultName":"analysis","cachedResultUrl":"https://discord.com/channels/1424017920106692648/1424212072752877579"},"content":"={{ $json.discordMessage }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[-5488,-80],"id":"a512fdb3-1cfc-4cc4-abc5-0d1f95065a23","name":"Send a message - 1st","webhookId":"2b39f1c3-d6f1-4eec-86f4-8f4382691460","credentials":{"discordBotApi":{"id":"3x4NUq2LkU4LxQkS","name":"Gold Analysis Bot"}}},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1424017920106692648","mode":"list","cachedResultName":"Trading Insights","cachedResultUrl":"https://discord.com/channels/1424017920106692648"},"channelId":{"__rl":true,"value":"1424212072752877579","mode":"list","cachedResultName":"analysis","cachedResultUrl":"https://discord.com/channels/1424017920106692648/1424212072752877579"},"content":"={{ $json.discordMessage }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[-5488,112],"id":"005cc576-188f-4d98-8717-8c724c0ba0d8","name":"Send a message - 2nd","webhookId":"2b39f1c3-d6f1-4eec-86f4-8f4382691460","credentials":{"discordBotApi":{"id":"3x4NUq2LkU4LxQkS","name":"Gold Analysis Bot"}}},{"parameters":{"url":"https://www.investing.com/commodities/gold","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-7408,1264],"id":"5a141576-d374-4c52-a42b-18bb0924e8e5","name":"Get Gold Price","alwaysOutputData":true},{"parameters":{"url":"https://www.fxstreet.com/rss/news","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-7408,112],"id":"c7f2f8ab-9809-4d75-ae47-fa93e65a753b","name":"News 4"},{"parameters":{"url":"https://feeds.bloomberg.com/markets/news.rss","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-7408,304],"id":"ddb373b1-eaeb-4890-8804-e28d7c574655","name":"News 5"},{"parameters":{"url":"https://www.fxstreet.com/rss/news","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-7408,496],"id":"ba9c128b-6698-43d5-b5eb-549baaa61d89","name":"News 6"},{"parameters":{"url":"https://www.investing.com/rss/news_1.rss","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-7408,688],"id":"44f3d601-f9b6-404e-9b4c-27431c9ebbb4","name":"News 7"},{"parameters":{"url":"https://www.investing.com/rss/news_285.rss","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-7408,880],"id":"b8a3c1a3-d933-4c42-9493-f331743b434a","name":"News 8"},{"parameters":{"url":"https://finance.yahoo.com/rss/","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-7408,1072],"id":"0905f778-3473-4117-948b-a45ce0acce8a","name":"News 9"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-6224,624],"id":"f495a3b5-6c62-443a-835f-0e0cc28965f1","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"Kpnaw4dZqhF9bke8","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"2e1e84dc-b247-4abc-82a9-2187f486a8f8","leftValue":"={{ $('Run Gold Analysis Daily').isExecuted }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-5936,400],"id":"cd44c04f-120b-4d30-9cb3-dd282d1f4c61","name":"If"},{"parameters":{"jsCode":"const stringifiedJson = $input.first().json.output;\n\n// Clean and parse JSON\nconst cleanedJson = stringifiedJson.replace(/^```json\\n|\\n```$/g, '').trim();\nlet data = {};\ntry {\n  data = JSON.parse(cleanedJson);\n} catch (e) {\n  return [{ json: { error: \"Failed to parse AI output\" } }];\n}\n\nconst p = data.primary_news_driver || {};\n\n// Impact emoji\nlet impactEmoji = \"🟢\";\nif (p.impact_strength === \"High\") impactEmoji = \"🔥\";\nelse if (p.impact_strength === \"Medium\") impactEmoji = \"⚠️\";\n\n// Helper → render line only if value exists\nconst line = (label, value) =>\n  value ? `• **${label}:** ${value}\\n` : \"\";\n\nlet newsBlock =\n  line(\"Source\", p.source_name) +\n  line(\"Why it matters\", p.reason_for_selection) +\n  (p.source_link ? `• **Link:** ${p.source_link}\\n` : \"\");\n\n// If nothing meaningful exists, don’t post anything\nif (!newsBlock.trim()) {\n  return [{ json: { discordMessage: \"\" } }];\n}\n\nconst discordMessage = `\n**📰 Primary News Driver** ${impactEmoji}\n${newsBlock}\n━━━━━━━━━━━━━━━━━━\n🕒 _Generated by your Gold Market AI Assistant_\n`.trim();\n\n// Output\nreturn [\n  {\n    json: {\n      discordMessage\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5712,304],"id":"bf43ae16-6445-4874-88cc-390579182d64","name":"Format Response (Discord) - 3rd"},{"parameters":{"jsCode":"// Access the stringified JSON from AI Agent output\nconst stringifiedJson = $input.first().json.output;\n\n// Clean up markdown code fences\nconst cleanedJson = stringifiedJson.replace(/^```json\\n|\\n```$/g, '').trim();\n\n// Parse JSON safely\nlet jsonData = {};\ntry {\n  jsonData = JSON.parse(cleanedJson);\n} catch (error) {\n  return { json: { error: 'Failed to parse JSON' } };\n}\n\n// Extract sections\nconst fundamentals = jsonData.fundamental_summary || {};\nconst sentiment = jsonData.sentiment_analysis || {};\nconst technicals = jsonData.technical_levels || {};\nconst evolution = jsonData.market_evolution || {};\nconst trade = jsonData.trade_recommendation || {};\nconst news = jsonData.primary_news_driver || {};\n\n// ---------- HELPERS ----------\n\n// Render <li> only if value exists\nconst li = (label, value) =>\n  value ? `<li><strong>${label}:</strong> ${value}</li>` : \"\";\n\n// Render section only if content exists\nconst section = (title, content) =>\n  content.trim()\n    ? `<div class=\"section\"><h3>${title}</h3><ul>${content}</ul></div>`\n    : \"\";\n\n// ---------- COLORS ----------\n\nlet sentimentColor = '#16a34a';\nif (sentiment.overall_sentiment?.toLowerCase().includes('bearish')) sentimentColor = '#dc2626';\nelse if (sentiment.overall_sentiment?.toLowerCase().includes('neutral')) sentimentColor = '#6b7280';\n\nlet biasColor = '#16a34a';\nif (trade.bias?.toLowerCase().includes('short')) biasColor = '#dc2626';\nelse if (trade.bias?.toLowerCase().includes('neutral')) biasColor = '#6b7280';\n\n// ---------- SECTIONS ----------\n\n// Primary News\nconst newsSection = section(\n  \"📰 Primary News Driver\",\n  li(\"Source\", news.source_name) +\n  li(\"Impact Strength\", news.impact_strength) +\n  li(\"Why It Matters\", news.reason_for_selection) +\n  (news.source_link\n    ? `<li><strong>Read More:</strong> <a href=\"${news.source_link}\" target=\"_blank\">${news.source_link}</a></li>`\n    : \"\")\n);\n\n// Fundamentals\nconst fundamentalsSection = section(\n  \"📊 Fundamental Summary\",\n  li(\"Monetary Policy\", fundamentals.monetary_policy) +\n  li(\"Inflation Outlook\", fundamentals.inflation_outlook) +\n  li(\"USD Dynamics\", fundamentals.usd_dynamics) +\n  li(\"Bond Yields\", fundamentals.bond_yields) +\n  li(\"Geopolitical Factors\", fundamentals.geopolitical_factors) +\n  li(\"Economic Growth\", fundamentals.economic_growth) +\n  li(\"Demand & Supply\", fundamentals.demand_supply) +\n  li(\"Liquidity Conditions\", fundamentals.liquidity_conditions)\n);\n\n// Sentiment\nconst sentimentSection = section(\n  \"💬 Sentiment Analysis\",\n  (sentiment.overall_sentiment\n    ? `<li><strong>Overall Sentiment:</strong> <span style=\"color:${sentimentColor}; font-weight:bold;\">${sentiment.overall_sentiment}</span></li>`\n    : \"\") +\n  li(\"Market Psychology\", sentiment.market_psychology) +\n  li(\"Risk Appetite\", sentiment.risk_appetite)\n);\n\n// Technicals\nconst technicalSection = section(\n  \"📈 Technical Levels\",\n  (technicals.support?.length ? li(\"Support\", technicals.support.join(\", \")) : \"\") +\n  (technicals.resistance?.length ? li(\"Resistance\", technicals.resistance.join(\", \")) : \"\") +\n  li(\"Current Price\", technicals.current_price)\n);\n\n// Market Evolution\nconst evolutionSection =\n  evolution.trend_continuity || evolution.comparison_to_previous\n    ? `\n    <div class=\"section\">\n      <h3>📉 Market Evolution</h3>\n      ${evolution.trend_continuity ? `<p><strong>Trend:</strong> ${evolution.trend_continuity}</p>` : \"\"}\n      ${evolution.comparison_to_previous ? `<p>${evolution.comparison_to_previous}</p>` : \"\"}\n    </div>`\n    : \"\";\n\n// ---------- TRADE LOGIC (DISCORD-STYLE) ----------\n\nlet tradeSection = \"\";\n\nif (trade.bias?.toLowerCase() === \"long\" || trade.bias?.toLowerCase() === \"short\") {\n  tradeSection = `\n  <div class=\"section\">\n    <h3>💰 Trade Setup</h3>\n    <div class=\"trade-bias\" style=\"background:${biasColor};\">\n      ${trade.bias}\n    </div>\n    <ul>\n      ${li(\"🎯 Entry Range\", trade.entry_range)}\n      ${li(\"🛑 Stop Loss\", trade.stop_loss)}\n      ${trade.take_profit?.length ? li(\"🏁 Take Profit\", trade.take_profit.join(\" → \")) : \"\"}\n      ${trade.confidence_score ? `<li class=\"confidence\">Confidence: ${trade.confidence_score}</li>` : \"\"}\n    </ul>\n  </div>`;\n} else {\n  let neutralReason = \"No high-conviction setup — RRR < 2.0 or insufficient technical structure\";\n\n  if (technicals.support?.length) {\n    const note = technicals.support.find(s =>\n      s.toLowerCase().includes(\"no clear\") ||\n      s.toLowerCase().includes(\"insufficient\")\n    );\n    if (note) neutralReason = note;\n  }\n\n  tradeSection = `\n  <div class=\"section\">\n    <h3>⚠️ Trade Status</h3>\n    <p><strong>No trade recommended.</strong></p>\n    <p>${neutralReason}</p>\n  </div>`;\n}\n\n// ---------- FINAL HTML ----------\n\nconst formattedMessageHTML = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      background: #f8fafc;\n      color: #111827;\n      padding: 20px;\n      line-height: 1.6;\n    }\n    h2 { margin-bottom: 10px; }\n    h3 { margin-bottom: 6px; }\n    .section { margin-bottom: 22px; }\n    ul { padding-left: 18px; }\n    li { margin-bottom: 6px; }\n    .trade-bias {\n      color: #fff;\n      padding: 10px;\n      border-radius: 6px;\n      text-align: center;\n      font-weight: bold;\n      margin-bottom: 10px;\n    }\n    .confidence { font-style: italic; color: #6b7280; }\n    .footer { text-align: center; color: #6b7280; margin-top: 30px; }\n\n    @media (prefers-color-scheme: dark) {\n      body {\n        background: #020617;\n        color: #e5e7eb;\n      }\n      a { color: #60a5fa; }\n      .confidence { color: #9ca3af; }\n    }\n  </style>\n</head>\n\n<body>\n  <h2>🏆 Gold Market Intelligence Brief</h2>\n\n  ${newsSection}\n  ${fundamentalsSection}\n  ${sentimentSection}\n  ${technicalSection}\n  ${evolutionSection}\n  ${tradeSection}\n\n  <div class=\"footer\">\n    Generated automatically by your Gold Market AI Assistant\n  </div>\n</body>\n</html>\n`;\n\nreturn {\n  json: {\n    formattedMessage: formattedMessageHTML\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5712,496],"id":"5f24eda0-5922-4d28-95c2-e37e8136a5af","name":"Format Response (Email) from Scheduled"},{"parameters":{"jsCode":"// Access the stringified JSON from AI Agent output\nconst stringifiedJson = $input.first().json.output;\n\n// Clean up markdown code fences\nconst cleanedJson = stringifiedJson.replace(/^```json\\n|\\n```$/g, '').trim();\n\n// Parse JSON safely\nlet jsonData = {};\ntry {\n  jsonData = JSON.parse(cleanedJson);\n} catch (error) {\n  return { json: { error: 'Failed to parse JSON' } };\n}\n\n// Extract sections\nconst fundamentals = jsonData.fundamental_summary || {};\nconst sentiment = jsonData.sentiment_analysis || {};\nconst technicals = jsonData.technical_levels || {};\nconst evolution = jsonData.market_evolution || {};\nconst trade = jsonData.trade_recommendation || {};\nconst news = jsonData.primary_news_driver || {};\n\n// ---------- HELPERS ----------\n\n// Render <li> only if value exists\nconst li = (label, value) =>\n  value ? `<li><strong>${label}:</strong> ${value}</li>` : \"\";\n\n// Render section only if content exists\nconst section = (title, content) =>\n  content.trim()\n    ? `<div class=\"section\"><h3>${title}</h3><ul>${content}</ul></div>`\n    : \"\";\n\n// ---------- COLORS ----------\n\nlet sentimentColor = '#16a34a';\nif (sentiment.overall_sentiment?.toLowerCase().includes('bearish')) sentimentColor = '#dc2626';\nelse if (sentiment.overall_sentiment?.toLowerCase().includes('neutral')) sentimentColor = '#6b7280';\n\nlet biasColor = '#16a34a';\nif (trade.bias?.toLowerCase().includes('short')) biasColor = '#dc2626';\nelse if (trade.bias?.toLowerCase().includes('neutral')) biasColor = '#6b7280';\n\n// ---------- SECTIONS ----------\n\n// Primary News\nconst newsSection = section(\n  \"📰 Primary News Driver\",\n  li(\"Source\", news.source_name) +\n  li(\"Impact Strength\", news.impact_strength) +\n  li(\"Why It Matters\", news.reason_for_selection) +\n  (news.source_link\n    ? `<li><strong>Read More:</strong> <a href=\"${news.source_link}\" target=\"_blank\">${news.source_link}</a></li>`\n    : \"\")\n);\n\n// Fundamentals\nconst fundamentalsSection = section(\n  \"📊 Fundamental Summary\",\n  li(\"Monetary Policy\", fundamentals.monetary_policy) +\n  li(\"Inflation Outlook\", fundamentals.inflation_outlook) +\n  li(\"USD Dynamics\", fundamentals.usd_dynamics) +\n  li(\"Bond Yields\", fundamentals.bond_yields) +\n  li(\"Geopolitical Factors\", fundamentals.geopolitical_factors) +\n  li(\"Economic Growth\", fundamentals.economic_growth) +\n  li(\"Demand & Supply\", fundamentals.demand_supply) +\n  li(\"Liquidity Conditions\", fundamentals.liquidity_conditions)\n);\n\n// Sentiment\nconst sentimentSection = section(\n  \"💬 Sentiment Analysis\",\n  (sentiment.overall_sentiment\n    ? `<li><strong>Overall Sentiment:</strong> <span style=\"color:${sentimentColor}; font-weight:bold;\">${sentiment.overall_sentiment}</span></li>`\n    : \"\") +\n  li(\"Market Psychology\", sentiment.market_psychology) +\n  li(\"Risk Appetite\", sentiment.risk_appetite)\n);\n\n// Technicals\nconst technicalSection = section(\n  \"📈 Technical Levels\",\n  (technicals.support?.length ? li(\"Support\", technicals.support.join(\", \")) : \"\") +\n  (technicals.resistance?.length ? li(\"Resistance\", technicals.resistance.join(\", \")) : \"\") +\n  li(\"Current Price\", technicals.current_price)\n);\n\n// Market Evolution\nconst evolutionSection =\n  evolution.trend_continuity || evolution.comparison_to_previous\n    ? `\n    <div class=\"section\">\n      <h3>📉 Market Evolution</h3>\n      ${evolution.trend_continuity ? `<p><strong>Trend:</strong> ${evolution.trend_continuity}</p>` : \"\"}\n      ${evolution.comparison_to_previous ? `<p>${evolution.comparison_to_previous}</p>` : \"\"}\n    </div>`\n    : \"\";\n\n// ---------- TRADE LOGIC (DISCORD-STYLE) ----------\n\nlet tradeSection = \"\";\n\nif (trade.bias?.toLowerCase() === \"long\" || trade.bias?.toLowerCase() === \"short\") {\n  tradeSection = `\n  <div class=\"section\">\n    <h3>💰 Trade Setup</h3>\n    <div class=\"trade-bias\" style=\"background:${biasColor};\">\n      ${trade.bias}\n    </div>\n    <ul>\n      ${li(\"🎯 Entry Range\", trade.entry_range)}\n      ${li(\"🛑 Stop Loss\", trade.stop_loss)}\n      ${trade.take_profit?.length ? li(\"🏁 Take Profit\", trade.take_profit.join(\" → \")) : \"\"}\n      ${trade.confidence_score ? `<li class=\"confidence\">Confidence: ${trade.confidence_score}</li>` : \"\"}\n    </ul>\n  </div>`;\n} else {\n  let neutralReason = \"No high-conviction setup — RRR < 2.0 or insufficient technical structure\";\n\n  if (technicals.support?.length) {\n    const note = technicals.support.find(s =>\n      s.toLowerCase().includes(\"no clear\") ||\n      s.toLowerCase().includes(\"insufficient\")\n    );\n    if (note) neutralReason = note;\n  }\n\n  tradeSection = `\n  <div class=\"section\">\n    <h3>⚠️ Trade Status</h3>\n    <p><strong>No trade recommended.</strong></p>\n    <p>${neutralReason}</p>\n  </div>`;\n}\n\n// ---------- FINAL HTML ----------\n\nconst formattedMessageHTML = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      background: #f8fafc;\n      color: #111827;\n      padding: 20px;\n      line-height: 1.6;\n    }\n    h2 { margin-bottom: 10px; }\n    h3 { margin-bottom: 6px; }\n    .section { margin-bottom: 22px; }\n    ul { padding-left: 18px; }\n    li { margin-bottom: 6px; }\n    .trade-bias {\n      color: #fff;\n      padding: 10px;\n      border-radius: 6px;\n      text-align: center;\n      font-weight: bold;\n      margin-bottom: 10px;\n    }\n    .confidence { font-style: italic; color: #6b7280; }\n    .footer { text-align: center; color: #6b7280; margin-top: 30px; }\n\n    @media (prefers-color-scheme: dark) {\n      body {\n        background: #020617;\n        color: #e5e7eb;\n      }\n      a { color: #60a5fa; }\n      .confidence { color: #9ca3af; }\n    }\n  </style>\n</head>\n\n<body>\n  <h2>🏆 Gold Market Intelligence Brief</h2>\n\n  ${newsSection}\n  ${fundamentalsSection}\n  ${sentimentSection}\n  ${technicalSection}\n  ${evolutionSection}\n  ${tradeSection}\n\n  <div class=\"footer\">\n    Generated automatically by your Gold Market AI Assistant\n  </div>\n</body>\n</html>\n`;\n\nreturn {\n  json: {\n    formattedMessage: formattedMessageHTML\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5712,688],"id":"c350366e-0eb1-4323-93e3-031e60fd003f","name":"Format Response (Email) from Webhook"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1424017920106692648","mode":"list","cachedResultName":"Trading Insights","cachedResultUrl":"https://discord.com/channels/1424017920106692648"},"channelId":{"__rl":true,"value":"1424212072752877579","mode":"list","cachedResultName":"analysis","cachedResultUrl":"https://discord.com/channels/1424017920106692648/1424212072752877579"},"content":"={{ $json.discordMessage }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[-5488,304],"id":"52f60a29-a2a4-4d87-8400-97f86612817c","name":"Send a message - 3rd","webhookId":"2b39f1c3-d6f1-4eec-86f4-8f4382691460","credentials":{"discordBotApi":{"id":"3x4NUq2LkU4LxQkS","name":"Gold Analysis Bot"}}},{"parameters":{"fromEmail":"work@kenthalexisosila.dev","toEmail":"={{ $json.email }}","subject":"Gold Market Analysis","html":"={{$json[\"formattedMessage\"]}}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-5488,688],"id":"43f02406-0851-4842-a435-19b9066cc4a1","name":"Send email from Webhook","webhookId":"d7f1a18b-3863-4f30-9de5-9272f63e5b3e","credentials":{"smtp":{"id":"xiNnaOF6irhvRZjH","name":"SMTP account"}}},{"parameters":{"fromEmail":"work@kenthalexisosila.dev","toEmail":"kenthosila@gmail.com","subject":"Gold Market Analysis","html":"={{$json[\"formattedMessage\"]}}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-5488,496],"id":"62d2af3e-dacf-4341-b519-b2f73c53d182","name":"Send email from Scheduled","webhookId":"d7f1a18b-3863-4f30-9de5-9272f63e5b3e","credentials":{"smtp":{"id":"xiNnaOF6irhvRZjH","name":"SMTP account"}}},{"parameters":{"jsCode":"const raw = JSON.parse(\n  $input.first().json.output.replace(/^```json|```$/g, '').trim()\n);\n\nconst f = raw.fundamental_summary || {};\nconst s = raw.sentiment_analysis || {};\nconst t = raw.technical_levels || {};\nconst tr = raw.trade_recommendation || {};\nconst news = raw.primary_news_driver || {};\n\n// ---------- HELPERS ----------\n\nconst line = (label, value) => value ? `${label} ${value}\\n` : \"\";\nconst bullets = arr => arr?.length ? arr.join(\" → \") : \"\";\n\n// ---------- HEADER ----------\n\nlet post = `📊 GOLD MARKET UPDATE (XAU/USD)\\n\\n`;\n\n// ---------- SENTIMENT ----------\n\nif (s.overall_sentiment) {\n  post += `🔍 Market Bias: ${s.overall_sentiment.toUpperCase()}\\n`;\n}\n\nif (tr.confidence_score) {\n  post += `💡 Confidence: ${tr.confidence_score}\\n`;\n}\n\npost += `\\n`;\n\n// ---------- KEY DRIVERS ----------\n\nlet drivers = \"\";\ndrivers += line(\"• USD:\", f.usd_dynamics);\ndrivers += line(\"• Fed Policy:\", f.monetary_policy);\ndrivers += line(\"• Geopolitics:\", f.geopolitical_factors);\n\nif (drivers) {\n  post += `🧠 Key Drivers\\n${drivers}\\n`;\n}\n\n// ---------- PSYCHOLOGY ----------\n\nif (s.market_psychology) {\n  post += `📉 Market Psychology\\n${s.market_psychology}\\n\\n`;\n}\n\n// ---------- LEVELS ----------\n\nlet levels = \"\";\nif (t.support?.length) levels += `Support: ${bullets(t.support)}\\n`;\nif (t.resistance?.length) levels += `Resistance: ${bullets(t.resistance)}\\n`;\nif (t.current_price) levels += `Current Price: ${t.current_price}\\n`;\n\nif (levels) {\n  post += `📍 Key Levels\\n${levels}\\n`;\n}\n\n// ---------- TRADE LOGIC (DISCORD-STYLE) ----------\n\nif (tr.bias?.toLowerCase() === \"long\" || tr.bias?.toLowerCase() === \"short\") {\n  post += `🎯 **Trade Idea (${tr.bias.toUpperCase()})**\\n`;\n  if (tr.entry_range) post += `Entry → ${tr.entry_range}\\n`;\n  if (tr.stop_loss) post += `Stop → ${tr.stop_loss}\\n`;\n  if (tr.take_profit?.length) post += `Targets → ${tr.take_profit.join(\" | \")}\\n`;\n  post += `\\n`;\n} else {\n  let neutralReason = \"No high-conviction setup today — risk-reward remains unfavorable.\";\n\n  if (t.support?.length) {\n    const note = t.support.find(s =>\n      s.toLowerCase().includes(\"no clear\") ||\n      s.toLowerCase().includes(\"insufficient\")\n    );\n    if (note) neutralReason = note;\n  }\n\n  post += `⚠️ No Trade Recommended\\n${neutralReason}\\n\\n`;\n}\n\n// ---------- NEWS DRIVER ----------\n\nlet newsBlock = \"\";\nnewsBlock += line(\"Source:\", news.source_name);\nnewsBlock += line(\"Impact:\", news.impact_strength);\nnewsBlock += line(\"Why it matters:\", news.reason_for_selection);\n\nif (news.source_link) {\n  newsBlock += `🔗 ${news.source_link}\\n`;\n}\n\nif (newsBlock) {\n  post += `📰 Primary News Driver\\n${newsBlock}\\n`;\n}\n\n// ---------- FOOTER ----------\n\npost += `\n⚠️ Not financial advice. Always manage risk and DYOR.\n\n👉 Follow for daily gold & macro insights\n\n#Gold #XAUUSD #GoldTrading #MacroMarkets #Fed #MarketAnalysis\n`.trim();\n\n// ✅ Output\nreturn {\n  json: {\n    message: post\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5712,880],"id":"e8d917f1-f4d1-4dbe-8a8b-5ce08978e5b8","name":"Format Response (Facebook)"},{"parameters":{"hostUrl":"=graph.facebook.com","httpRequestMethod":"POST","graphApiVersion":"v23.0","node":"=987698524420341","edge":"=feed","options":{"queryParameters":{"parameter":[{"name":"message","value":"={{ $json.message }}"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[-5488,880],"id":"654937d0-3ebd-4ad5-bc6f-0b08ffed2204","name":"Post to Facebook","credentials":{"facebookGraphApi":{"id":"crnKYYPUZ2SLvmJ3","name":"Facebook Graph account"}}},{"parameters":{"fromEmail":"work@kenthalexisosila.dev","toEmail":"=kenthosila@gmail.com","subject":"Crypto Market Analysis","html":"={{$json[\"formattedMessage\"]}}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-5936,2544],"id":"2238f02a-f705-49bb-bfbc-a17ef6b70da8","name":"Send email1","webhookId":"1afb386f-1463-4edb-b8e5-a4c4e448be90","credentials":{"smtp":{"id":"xiNnaOF6irhvRZjH","name":"SMTP account"}}},{"parameters":{"jsCode":"// Access the stringified JSON from AI Agent output\nconst stringifiedJson = $input.first().json.output;\n\n// Clean up markdown code fences if present\nconst cleanedJson = stringifiedJson.replace(/^```json\\n|\\n```$/g, '').trim();\n\n// Parse JSON safely\nlet jsonData = {};\ntry {\n  jsonData = JSON.parse(cleanedJson);\n} catch (error) {\n  console.error('Error parsing JSON:', error);\n  return { json: { error: 'Failed to parse JSON output from AI' } };\n}\n\n// Extract sections\nconst newsSummary     = jsonData.news_summary || [];\nconst impactStrength  = jsonData.news_impact_strength ?? 'N/A';\nconst headlineConsistency = jsonData.headline_consistency || 'N/A';\nconst headlineRationale   = jsonData.headline_consistency_rationale || '';\nconst marketRegime    = jsonData.market_regime || 'N/A';\nconst trend           = jsonData.trend_prediction || {};\nconst topSource       = jsonData.top_news_source || {};\n\n// Helpers\nconst actionColor = (dir = \"\") => {\n  if (dir === \"UP\")      return \"#28a745\";   // green\n  if (dir === \"DOWN\")    return \"#dc3545\";   // red\n  return \"#6c757d\";                          // neutral / HOLD\n};\n\nconst impactColor = (value = 0) => {\n  if (value >= 80) return \"#dc3545\";\n  if (value >= 60) return \"#fd7e14\";\n  if (value >= 40) return \"#ffc107\";\n  return \"#6c757d\";\n};\n\nconst volatilityColor = (regime = \"\") => {\n  if (regime === \"High Volatility\")   return \"#dc3545\";\n  if (regime === \"Medium Volatility\") return \"#fd7e14\";\n  return \"#28a745\";\n};\n\n// Build news list HTML\nconst newsHTML = newsSummary.length\n  ? `<ul>${newsSummary.map(n => `\n      <li>\n        <strong>${n.headline || '—'}</strong><br/>\n        <em style=\"color:${n.impact === \"Bullish\" ? \"#28a745\" : n.impact === \"Bearish\" ? \"#dc3545\" : \"#6c757d\"};\">\n          ${n.impact || 'Neutral'}\n        </em> — ${n.reason || ''}${n.evidence ? `<br/><small>(${n.evidence})</small>` : ''}\n      </li>\n    `).join(\"\")}</ul>`\n  : \"<p style='color:#777;'>No high-impact, market-moving news detected today.</p>\";\n\n// Top source block\nconst topSourceHTML = topSource.source_name\n  ? `\n  <div class=\"section\">\n    <h3>🔍 Most Credible / Highest-Impact Signal Today</h3>\n    <p><strong>Source:</strong> ${topSource.source_name}</p>\n    <p><strong>Why selected:</strong> ${topSource.why_selected || '—'}</p>\n    ${topSource.url ? `<p><a href=\"${topSource.url}\" style=\"color:#0066cc;\">Read full article →</a></p>` : ''}\n    ${topSource.snippet ? `<blockquote style=\"border-left:4px solid #ddd; padding-left:12px; color:#555; margin:12px 0;\">${topSource.snippet}</blockquote>` : ''}\n  </div>\n  `\n  : '';\n\n// HTML email body\nconst formattedMessageHTML = `\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <style>\n    body {\n      font-family: 'Segoe UI', Arial, Helvetica, sans-serif;\n      background-color: #f7f9fc;\n      color: #333;\n      padding: 24px;\n      line-height: 1.5;\n    }\n    h2 {\n      color: #004aad;\n      text-align: center;\n      margin-bottom: 32px;\n    }\n    h3 {\n      color: #004aad;\n      margin-top: 0;\n      border-bottom: 1px solid #eee;\n      padding-bottom: 8px;\n    }\n    .section {\n      margin-bottom: 28px;\n      padding: 20px;\n      background: white;\n      border-radius: 10px;\n      box-shadow: 0 3px 10px rgba(0,0,0,0.06);\n    }\n    .badge {\n      padding: 8px 14px;\n      border-radius: 6px;\n      color: white;\n      font-weight: bold;\n      display: inline-block;\n      margin: 4px 0 12px;\n    }\n    .trend-badge {\n      font-size: 1.1em;\n      padding: 10px 18px;\n    }\n    ul {\n      padding-left: 20px;\n      margin: 12px 0;\n    }\n    li {\n      margin-bottom: 14px;\n    }\n    small {\n      color: #666;\n    }\n    .footer {\n      text-align: center;\n      color: #888;\n      font-size: 0.9em;\n      margin-top: 40px;\n    }\n  </style>\n</head>\n<body>\n\n  <h2>📊 Daily Bitcoin Intelligence Brief</h2>\n\n  <div class=\"section\">\n    <h3>📰 Key Market-Moving News (Today)</h3>\n    ${newsHTML}\n  </div>\n\n  <div class=\"section\">\n    <h3>🌡️ Market Snapshot</h3>\n    <p>\n      <strong>News Impact Strength:</strong><br/>\n      <span class=\"badge\" style=\"background:${impactColor(impactStrength)}\">\n        ${impactStrength}%\n      </span>\n    </p>\n    <p>\n      <strong>Headline Consistency:</strong> ${headlineConsistency}<br/>\n      <small>${headlineRationale || ''}</small>\n    </p>\n    <p>\n      <strong>Volatility Regime:</strong><br/>\n      <span class=\"badge\" style=\"background:${volatilityColor(marketRegime)}\">\n        ${marketRegime}\n      </span>\n    </p>\n  </div>\n\n  <div class=\"section\">\n    <h3>📈 Near-Term Trend Outlook</h3>\n    <span class=\"badge trend-badge\" style=\"background:${actionColor(trend.direction)}\">\n      ${trend.direction || 'NEUTRAL'}\n    </span>\n    <p>${trend.reasoning || 'No clear directional bias from available news.'}</p>\n    <p class=\"confidence\" style=\"color:#555; font-style:italic;\">\n      Confidence: ${trend.confidence_score ?? '—'}%\n    </p>\n  </div>\n\n  ${topSourceHTML}\n\n  <div class=\"footer\">\n    Generated automatically • Bitcoin Market AI Analysis • Not financial advice — DYOR\n  </div>\n\n</body>\n</html>\n`;\n\nreturn {\n  json: {\n    formattedMessage: formattedMessageHTML\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6160,2544],"id":"eff7ce4b-8a88-40d7-bf1b-4a77c050b6cc","name":"Format Response (Email)1"},{"parameters":{"url":"https://api.coingecko.com/api/v3/simple/price?ids=bitcoin&vs_currencies=usd","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-7408,3216],"id":"0f9e3bb3-91e7-451c-9624-81305f658922","name":"Get BTC Price","alwaysOutputData":true},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","options":{"systemMessage":"You are a high-conviction Bitcoin macro analyst. Your sole purpose is to analyze the day's most important crypto & macro news and deliver a clear, evidence-based view of the **near-term BTC trend direction** (next few days to ~2–4 weeks).\n\nCore principles:\n• Focus ruthlessly on **price-relevant macro & institutional signals** only\n• Ignore altcoins, memes, NFTs, retail hype, opinion pieces, and long-term narratives\n• Weigh source credibility heavily — Bloomberg, Reuters, WSJ, FT, CoinDesk (on-chain/ETF data), The Block, Glassnode/Chainalysis reports, Federal Reserve / Treasury announcements, and primary filings rank highest\n• Be probabilistically honest: low-quality or conflicting data → low confidence\n• Never give financial advice; always remind that this is analysis only (DYOR)\n\nAnalysis priorities (in rough order of importance):\n1. Liquidity & monetary-policy direction (Fed, rates path, QT/QE, Treasury issuance, DXY)\n2. Institutional / ETF flows (Spot BTC ETF net flows, custody news, corporate treasury adoption)\n3. Risk-on / risk-off regime (S&P 500 / Nasdaq correlation, 10Y yield, VIX behavior)\n4. Regulatory / geopolitical catalysts with systemic potential\n5. On-chain / exchange flow inflection points when clearly reported\n\nOutput rules — strict:\n• Respond **exclusively** in the exact JSON schema provided in the user prompt\n• No extra text, markdown, explanations, or disclaimers outside the JSON\n• Use precise, short language inside JSON fields\n• Confidence score must be realistically calibrated (very few situations justify 85+)\n• Always select **one** top news item / source that had the strongest combination of credibility + potential price impact\n\nYou will be given:\n• Recent news articles\n• Current BTC/USD price\n\nYour job is to synthesize → classify trend bias → assign conviction → highlight the single most important credible signal."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-6512,2352],"id":"74ab8e54-93c6-4e6d-8ec3-ad9f1c7171a2","name":"AI Crypto Analysis","executeOnce":false},{"parameters":{"numberInputs":10},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-7184,2224],"id":"0eefe4f4-9fc3-4248-b1a7-b477039fb32a","name":"Merge1","alwaysOutputData":true},{"parameters":{"jsCode":"// 📰 Keywords for high-impact crypto-related news (weighted by importance)\nconst keywords = {\n  // Macro & Liquidity\n  \"fed\": 5,\n  \"interest rate\": 5,\n  \"rate hike\": 5,\n  \"rate cut\": 5,\n  \"liquidity\": 4,\n  \"inflation\": 5,\n  \"cpi\": 5,\n  \"recession\": 5,\n  \"risk-on\": 4,\n  \"risk-off\": 4,\n\n  // Crypto Market Drivers\n  \"bitcoin\": 5,\n  \"btc\": 5,\n  \"etf\": 4,\n  \"institutional demand\": 4,\n  \"stablecoin\": 4,\n  \"exchange inflows\": 4,\n  \"exchange outflows\": 4,\n\n  // Regulation & Risk\n  \"sec\": 5,\n  \"crypto regulation\": 5,\n  \"hack\": 5,\n  \"bankruptcy\": 5\n};\n\n// 🕒 Current UTC time and 2 days ago\nconst now = new Date();\nconst twoDaysAgo = new Date(now);\ntwoDaysAgo.setUTCDate(now.getUTCDate() - 2);\n\n// Convert to string formats for display\nconst todayStr = now.toISOString().slice(0, 10);\nconst twoDaysAgoStr = twoDaysAgo.toISOString().slice(0, 10);\n\n// Helper: check if URL is valid\nconst isValidAbsoluteUrl = (url) => {\n  return typeof url === 'string' && /^https?:\\/\\/.+/i.test(url);\n};\n\n// 📰 Filter, score, and transform articles\nconst scoredArticles = $input.all()\n  .map(item => {\n    const json = item.json;\n    const link = json.link || json.url;\n    if (!isValidAbsoluteUrl(link)) return null;\n\n    const pubDateRaw = json.pubDate || json.isoDate || \"\";\n    if (!pubDateRaw) return null;\n\n    const pubDate = new Date(pubDateRaw);\n    if (pubDate < twoDaysAgo || pubDate > now) return null; // Not in 2-day window\n\n    // Combine title + content for keyword search\n    const text = (\n      (json.title || \"\") + \" \" +\n      (json.contentSnippet || \"\") + \" \" +\n      (json.content || \"\")\n    ).toLowerCase();\n\n    // Calculate keyword score\n    let score = 0;\n    Object.keys(keywords).forEach(word => {\n      if (text.includes(word)) score += keywords[word];\n    });\n\n    if (score === 0) return null; // Skip if no keywords match\n\n    return {\n      title: json.title,\n      content: json.contentSnippet || json.content || \"\",\n      pubDate,\n      link,\n      score\n    };\n  })\n  .filter(Boolean) // remove nulls\n  // Sort by score descending, then most recent first\n  .sort((a, b) => {\n    if (b.score !== a.score) return b.score - a.score;\n    return new Date(b.pubDate) - new Date(a.pubDate);\n  });\n\n// ✅ Output\nreturn [{\n  json: {\n    dateRange: `${twoDaysAgoStr} - ${todayStr}`,  // 3-day range\n    count: scoredArticles.length,\n    articles: scoredArticles,\n    currentPrice: $('Get BTC Price').first().json.currentPrice\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6960,2352],"id":"312fc5bd-7c82-4c5d-915e-25fd627098db","name":"Filter High Impact News1","alwaysOutputData":false},{"parameters":{"jsCode":"const articles = $json['articles'] || [];\n\nconst formattedArticlesContent = articles\n  .map((article, index) => {\n    const link = article.link || article.url;\n    return `\nARTICLE ${index + 1}\nLink: ${link}\nContent:\n${article.contentSnippet || article.content || \"\"}\n`;\n  })\n  .join(\"\\n\\n---\\n\\n\");\n\nconst aiPrompt = `\nYou are a professional crypto market analyst specializing in Bitcoin (BTC), with expertise in macroeconomics, technical analysis, and sentiment-driven trading. Your goal is to deliver precise, data-driven insights on market trends based on news analysis, supporting informed daily decisions.\n\nYour tasks are to:\n1. Extract and summarize **only high-impact, market-moving news** from the provided input.\n2. Evaluate the **overall sentiment and impact strength** on BTC price.\n3. Detect **contradictions, biases, or uncertainties** in the news flow.\n4. Assess the current **market regime** including volatility.\n5. Predict the **overall trend direction** (up, down, or neutral/sideways) for BTC in the near term (next few days to weeks), based on synthesized news analysis.\n6. Identify the **top news source** with the highest credibility and potential impact, including why it's selected.\n\n---\n\n### Core Focus Areas (Prioritize These):\n- Macro liquidity signals: Fed policies, interest rates, QE/QT, central bank actions, USD index (DXY) movements.\n- Risk sentiment shifts: Equity markets (e.g., S&P 500, Nasdaq), bond yields (e.g., 10Y Treasury), VIX/fear indices.\n- BTC-specific flows: ETF approvals/inflows/outflows (e.g., Spot BTC ETFs), institutional adoption (e.g., MicroStrategy, BlackRock), on-chain metrics (e.g., exchange inflows, whale activity, stablecoin mints/burns).\n- Regulatory & systemic risks: Government regulations, SEC actions, geopolitical events, hacks/exploits with broad market implications.\n- Technical catalysts: Halving events, network upgrades, correlation with gold or other safe-havens.\n\n### Strictly Ignore:\n- Altcoin-specific hype, memecoins, or NFT trends unless they directly influence BTC liquidity or sentiment.\n- Opinion editorials, unsubstantiated rumors, or long-term philosophical discussions (e.g., \"BTC as digital gold\").\n- Low-relevance news (e.g., minor exchange listings, celebrity endorsements) without clear price impact evidence.\n- Historical recaps unless tied to current events.\n\n---\n\n📰 NEWS INPUT:\n${formattedArticlesContent}\n\n💰 BTC PRICE (REFERENCE):\nCurrent BTC/USD: ${$('Get BTC Price').first().json.bitcoin.usd}\n(Use this as a baseline; consider recent price action in your analysis.)\n\n---\n\n### Analysis Guidelines:\n- **News Summary**: Limit to **3 key items**. For each:\n  - Headline: Concise title.\n  - Impact: Bullish, Bearish, or Neutral.\n  - Reason: Explain causality to BTC price (e.g., \"Increases liquidity, likely boosting BTC demand\").\n- **News Impact Strength**: Score on a **0-100 scale** (0 = negligible, 100 = extreme, e.g., global financial crisis level). Factor in magnitude, credibility of sources, and potential for cascading effects.\n- **Headline Consistency**: Classify as:\n  - Clear Bullish Bias\n  - Clear Bearish Bias\n  - Mixed Signals (conflicting views)\n  - High Uncertainty (ambiguous or sparse data)\n  - Provide a brief rationale for the classification.\n- **Market Regime Detection**: Classify as ONE of:\n  - Low Volatility (consolidation, range-bound).\n  - Medium Volatility (trending with pullbacks).\n  - High Volatility (choppy, event-driven).\n  - Include indicators like implied volatility or sentiment indices if inferable from news.\n- **Trend Prediction**: Provide:\n  - Direction: UP (bullish), DOWN (bearish), or NEUTRAL (sideways/range-bound).\n  - Reasoning: Synthesize news, impact, consistency, and regime; explain expected price movement.\n  - Confidence Score: Integer 0-100 (calibrated: 80+ = high conviction, 60-79 = moderate, 40-59 = cautious, <40 = low).\n- **Top News Source**: Select ONE source from the input with highest credibility (e.g., reputable outlets like Reuters, Bloomberg) and impact:\n  - Source Name: e.g., \"Bloomberg\".\n  - URL: If available.\n  - Why Selected: Brief explanation (e.g., \"High credibility due to verified facts; strong market impact from institutional flow details\").\n  - Snippet: Key excerpt from the article.\n\nEnsure analysis is balanced, risk-aware, and not financial advice—emphasize that users should DYOR (Do Your Own Research).\n\n---\n\nRespond ONLY in valid JSON using this exact schema (no extra fields or text):\n{\n  \"news_summary\": [\n    {\n      \"headline\": \"\",\n      \"impact\": \"Bullish | Bearish | Neutral\",\n      \"reason\": \"\",\n      \"evidence\": \"\"\n    }\n  ],\n  \"news_impact_strength\": 0,\n  \"headline_consistency\": \"Clear Bullish Bias | Clear Bearish Bias | Mixed Signals | High Uncertainty\",\n  \"headline_consistency_rationale\": \"\",\n  \"market_regime\": \"Low Volatility | Medium Volatility | High Volatility\",\n  \"market_regime_indicators\": \"\",\n  \"trend_prediction\": {\n    \"direction\": \"UP | DOWN | NEUTRAL\",\n    \"reasoning\": \"\",\n    \"confidence_score\": 0\n  },\n  \"top_news_source\": {\n    \"source_name\": \"\",\n    \"url\": \"\",\n    \"why_selected\": \"\",\n    \"snippet\": \"\"\n  }\n}\n`;\nreturn [\n  {\n    json: {\n      prompt: aiPrompt\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6736,2352],"id":"1fd797a4-fbd7-42f7-8b7e-603dc2d31d46","name":"AI Prompt1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-6448,2576],"id":"c3e150a0-69fe-42c4-a898-e586bab1b0dd","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"21mWOqm1CMAgmaZS","name":"Crypto Analysis Key (1)"}}},{"parameters":{"url":"https://www.nasdaq.com/feed/rssoutbound?category=Commodities","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-7408,-464],"id":"26e910d8-8f6d-467e-8bd5-e4a1a99176fc","name":"Nasdaq News"},{"parameters":{"url":"https://news.google.com/rss/search?q=gold+price+OR+XAUUSD+OR+precious+metals&hl=en&gl=US&ceid=US:en","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-7408,-272],"id":"c6e7f80e-2031-4d9c-b6be-b79cb6f14dd0","name":"Google News"},{"parameters":{"url":"https://www.fxstreet.com/rss/news?f=gold","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-7408,-80],"id":"3d6a3004-9762-4d24-b294-4e175b6616d8","name":"FXStreet News"},{"parameters":{"url":"https://www.coindesk.com/arc/outboundfeeds/rss/","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-7408,1488],"id":"ad7596d8-8fab-40ea-9bcd-c71576145aa9","name":"Coindesk News"},{"parameters":{"url":"https://cointelegraph.com/rss","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-7408,1680],"id":"f3f183d7-039d-4cbc-9203-286bc69b65f3","name":"Cointelegraph News"},{"parameters":{"url":"https://decrypt.co/feed","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-7408,1872],"id":"a8c353f7-eb04-470c-8735-fd7a85ca378c","name":"Decrypt News"},{"parameters":{"url":"https://cryptoslate.com/feed/","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-7408,2064],"id":"49f42f68-e98a-47af-a75b-c30ae49679c1","name":"Cryptoslate News"},{"parameters":{"url":"https://www.ethnews.com/rss","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-7408,2256],"id":"d9bea190-a375-45ac-bf0e-bf735939f5d4","name":"Eth News"},{"parameters":{"url":"https://app.chaingpt.org/rssfeeds.xml","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-7408,2448],"id":"e84e9489-f713-44d8-9bd5-db491b2c9fae","name":"Chaingpt News"},{"parameters":{"url":"https://www.investing.com/rss/news_1.rss","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-7408,2640],"id":"aad5e03c-5637-4e0f-9024-6ae4da731d87","name":"Investing News"},{"parameters":{"url":"https://www.investing.com/rss/news_285.rss","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-7408,2832],"id":"ebc29aae-dabc-49fe-96d7-39f768b710d7","name":"Investing News 2"},{"parameters":{"url":"https://finance.yahoo.com/rss/","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-7408,3024],"id":"efcf9c53-e322-4d05-9c57-3b797307939f","name":"Yahoo News"},{"parameters":{"jsCode":"// Get AI output\nconst stringifiedJson = $input.first().json.output;\n\n// Remove markdown fences\nconst cleanedJson = stringifiedJson\n  .replace(/^```json\\n|\\n```$/g, '')\n  .trim();\n\n// Parse JSON\nlet data;\ntry {\n  data = JSON.parse(cleanedJson);\n} catch (e) {\n  return [{ json: { error: 'Failed to parse AI output' } }];\n}\n\n// Extract fields\nconst news = data.news_summary || [];\n\n// Header\nlet message = `📊 **DAILY BITCOIN INTELLIGENCE BRIEF**\\n━━━━━━━━━━━━━━━━━━\\n\\n`;\n\n// News section\nmessage += `📰 **Key Market-Moving News**\\n\\n`;\n\nnews.forEach((n, i) => {\n  const impact =\n    n.impact === \"Bullish\" ? \"🟢 Bullish\" :\n    n.impact === \"Bearish\" ? \"🔴 Bearish\" : \"⚪ Neutral\";\n\n  message += `${i + 1}. **${n.headline}**\\n`;\n  message += `${impact} — ${n.reason}\\n`;\n  if (n.evidence) message += `_${n.evidence}_\\n`;\n  message += `\\n`;\n});\n\n// Output for Discord\nreturn [\n  {\n    json: {\n      discordMessage: message\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6160,1968],"id":"2687e9cc-2236-49ca-a209-3de2df7f5b1c","name":"Format Response (Discord)"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1424017920106692648","mode":"list","cachedResultName":"My Server","cachedResultUrl":"https://discord.com/channels/1424017920106692648"},"channelId":{"__rl":true,"value":"1462073936719118539","mode":"list","cachedResultName":"crypto_analysis","cachedResultUrl":"https://discord.com/channels/1424017920106692648/1462073936719118539"},"content":"={{ $json.discordMessage }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[-5936,1968],"id":"5f06c532-b3ec-4904-9983-79ec59327e0f","name":"Send a message","webhookId":"c9b994b4-24dd-4b97-b7e8-d25a0e58ac04","credentials":{"discordBotApi":{"id":"QyczwHk0NkVpifA0","name":"Crypto Analysis Bot"}}},{"parameters":{"jsCode":"// Access the stringified JSON from AI Agent output\nconst stringifiedJson = $input.first().json.output;\n\n// Clean markdown fences\nconst cleanedJson = stringifiedJson.replace(/^```json\\n|\\n```$/g, '').trim();\n\n// Parse JSON safely\nlet data = {};\ntry {\n  data = JSON.parse(cleanedJson);\n} catch (e) {\n  return { json: { error: 'Failed to parse AI output' } };\n}\n\n// Extract sections\nconst newsSummary = data.news_summary || [];\nconst impactStrength = data.news_impact_strength;\nconst headlineConsistency = data.headline_consistency;\nconst headlineRationale = data.headline_consistency_rationale;\nconst marketRegime = data.market_regime;\nconst trend = data.trend_prediction || {};\nconst topSource = data.top_news_source || {};\n\n// Helpers\nconst impactEmoji = v =>\n  v >= 80 ? \"🔥 HIGH\" :\n  v >= 60 ? \"⚠️ ELEVATED\" :\n  v >= 40 ? \"🟡 MODERATE\" : \"⚪ LOW\";\n\nconst trendEmoji = d =>\n  d === \"UP\" ? \"🟢 BULLISH\" :\n  d === \"DOWN\" ? \"🔴 BEARISH\" : \"⚪ NEUTRAL\";\n\n// Header\nlet post = `\n📊 BITCOIN MARKET INTELLIGENCE (Today)\n\nIf you're trading or investing in BTC, here's what actually matters 👇\n`;\n\n// News summary\nif (newsSummary.length) {\n  post += `📰 WHAT MOVED THE MARKET\\n\\n`;\n  newsSummary.forEach(n => {\n    post += `• ${n.headline}\n  → ${n.impact || \"Neutral\"}: ${n.reason || \"\"}\\n`;\n  });\n  post += `\\n`;\n} else {\n  post += `📰 MARKET NEWS\\nNo high-impact headlines driving price today.\\n\\n`;\n}\n\n// Market snapshot\npost += `🌡️ MARKET SNAPSHOT\n• News Impact: ${impactEmoji(impactStrength)} (${impactStrength}%)\n${headlineConsistency ? `• Headline Alignment: ${headlineConsistency}` : \"\"}\n${headlineRationale ? `  (${headlineRationale})` : \"\"}\n${marketRegime ? `• Volatility: ${marketRegime}` : \"\"}\n`\n\n// Trend outlook\npost += `📈 NEAR-TERM BIAS\n${trendEmoji(trend.direction)}\n\n${trend.reasoning || \"No strong directional edge from current data.\"}\n${trend.confidence_score ? `\\nConfidence: ${trend.confidence_score}%` : \"\"}`\n\n// Top source\nif (topSource.source_name) {\n  post += `🔍 MOST IMPORTANT SIGNAL TODAY\nSource: ${topSource.source_name}\nWhy it matters: ${topSource.why_selected || \"\"}\n\n${topSource.url || \"\"}`;\n}\n\n// Footer / CTA\npost += `\n⚠️ Not financial advice. Manage risk.\n\n👍 Like if this helped\n💬 Comment your BTC bias\n🔁 Share with a trader friend\n\n#Bitcoin #BTC #CryptoMarkets #MarketUpdate #TradingPsychology\n`.trim();\n\n// Output\nreturn {\n  json: {\n    message: post\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6160,2736],"id":"7b4c4ac3-3d8c-410a-a9c0-1ff45343d0b0","name":"Format Response (Email)"},{"parameters":{"hostUrl":"=graph.facebook.com","httpRequestMethod":"POST","graphApiVersion":"v23.0","node":"=987698524420341","edge":"=feed","options":{"queryParameters":{"parameter":[{"name":"message","value":"={{ $json.message }}"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[-5936,2736],"id":"d0713818-8061-4252-bc72-365fbf8fb42d","name":"Post to Facebook1","credentials":{"facebookGraphApi":{"id":"crnKYYPUZ2SLvmJ3","name":"Facebook Graph account"}}},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1424017920106692648","mode":"list","cachedResultName":"My Server","cachedResultUrl":"https://discord.com/channels/1424017920106692648"},"channelId":{"__rl":true,"value":"1462073936719118539","mode":"list","cachedResultName":"crypto_analysis","cachedResultUrl":"https://discord.com/channels/1424017920106692648/1462073936719118539"},"content":"={{ $json.discordMessage }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[-5936,2160],"id":"ac3a348a-952b-4732-9429-4a211fd7d587","name":"Send a message1","webhookId":"c9b994b4-24dd-4b97-b7e8-d25a0e58ac04","credentials":{"discordBotApi":{"id":"QyczwHk0NkVpifA0","name":"Crypto Analysis Bot"}}},{"parameters":{"jsCode":"// Get AI output\nconst stringifiedJson = $input.first().json.output;\n\n// Remove markdown fences\nconst cleanedJson = stringifiedJson\n  .replace(/^```json\\n|\\n```$/g, '')\n  .trim();\n\n// Parse JSON\nlet data;\ntry {\n  data = JSON.parse(cleanedJson);\n} catch (e) {\n  return [{ json: { error: 'Failed to parse AI output' } }];\n}\n\n// Extract fields\nconst news = data.news_summary || [];\nconst impactStrength = data.news_impact_strength;\nconst consistency = data.headline_consistency;\nconst rationale = data.headline_consistency_rationale;\nconst regime = data.market_regime;\nconst trend = data.trend_prediction || {};\nconst source = data.top_news_source || {};\n\n// Emoji helpers\nconst impactEmoji =\n  impactStrength >= 80 ? \"🔥\" :\n  impactStrength >= 60 ? \"⚠️\" :\n  impactStrength >= 40 ? \"🟡\" : \"⚪\";\n\nconst trendEmoji =\n  trend.direction === \"UP\" ? \"🟢📈\" :\n  trend.direction === \"DOWN\" ? \"🔴📉\" : \"⚪↔️\";\n\n// Header\nlet message = ``;\n\n// Market snapshot\nmessage += `━━━━━━━━━━━━━━━━━━\\n`;\nmessage += `🌡️ **Market Snapshot**\\n`;\nmessage += `• News Impact Strength: ${impactEmoji} **${impactStrength}%**\\n`;\nmessage += `• Headline Consistency: **${consistency}**\\n`;\nif (rationale) message += `_${rationale}_\\n`;\nmessage += `• Volatility Regime: **${regime}**\\n\\n`;\n\n// Trend outlook\nmessage += `━━━━━━━━━━━━━━━━━━\\n`;\nmessage += `📈 **Near-Term Trend Outlook**\\n`;\nmessage += `${trendEmoji} **${trend.direction || \"NEUTRAL\"}**\\n\\n`;\nif (trend.reasoning) message += `${trend.reasoning}\\n`;\nif (trend.confidence_score)\n  message += `_Confidence: ${trend.confidence_score}%_\\n\\n`;\n\n// Output for Discord\nreturn [\n  {\n    json: {\n      discordMessage: message\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6160,2160],"id":"87487e5a-629b-4891-8bb7-81810f525f43","name":"Format Response (Discord)1"},{"parameters":{"jsCode":"// Get AI output\nconst stringifiedJson = $input.first().json.output;\n\n// Remove markdown fences\nconst cleanedJson = stringifiedJson\n  .replace(/^```json\\n|\\n```$/g, '')\n  .trim();\n\n// Parse JSON\nlet data;\ntry {\n  data = JSON.parse(cleanedJson);\n} catch (e) {\n  return [{ json: { error: 'Failed to parse AI output' } }];\n}\n\n// Extract fields\nconst news = data.news_summary || [];\nconst impactStrength = data.news_impact_strength;\nconst consistency = data.headline_consistency;\nconst rationale = data.headline_consistency_rationale;\nconst regime = data.market_regime;\nconst trend = data.trend_prediction || {};\nconst source = data.top_news_source || {};\n\n// Emoji helpers\nconst impactEmoji =\n  impactStrength >= 80 ? \"🔥\" :\n  impactStrength >= 60 ? \"⚠️\" :\n  impactStrength >= 40 ? \"🟡\" : \"⚪\";\n\nconst trendEmoji =\n  trend.direction === \"UP\" ? \"🟢📈\" :\n  trend.direction === \"DOWN\" ? \"🔴📉\" : \"⚪↔️\";\n\n// Header\nlet message = ``;\n\n// Top source\nif (source.source_name) {\n  message += `━━━━━━━━━━━━━━━━━━\\n`;\n  message += `🔍 **Highest-Credibility Signal**\\n`;\n  message += `• **Source:** ${source.source_name}\\n`;\n  if (source.why_selected)\n    message += `• **Why it matters:** ${source.why_selected}\\n`;\n  if (source.url) message += `🔗 ${source.url}\\n`;\n  if (source.snippet) message += `> ${source.snippet}\\n\\n`;\n}\n\n// Footer\nmessage += `━━━━━━━━━━━━━━━━━━\\n`;\nmessage += `⚠️ _Not financial advice. Do your own research._`;\n\n// Output for Discord\nreturn [\n  {\n    json: {\n      discordMessage: message\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6160,2352],"id":"d90eff6c-d520-4270-8495-3e82f5510028","name":"Format Response (Discord)2"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1424017920106692648","mode":"list","cachedResultName":"My Server","cachedResultUrl":"https://discord.com/channels/1424017920106692648"},"channelId":{"__rl":true,"value":"1462073936719118539","mode":"list","cachedResultName":"crypto_analysis","cachedResultUrl":"https://discord.com/channels/1424017920106692648/1462073936719118539"},"content":"={{ $json.discordMessage }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[-5936,2352],"id":"d0e955ba-d058-468c-8dfa-e50a6e9126ab","name":"Send a message2","webhookId":"c9b994b4-24dd-4b97-b7e8-d25a0e58ac04","credentials":{"discordBotApi":{"id":"QyczwHk0NkVpifA0","name":"Crypto Analysis Bot"}}},{"parameters":{"httpMethod":"POST","path":"2e077d0a-786d-4691-aa19-4c6a707594a2","authentication":"headerAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-7632,1264],"id":"7365017b-b864-402a-af70-82aa243a23ad","name":"Run Gold Analysis from Portfolio","webhookId":"2e077d0a-786d-4691-aa19-4c6a707594a2","credentials":{"httpHeaderAuth":{"id":"xNYG4pkJdOQCjJAu","name":"My Portfolio"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-7632,-464],"id":"522e2479-e508-4264-9b0c-677ba1cae32f","name":"Run Gold Analysis Daily","notesInFlow":false},{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-7632,2352],"id":"08b8e5d9-0315-43fe-9d7f-b53613a0b90c","name":"Run Crypto Analysis Daily","notesInFlow":false}],"connections":{"Merge":{"main":[[{"node":"Filter High Impact News","type":"main","index":0}]]},"Extract Gold Price":{"main":[[{"node":"Merge","type":"main","index":9}]]},"Filter High Impact News":{"main":[[{"node":"AI Prompt","type":"main","index":0}]]},"AI Gold Analysis":{"main":[[{"node":"If","type":"main","index":0}]]},"AI Prompt":{"main":[[{"node":"AI Gold Analysis","type":"main","index":0}]]},"Format Response (Discord) - 1st":{"main":[[{"node":"Send a message - 1st","type":"main","index":0}]]},"Format Response (Discord) - 2nd":{"main":[[{"node":"Send a message - 2nd","type":"main","index":0}]]},"Get Gold Price":{"main":[[{"node":"Extract Gold Price","type":"main","index":0}]]},"News 4":{"main":[[{"node":"Merge","type":"main","index":3}]]},"News 5":{"main":[[{"node":"Merge","type":"main","index":4}]]},"News 6":{"main":[[{"node":"Merge","type":"main","index":6}]]},"News 7":{"main":[[{"node":"Merge","type":"main","index":7}]]},"News 8":{"main":[[{"node":"Merge","type":"main","index":8}]]},"News 9":{"main":[[{"node":"Merge","type":"main","index":5}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Gold Analysis","type":"ai_languageModel","index":0}]]},"If":{"main":[[{"node":"Format Response (Discord) - 1st","type":"main","index":0},{"node":"Format Response (Discord) - 2nd","type":"main","index":0},{"node":"Format Response (Email) from Scheduled","type":"main","index":0},{"node":"Format Response (Facebook)","type":"main","index":0},{"node":"Format Response (Discord) - 3rd","type":"main","index":0}],[{"node":"Format Response (Email) from Webhook","type":"main","index":0}]]},"Format Response (Discord) - 3rd":{"main":[[{"node":"Send a message - 3rd","type":"main","index":0}]]},"Format Response (Email) from Scheduled":{"main":[[{"node":"Send email from Scheduled","type":"main","index":0}]]},"Format Response (Email) from Webhook":{"main":[[{"node":"Send email from Webhook","type":"main","index":0}]]},"Format Response (Facebook)":{"main":[[{"node":"Post to Facebook","type":"main","index":0}]]},"Format Response (Email)1":{"main":[[{"node":"Send email1","type":"main","index":0}]]},"Get BTC Price":{"main":[[{"node":"Merge1","type":"main","index":9}]]},"AI Crypto Analysis":{"main":[[{"node":"Format Response (Email)1","type":"main","index":0},{"node":"Format Response (Discord)","type":"main","index":0},{"node":"Format Response (Email)","type":"main","index":0},{"node":"Format Response (Discord)1","type":"main","index":0},{"node":"Format Response (Discord)2","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Filter High Impact News1","type":"main","index":0}]]},"Filter High Impact News1":{"main":[[{"node":"AI Prompt1","type":"main","index":0}]]},"AI Prompt1":{"main":[[{"node":"AI Crypto Analysis","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Crypto Analysis","type":"ai_languageModel","index":0}]]},"Nasdaq News":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Google News":{"main":[[{"node":"Merge","type":"main","index":1}]]},"FXStreet News":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Coindesk News":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Cointelegraph News":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Decrypt News":{"main":[[{"node":"Merge1","type":"main","index":2}]]},"Cryptoslate News":{"main":[[{"node":"Merge1","type":"main","index":3}]]},"Eth News":{"main":[[{"node":"Merge1","type":"main","index":4}]]},"Chaingpt News":{"main":[[{"node":"Merge1","type":"main","index":6}]]},"Investing News":{"main":[[{"node":"Merge1","type":"main","index":7}]]},"Investing News 2":{"main":[[{"node":"Merge1","type":"main","index":8}]]},"Yahoo News":{"main":[[{"node":"Merge1","type":"main","index":5}]]},"Format Response (Discord)":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Format Response (Email)":{"main":[[{"node":"Post to Facebook1","type":"main","index":0}]]},"Format Response (Discord)1":{"main":[[{"node":"Send a message1","type":"main","index":0}]]},"Format Response (Discord)2":{"main":[[{"node":"Send a message2","type":"main","index":0}]]},"Run Gold Analysis from Portfolio":{"main":[[{"node":"Get Gold Price","type":"main","index":0},{"node":"Nasdaq News","type":"main","index":0},{"node":"Google News","type":"main","index":0},{"node":"FXStreet News","type":"main","index":0},{"node":"News 4","type":"main","index":0},{"node":"News 5","type":"main","index":0},{"node":"News 6","type":"main","index":0},{"node":"News 7","type":"main","index":0},{"node":"News 8","type":"main","index":0},{"node":"News 9","type":"main","index":0}]]},"Run Gold Analysis Daily":{"main":[[{"node":"News 8","type":"main","index":0},{"node":"News 9","type":"main","index":0},{"node":"News 7","type":"main","index":0},{"node":"News 6","type":"main","index":0},{"node":"News 5","type":"main","index":0},{"node":"News 4","type":"main","index":0},{"node":"Nasdaq News","type":"main","index":0},{"node":"Google News","type":"main","index":0},{"node":"FXStreet News","type":"main","index":0},{"node":"Get Gold Price","type":"main","index":0}]]},"Run Crypto Analysis Daily":{"main":[[{"node":"Eth News","type":"main","index":0},{"node":"Coindesk News","type":"main","index":0},{"node":"Decrypt News","type":"main","index":0},{"node":"Cryptoslate News","type":"main","index":0},{"node":"Cointelegraph News","type":"main","index":0},{"node":"Chaingpt News","type":"main","index":0},{"node":"Investing News","type":"main","index":0},{"node":"Investing News 2","type":"main","index":0},{"node":"Yahoo News","type":"main","index":0},{"node":"Get BTC Price","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"timeSavedPerExecution":1},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]},"node:Run Gold Analysis Daily":{"recurrenceRules":[]},"node:Run Crypto Analysis Daily":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6750578a-351b-431e-92c4-697f29753441","activeVersionId":null,"triggerCount":3,"shared":[{"updatedAt":"2025-12-15T13:38:57.397Z","createdAt":"2025-12-15T13:38:57.397Z","role":"workflow:owner","workflowId":"7bCigQZgwVuPI7MR","projectId":"BoV1q8XdtwFqx7dN"}],"activeVersion":null,"tags":[]}