workflows/csoeZaelo9wFflVg.json
{"updatedAt":"2026-01-18T14:06:08.745Z","createdAt":"2026-01-07T15:26:29.838Z","id":"csoeZaelo9wFflVg","name":"Crypto Analysis Workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"fromEmail":"work@kenthalexisosila.dev","toEmail":"=kenthosila@gmail.com","subject":"Crypto Market Analysis","html":"={{$json[\"formattedMessage\"]}}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[816,2560],"id":"76e29a8a-44f6-4c1d-a884-cb603c98d247","name":"Send email1","webhookId":"1afb386f-1463-4edb-b8e5-a4c4e448be90","credentials":{"smtp":{"id":"xiNnaOF6irhvRZjH","name":"SMTP account"}}},{"parameters":{"jsCode":"// Access the stringified JSON from AI Agent output\nconst stringifiedJson = $input.first().json.output;\n\n// Clean up markdown code fences if present\nconst cleanedJson = stringifiedJson.replace(/^```json\\n|\\n```$/g, '').trim();\n\n// Parse JSON safely\nlet jsonData = {};\ntry {\n  jsonData = JSON.parse(cleanedJson);\n} catch (error) {\n  console.error('Error parsing JSON:', error);\n  return { json: { error: 'Failed to parse JSON output from AI' } };\n}\n\n// Extract sections\nconst newsSummary     = jsonData.news_summary || [];\nconst impactStrength  = jsonData.news_impact_strength ?? 'N/A';\nconst headlineConsistency = jsonData.headline_consistency || 'N/A';\nconst headlineRationale   = jsonData.headline_consistency_rationale || '';\nconst marketRegime    = jsonData.market_regime || 'N/A';\nconst trend           = jsonData.trend_prediction || {};\nconst topSource       = jsonData.top_news_source || {};\n\n// Helpers\nconst actionColor = (dir = \"\") => {\n  if (dir === \"UP\")      return \"#28a745\";   // green\n  if (dir === \"DOWN\")    return \"#dc3545\";   // red\n  return \"#6c757d\";                          // neutral / HOLD\n};\n\nconst impactColor = (value = 0) => {\n  if (value >= 80) return \"#dc3545\";\n  if (value >= 60) return \"#fd7e14\";\n  if (value >= 40) return \"#ffc107\";\n  return \"#6c757d\";\n};\n\nconst volatilityColor = (regime = \"\") => {\n  if (regime === \"High Volatility\")   return \"#dc3545\";\n  if (regime === \"Medium Volatility\") return \"#fd7e14\";\n  return \"#28a745\";\n};\n\n// Build news list HTML\nconst newsHTML = newsSummary.length\n  ? `<ul>${newsSummary.map(n => `\n      <li>\n        <strong>${n.headline || '—'}</strong><br/>\n        <em style=\"color:${n.impact === \"Bullish\" ? \"#28a745\" : n.impact === \"Bearish\" ? \"#dc3545\" : \"#6c757d\"};\">\n          ${n.impact || 'Neutral'}\n        </em> — ${n.reason || ''}${n.evidence ? `<br/><small>(${n.evidence})</small>` : ''}\n      </li>\n    `).join(\"\")}</ul>`\n  : \"<p style='color:#777;'>No high-impact, market-moving news detected today.</p>\";\n\n// Top source block\nconst topSourceHTML = topSource.source_name\n  ? `\n  <div class=\"section\">\n    <h3>🔍 Most Credible / Highest-Impact Signal Today</h3>\n    <p><strong>Source:</strong> ${topSource.source_name}</p>\n    <p><strong>Why selected:</strong> ${topSource.why_selected || '—'}</p>\n    ${topSource.url ? `<p><a href=\"${topSource.url}\" style=\"color:#0066cc;\">Read full article →</a></p>` : ''}\n    ${topSource.snippet ? `<blockquote style=\"border-left:4px solid #ddd; padding-left:12px; color:#555; margin:12px 0;\">${topSource.snippet}</blockquote>` : ''}\n  </div>\n  `\n  : '';\n\n// HTML email body\nconst formattedMessageHTML = `\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <style>\n    body {\n      font-family: 'Segoe UI', Arial, Helvetica, sans-serif;\n      background-color: #f7f9fc;\n      color: #333;\n      padding: 24px;\n      line-height: 1.5;\n    }\n    h2 {\n      color: #004aad;\n      text-align: center;\n      margin-bottom: 32px;\n    }\n    h3 {\n      color: #004aad;\n      margin-top: 0;\n      border-bottom: 1px solid #eee;\n      padding-bottom: 8px;\n    }\n    .section {\n      margin-bottom: 28px;\n      padding: 20px;\n      background: white;\n      border-radius: 10px;\n      box-shadow: 0 3px 10px rgba(0,0,0,0.06);\n    }\n    .badge {\n      padding: 8px 14px;\n      border-radius: 6px;\n      color: white;\n      font-weight: bold;\n      display: inline-block;\n      margin: 4px 0 12px;\n    }\n    .trend-badge {\n      font-size: 1.1em;\n      padding: 10px 18px;\n    }\n    ul {\n      padding-left: 20px;\n      margin: 12px 0;\n    }\n    li {\n      margin-bottom: 14px;\n    }\n    small {\n      color: #666;\n    }\n    .footer {\n      text-align: center;\n      color: #888;\n      font-size: 0.9em;\n      margin-top: 40px;\n    }\n  </style>\n</head>\n<body>\n\n  <h2>📊 Daily Bitcoin Intelligence Brief</h2>\n\n  <div class=\"section\">\n    <h3>📰 Key Market-Moving News (Today)</h3>\n    ${newsHTML}\n  </div>\n\n  <div class=\"section\">\n    <h3>🌡️ Market Snapshot</h3>\n    <p>\n      <strong>News Impact Strength:</strong><br/>\n      <span class=\"badge\" style=\"background:${impactColor(impactStrength)}\">\n        ${impactStrength}%\n      </span>\n    </p>\n    <p>\n      <strong>Headline Consistency:</strong> ${headlineConsistency}<br/>\n      <small>${headlineRationale || ''}</small>\n    </p>\n    <p>\n      <strong>Volatility Regime:</strong><br/>\n      <span class=\"badge\" style=\"background:${volatilityColor(marketRegime)}\">\n        ${marketRegime}\n      </span>\n    </p>\n  </div>\n\n  <div class=\"section\">\n    <h3>📈 Near-Term Trend Outlook</h3>\n    <span class=\"badge trend-badge\" style=\"background:${actionColor(trend.direction)}\">\n      ${trend.direction || 'NEUTRAL'}\n    </span>\n    <p>${trend.reasoning || 'No clear directional bias from available news.'}</p>\n    <p class=\"confidence\" style=\"color:#555; font-style:italic;\">\n      Confidence: ${trend.confidence_score ?? '—'}%\n    </p>\n  </div>\n\n  ${topSourceHTML}\n\n  <div class=\"footer\">\n    Generated automatically • Bitcoin Market AI Analysis • Not financial advice — DYOR\n  </div>\n\n</body>\n</html>\n`;\n\nreturn {\n  json: {\n    formattedMessage: formattedMessageHTML\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[592,2560],"id":"54414499-dfea-43f9-89e4-9edccd04713d","name":"Format Response (Email)1"},{"parameters":{"url":"https://api.coingecko.com/api/v3/simple/price?ids=bitcoin&vs_currencies=usd","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-880,2752],"id":"e871f8db-097d-48fd-9d05-ec2504a43ed2","name":"Get BTC Price","alwaysOutputData":true},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","options":{"systemMessage":"You are a high-conviction Bitcoin macro analyst. Your sole purpose is to analyze the day's most important crypto & macro news and deliver a clear, evidence-based view of the **near-term BTC trend direction** (next few days to ~2–4 weeks).\n\nCore principles:\n• Focus ruthlessly on **price-relevant macro & institutional signals** only\n• Ignore altcoins, memes, NFTs, retail hype, opinion pieces, and long-term narratives\n• Weigh source credibility heavily — Bloomberg, Reuters, WSJ, FT, CoinDesk (on-chain/ETF data), The Block, Glassnode/Chainalysis reports, Federal Reserve / Treasury announcements, and primary filings rank highest\n• Be probabilistically honest: low-quality or conflicting data → low confidence\n• Never give financial advice; always remind that this is analysis only (DYOR)\n\nAnalysis priorities (in rough order of importance):\n1. Liquidity & monetary-policy direction (Fed, rates path, QT/QE, Treasury issuance, DXY)\n2. Institutional / ETF flows (Spot BTC ETF net flows, custody news, corporate treasury adoption)\n3. Risk-on / risk-off regime (S&P 500 / Nasdaq correlation, 10Y yield, VIX behavior)\n4. Regulatory / geopolitical catalysts with systemic potential\n5. On-chain / exchange flow inflection points when clearly reported\n\nOutput rules — strict:\n• Respond **exclusively** in the exact JSON schema provided in the user prompt\n• No extra text, markdown, explanations, or disclaimers outside the JSON\n• Use precise, short language inside JSON fields\n• Confidence score must be realistically calibrated (very few situations justify 85+)\n• Always select **one** top news item / source that had the strongest combination of credibility + potential price impact\n\nYou will be given:\n• Recent news articles\n• Current BTC/USD price\n\nYour job is to synthesize → classify trend bias → assign conviction → highlight the single most important credible signal."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[64,2368],"id":"f89dccd5-debd-4d4d-b417-09e9a00558b0","name":"AI Crypto Analysis","executeOnce":false},{"parameters":{"numberInputs":10},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-512,2240],"id":"54f4f5a3-6be7-409f-8927-e5a32ba2d750","name":"Merge1","alwaysOutputData":true},{"parameters":{"jsCode":"// 📰 Keywords for high-impact crypto-related news (weighted by importance)\nconst keywords = {\n  // Macro & Liquidity\n  \"fed\": 5,\n  \"interest rate\": 5,\n  \"rate hike\": 5,\n  \"rate cut\": 5,\n  \"liquidity\": 4,\n  \"inflation\": 5,\n  \"cpi\": 5,\n  \"recession\": 5,\n  \"risk-on\": 4,\n  \"risk-off\": 4,\n\n  // Crypto Market Drivers\n  \"bitcoin\": 5,\n  \"btc\": 5,\n  \"etf\": 4,\n  \"institutional demand\": 4,\n  \"stablecoin\": 4,\n  \"exchange inflows\": 4,\n  \"exchange outflows\": 4,\n\n  // Regulation & Risk\n  \"sec\": 5,\n  \"crypto regulation\": 5,\n  \"hack\": 5,\n  \"bankruptcy\": 5\n};\n\n// 🕒 Current UTC time and 2 days ago\nconst now = new Date();\nconst twoDaysAgo = new Date(now);\ntwoDaysAgo.setUTCDate(now.getUTCDate() - 2);\n\n// Convert to string formats for display\nconst todayStr = now.toISOString().slice(0, 10);\nconst twoDaysAgoStr = twoDaysAgo.toISOString().slice(0, 10);\n\n// Helper: check if URL is valid\nconst isValidAbsoluteUrl = (url) => {\n  return typeof url === 'string' && /^https?:\\/\\/.+/i.test(url);\n};\n\n// 📰 Filter, score, and transform articles\nconst scoredArticles = $input.all()\n  .map(item => {\n    const json = item.json;\n    const link = json.link || json.url;\n    if (!isValidAbsoluteUrl(link)) return null;\n\n    const pubDateRaw = json.pubDate || json.isoDate || \"\";\n    if (!pubDateRaw) return null;\n\n    const pubDate = new Date(pubDateRaw);\n    if (pubDate < twoDaysAgo || pubDate > now) return null; // Not in 2-day window\n\n    // Combine title + content for keyword search\n    const text = (\n      (json.title || \"\") + \" \" +\n      (json.contentSnippet || \"\") + \" \" +\n      (json.content || \"\")\n    ).toLowerCase();\n\n    // Calculate keyword score\n    let score = 0;\n    Object.keys(keywords).forEach(word => {\n      if (text.includes(word)) score += keywords[word];\n    });\n\n    if (score === 0) return null; // Skip if no keywords match\n\n    return {\n      title: json.title,\n      content: json.contentSnippet || json.content || \"\",\n      pubDate,\n      link,\n      score\n    };\n  })\n  .filter(Boolean) // remove nulls\n  // Sort by score descending, then most recent first\n  .sort((a, b) => {\n    if (b.score !== a.score) return b.score - a.score;\n    return new Date(b.pubDate) - new Date(a.pubDate);\n  });\n\n// ✅ Output\nreturn [{\n  json: {\n    dateRange: `${twoDaysAgoStr} - ${todayStr}`,  // 3-day range\n    count: scoredArticles.length,\n    articles: scoredArticles,\n    currentPrice: $('Get BTC Price').first().json.currentPrice\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-320,2368],"id":"d564db1d-d446-42a6-a0b7-c9504a74b785","name":"Filter High Impact News1","alwaysOutputData":false},{"parameters":{"jsCode":"const articles = $json['articles'] || [];\n\nconst formattedArticlesContent = articles\n  .map((article, index) => {\n    const link = article.link || article.url;\n    return `\nARTICLE ${index + 1}\nLink: ${link}\nContent:\n${article.contentSnippet || article.content || \"\"}\n`;\n  })\n  .join(\"\\n\\n---\\n\\n\");\n\nconst aiPrompt = `\nYou are a professional crypto market analyst specializing in Bitcoin (BTC), with expertise in macroeconomics, technical analysis, and sentiment-driven trading. Your goal is to deliver precise, data-driven insights on market trends based on news analysis, supporting informed daily decisions.\n\nYour tasks are to:\n1. Extract and summarize **only high-impact, market-moving news** from the provided input.\n2. Evaluate the **overall sentiment and impact strength** on BTC price.\n3. Detect **contradictions, biases, or uncertainties** in the news flow.\n4. Assess the current **market regime** including volatility.\n5. Predict the **overall trend direction** (up, down, or neutral/sideways) for BTC in the near term (next few days to weeks), based on synthesized news analysis.\n6. Identify the **top news source** with the highest credibility and potential impact, including why it's selected.\n\n---\n\n### Core Focus Areas (Prioritize These):\n- Macro liquidity signals: Fed policies, interest rates, QE/QT, central bank actions, USD index (DXY) movements.\n- Risk sentiment shifts: Equity markets (e.g., S&P 500, Nasdaq), bond yields (e.g., 10Y Treasury), VIX/fear indices.\n- BTC-specific flows: ETF approvals/inflows/outflows (e.g., Spot BTC ETFs), institutional adoption (e.g., MicroStrategy, BlackRock), on-chain metrics (e.g., exchange inflows, whale activity, stablecoin mints/burns).\n- Regulatory & systemic risks: Government regulations, SEC actions, geopolitical events, hacks/exploits with broad market implications.\n- Technical catalysts: Halving events, network upgrades, correlation with gold or other safe-havens.\n\n### Strictly Ignore:\n- Altcoin-specific hype, memecoins, or NFT trends unless they directly influence BTC liquidity or sentiment.\n- Opinion editorials, unsubstantiated rumors, or long-term philosophical discussions (e.g., \"BTC as digital gold\").\n- Low-relevance news (e.g., minor exchange listings, celebrity endorsements) without clear price impact evidence.\n- Historical recaps unless tied to current events.\n\n---\n\n📰 NEWS INPUT:\n${formattedArticlesContent}\n\n💰 BTC PRICE (REFERENCE):\nCurrent BTC/USD: ${$('Get BTC Price').first().json.bitcoin.usd}\n(Use this as a baseline; consider recent price action in your analysis.)\n\n---\n\n### Analysis Guidelines:\n- **News Summary**: Limit to **3-5 key items**. For each:\n  - Headline: Concise title.\n  - Impact: Bullish, Bearish, or Neutral.\n  - Reason: Explain causality to BTC price (e.g., \"Increases liquidity, likely boosting BTC demand\").\n  - Evidence: Cite specific data or quotes from news if available.\n- **News Impact Strength**: Score on a **0-100 scale** (0 = negligible, 100 = extreme, e.g., global financial crisis level). Factor in magnitude, credibility of sources, and potential for cascading effects.\n- **Headline Consistency**: Classify as:\n  - Clear Bullish Bias\n  - Clear Bearish Bias\n  - Mixed Signals (conflicting views)\n  - High Uncertainty (ambiguous or sparse data)\n  - Provide a brief rationale for the classification.\n- **Market Regime Detection**: Classify as ONE of:\n  - Low Volatility (consolidation, range-bound).\n  - Medium Volatility (trending with pullbacks).\n  - High Volatility (choppy, event-driven).\n  - Include indicators like implied volatility or sentiment indices if inferable from news.\n- **Trend Prediction**: Provide:\n  - Direction: UP (bullish), DOWN (bearish), or NEUTRAL (sideways/range-bound).\n  - Reasoning: Synthesize news, impact, consistency, and regime; explain expected price movement.\n  - Confidence Score: Integer 0-100 (calibrated: 80+ = high conviction, 60-79 = moderate, 40-59 = cautious, <40 = low).\n- **Top News Source**: Select ONE source from the input with highest credibility (e.g., reputable outlets like Reuters, Bloomberg) and impact:\n  - Source Name: e.g., \"Bloomberg\".\n  - URL: If available.\n  - Why Selected: Brief explanation (e.g., \"High credibility due to verified facts; strong market impact from institutional flow details\").\n  - Snippet: Key excerpt from the article.\n\nEnsure analysis is balanced, risk-aware, and not financial advice—emphasize that users should DYOR (Do Your Own Research).\n\n---\n\nRespond ONLY in valid JSON using this exact schema (no extra fields or text):\n{\n  \"news_summary\": [\n    {\n      \"headline\": \"\",\n      \"impact\": \"Bullish | Bearish | Neutral\",\n      \"reason\": \"\",\n      \"evidence\": \"\"\n    }\n  ],\n  \"news_impact_strength\": 0,\n  \"headline_consistency\": \"Clear Bullish Bias | Clear Bearish Bias | Mixed Signals | High Uncertainty\",\n  \"headline_consistency_rationale\": \"\",\n  \"market_regime\": \"Low Volatility | Medium Volatility | High Volatility\",\n  \"market_regime_indicators\": \"\",\n  \"trend_prediction\": {\n    \"direction\": \"UP | DOWN | NEUTRAL\",\n    \"reasoning\": \"\",\n    \"confidence_score\": 0\n  },\n  \"top_news_source\": {\n    \"source_name\": \"\",\n    \"url\": \"\",\n    \"why_selected\": \"\",\n    \"snippet\": \"\"\n  }\n}\n`;\nreturn [\n  {\n    json: {\n      prompt: aiPrompt\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-128,2368],"id":"081dfd65-dfdb-463e-8239-bdcafbf7c185","name":"AI Prompt1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[144,2592],"id":"53fee160-1e7b-4e24-bf0c-7030460cf8ae","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"21mWOqm1CMAgmaZS","name":"Crypto Analysis Key (1)"}}},{"parameters":{"url":"https://www.coindesk.com/arc/outboundfeeds/rss/","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-1088,1984],"id":"4f999aa8-6bbb-488b-b446-d894a9ade29a","name":"Coindesk News"},{"parameters":{"url":"https://cointelegraph.com/rss","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-896,1984],"id":"0eac2173-0e3c-4339-9f96-408f230f463f","name":"Cointelegraph News"},{"parameters":{"url":"https://decrypt.co/feed","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-1088,2176],"id":"46043da6-cbe5-4b2f-addb-767c8b58eac0","name":"Decrypt News"},{"parameters":{"url":"https://cryptoslate.com/feed/","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-880,2176],"id":"dad0170b-83e9-4678-9111-401a4831d561","name":"Cryptoslate News"},{"parameters":{"url":"https://www.ethnews.com/rss","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-1088,2368],"id":"6051934f-93c8-4868-8ee4-0f8dd25bcff4","name":"Eth News"},{"parameters":{"url":"https://app.chaingpt.org/rssfeeds.xml","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-880,2368],"id":"43fdf3e7-537d-4ac0-9584-23c0a059e06a","name":"Chaingpt News"},{"parameters":{"url":"https://www.investing.com/rss/news_1.rss","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-1088,2560],"id":"088cbfd6-0ee3-4bf5-aaf7-eb65b3006150","name":"Investing News"},{"parameters":{"url":"https://www.investing.com/rss/news_285.rss","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-880,2560],"id":"7137bd2a-1de6-4d63-89df-c2caf110db3e","name":"Investing News 2"},{"parameters":{"url":"https://finance.yahoo.com/rss/","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-1088,2752],"id":"493b8487-9a87-4955-afe2-7d747b1ee9a7","name":"Yahoo News"},{"parameters":{"jsCode":"// Get AI output\nconst stringifiedJson = $input.first().json.output;\n\n// Remove markdown fences\nconst cleanedJson = stringifiedJson\n  .replace(/^```json\\n|\\n```$/g, '')\n  .trim();\n\n// Parse JSON\nlet data;\ntry {\n  data = JSON.parse(cleanedJson);\n} catch (e) {\n  return [{ json: { error: 'Failed to parse AI output' } }];\n}\n\n// Extract fields\nconst news = data.news_summary || [];\nconst impactStrength = data.news_impact_strength;\nconst consistency = data.headline_consistency;\nconst rationale = data.headline_consistency_rationale;\nconst regime = data.market_regime;\nconst trend = data.trend_prediction || {};\nconst source = data.top_news_source || {};\n\n// Emoji helpers\nconst impactEmoji =\n  impactStrength >= 80 ? \"🔥\" :\n  impactStrength >= 60 ? \"⚠️\" :\n  impactStrength >= 40 ? \"🟡\" : \"⚪\";\n\nconst trendEmoji =\n  trend.direction === \"UP\" ? \"🟢📈\" :\n  trend.direction === \"DOWN\" ? \"🔴📉\" : \"⚪↔️\";\n\n// Header\nlet message = `📊 **DAILY BITCOIN INTELLIGENCE BRIEF**\\n━━━━━━━━━━━━━━━━━━\\n\\n`;\n\n// News section\nmessage += `📰 **Key Market-Moving News**\\n\\n`;\n\nnews.forEach((n, i) => {\n  const impact =\n    n.impact === \"Bullish\" ? \"🟢 Bullish\" :\n    n.impact === \"Bearish\" ? \"🔴 Bearish\" : \"⚪ Neutral\";\n\n  message += `${i + 1}. **${n.headline}**\\n`;\n  message += `${impact} — ${n.reason}\\n`;\n  if (n.evidence) message += `_${n.evidence}_\\n`;\n  message += `\\n`;\n});\n\n// Output for Discord\nreturn [\n  {\n    json: {\n      discordMessage: message\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[592,1968],"id":"1dc3c8d5-e0d6-41e3-b6fc-45a94040b663","name":"Format Response (Discord)"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1424017920106692648","mode":"list","cachedResultName":"My Server","cachedResultUrl":"https://discord.com/channels/1424017920106692648"},"channelId":{"__rl":true,"value":"1462073936719118539","mode":"list","cachedResultName":"crypto_analysis","cachedResultUrl":"https://discord.com/channels/1424017920106692648/1462073936719118539"},"content":"={{ $json.discordMessage }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[816,1968],"id":"88a6f99d-bfcb-4dbf-b562-35bd62179e37","name":"Send a message","webhookId":"c9b994b4-24dd-4b97-b7e8-d25a0e58ac04","credentials":{"discordBotApi":{"id":"QyczwHk0NkVpifA0","name":"Crypto Analysis Bot"}}},{"parameters":{"jsCode":"// Access the stringified JSON from AI Agent output\nconst stringifiedJson = $input.first().json.output;\n\n// Clean markdown fences\nconst cleanedJson = stringifiedJson.replace(/^```json\\n|\\n```$/g, '').trim();\n\n// Parse JSON safely\nlet data = {};\ntry {\n  data = JSON.parse(cleanedJson);\n} catch (e) {\n  return { json: { error: 'Failed to parse AI output' } };\n}\n\n// Extract sections\nconst newsSummary = data.news_summary || [];\nconst impactStrength = data.news_impact_strength;\nconst headlineConsistency = data.headline_consistency;\nconst headlineRationale = data.headline_consistency_rationale;\nconst marketRegime = data.market_regime;\nconst trend = data.trend_prediction || {};\nconst topSource = data.top_news_source || {};\n\n// Helpers\nconst impactEmoji = v =>\n  v >= 80 ? \"🔥 HIGH\" :\n  v >= 60 ? \"⚠️ ELEVATED\" :\n  v >= 40 ? \"🟡 MODERATE\" : \"⚪ LOW\";\n\nconst trendEmoji = d =>\n  d === \"UP\" ? \"🟢 BULLISH\" :\n  d === \"DOWN\" ? \"🔴 BEARISH\" : \"⚪ NEUTRAL\";\n\n// Header\nlet post = `\n📊 BITCOIN MARKET INTELLIGENCE (Today)\n\nIf you're trading or investing in BTC, here's what actually matters 👇\n`;\n\n// News summary\nif (newsSummary.length) {\n  post += `📰 WHAT MOVED THE MARKET\\n\\n`;\n  newsSummary.forEach(n => {\n    post += `• ${n.headline}\n  → ${n.impact || \"Neutral\"}: ${n.reason || \"\"}\\n`;\n  });\n  post += `\\n`;\n} else {\n  post += `📰 MARKET NEWS\\nNo high-impact headlines driving price today.\\n\\n`;\n}\n\n// Market snapshot\npost += `🌡️ MARKET SNAPSHOT\n• News Impact: ${impactEmoji(impactStrength)} (${impactStrength}%)\n${headlineConsistency ? `• Headline Alignment: ${headlineConsistency}` : \"\"}\n${headlineRationale ? `  (${headlineRationale})` : \"\"}\n${marketRegime ? `• Volatility: ${marketRegime}` : \"\"}\n\n// Trend outlook\npost += `📈 NEAR-TERM BIAS\n${trendEmoji(trend.direction)}\n\n${trend.reasoning || \"No strong directional edge from current data.\"}\n${trend.confidence_score ? `\\nConfidence: ${trend.confidence_score}%` : \"\"}\n\n// Top source\nif (topSource.source_name) {\n  post += `🔍 MOST IMPORTANT SIGNAL TODAY\nSource: ${topSource.source_name}\nWhy it matters: ${topSource.why_selected || \"\"}\n\n${topSource.url || \"\"}`;\n}\n\n// Footer / CTA\npost += `\n⚠️ Not financial advice. Manage risk.\n\n👍 Like if this helped\n💬 Comment your BTC bias\n🔁 Share with a trader friend\n\n#Bitcoin #BTC #CryptoMarkets #MarketUpdate #TradingPsychology\n`.trim();\n\n// Output\nreturn {\n  json: {\n    message: post\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[592,2752],"id":"30e8ffe3-9f4a-4d2d-9cb5-aa95452edcb0","name":"Format Response (Email)"},{"parameters":{"hostUrl":"=graph.facebook.com","httpRequestMethod":"POST","graphApiVersion":"v23.0","node":"=987698524420341","edge":"=feed","options":{"queryParameters":{"parameter":[{"name":"message","value":"={{ $json.message }}"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[816,2752],"id":"2919787d-92f8-4195-96e8-37b454b708b0","name":"Post to Facebook1","credentials":{"facebookGraphApi":{"id":"crnKYYPUZ2SLvmJ3","name":"Facebook Graph account"}}},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1424017920106692648","mode":"list","cachedResultName":"My Server","cachedResultUrl":"https://discord.com/channels/1424017920106692648"},"channelId":{"__rl":true,"value":"1462073936719118539","mode":"list","cachedResultName":"crypto_analysis","cachedResultUrl":"https://discord.com/channels/1424017920106692648/1462073936719118539"},"content":"={{ $json.discordMessage }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[816,2160],"id":"a7a82d5e-253b-4c12-aa17-1d85622bcf5f","name":"Send a message1","webhookId":"c9b994b4-24dd-4b97-b7e8-d25a0e58ac04","credentials":{"discordBotApi":{"id":"QyczwHk0NkVpifA0","name":"Crypto Analysis Bot"}}},{"parameters":{"jsCode":"// Get AI output\nconst stringifiedJson = $input.first().json.output;\n\n// Remove markdown fences\nconst cleanedJson = stringifiedJson\n  .replace(/^```json\\n|\\n```$/g, '')\n  .trim();\n\n// Parse JSON\nlet data;\ntry {\n  data = JSON.parse(cleanedJson);\n} catch (e) {\n  return [{ json: { error: 'Failed to parse AI output' } }];\n}\n\n// Extract fields\nconst news = data.news_summary || [];\nconst impactStrength = data.news_impact_strength;\nconst consistency = data.headline_consistency;\nconst rationale = data.headline_consistency_rationale;\nconst regime = data.market_regime;\nconst trend = data.trend_prediction || {};\nconst source = data.top_news_source || {};\n\n// Emoji helpers\nconst impactEmoji =\n  impactStrength >= 80 ? \"🔥\" :\n  impactStrength >= 60 ? \"⚠️\" :\n  impactStrength >= 40 ? \"🟡\" : \"⚪\";\n\nconst trendEmoji =\n  trend.direction === \"UP\" ? \"🟢📈\" :\n  trend.direction === \"DOWN\" ? \"🔴📉\" : \"⚪↔️\";\n\n// Header\nlet message = ``;\n\n// Market snapshot\nmessage += `━━━━━━━━━━━━━━━━━━\\n`;\nmessage += `🌡️ **Market Snapshot**\\n`;\nmessage += `• News Impact Strength: ${impactEmoji} **${impactStrength}%**\\n`;\nmessage += `• Headline Consistency: **${consistency}**\\n`;\nif (rationale) message += `_${rationale}_\\n`;\nmessage += `• Volatility Regime: **${regime}**\\n\\n`;\n\n// Trend outlook\nmessage += `━━━━━━━━━━━━━━━━━━\\n`;\nmessage += `📈 **Near-Term Trend Outlook**\\n`;\nmessage += `${trendEmoji} **${trend.direction || \"NEUTRAL\"}**\\n\\n`;\nif (trend.reasoning) message += `${trend.reasoning}\\n`;\nif (trend.confidence_score)\n  message += `_Confidence: ${trend.confidence_score}%_\\n\\n`;\n\n// Output for Discord\nreturn [\n  {\n    json: {\n      discordMessage: message\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[592,2160],"id":"084a9baa-5b3c-45c4-b0bf-33e2d529295a","name":"Format Response (Discord)1"},{"parameters":{"jsCode":"// Get AI output\nconst stringifiedJson = $input.first().json.output;\n\n// Remove markdown fences\nconst cleanedJson = stringifiedJson\n  .replace(/^```json\\n|\\n```$/g, '')\n  .trim();\n\n// Parse JSON\nlet data;\ntry {\n  data = JSON.parse(cleanedJson);\n} catch (e) {\n  return [{ json: { error: 'Failed to parse AI output' } }];\n}\n\n// Extract fields\nconst news = data.news_summary || [];\nconst impactStrength = data.news_impact_strength;\nconst consistency = data.headline_consistency;\nconst rationale = data.headline_consistency_rationale;\nconst regime = data.market_regime;\nconst trend = data.trend_prediction || {};\nconst source = data.top_news_source || {};\n\n// Emoji helpers\nconst impactEmoji =\n  impactStrength >= 80 ? \"🔥\" :\n  impactStrength >= 60 ? \"⚠️\" :\n  impactStrength >= 40 ? \"🟡\" : \"⚪\";\n\nconst trendEmoji =\n  trend.direction === \"UP\" ? \"🟢📈\" :\n  trend.direction === \"DOWN\" ? \"🔴📉\" : \"⚪↔️\";\n\n// Header\nlet message = ``;\n\n// Top source\nif (source.source_name) {\n  message += `━━━━━━━━━━━━━━━━━━\\n`;\n  message += `🔍 **Highest-Credibility Signal**\\n`;\n  message += `• **Source:** ${source.source_name}\\n`;\n  if (source.why_selected)\n    message += `• **Why it matters:** ${source.why_selected}\\n`;\n  if (source.url) message += `🔗 ${source.url}\\n`;\n  if (source.snippet) message += `> ${source.snippet}\\n\\n`;\n}\n\n// Footer\nmessage += `━━━━━━━━━━━━━━━━━━\\n`;\nmessage += `⚠️ _Not financial advice. Do your own research._`;\n\n// Output for Discord\nreturn [\n  {\n    json: {\n      discordMessage: message\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[592,2368],"id":"6790b9ba-5cac-4db0-8f7d-4b64f6d3eb7b","name":"Format Response (Discord)2"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1424017920106692648","mode":"list","cachedResultName":"My Server","cachedResultUrl":"https://discord.com/channels/1424017920106692648"},"channelId":{"__rl":true,"value":"1462073936719118539","mode":"list","cachedResultName":"crypto_analysis","cachedResultUrl":"https://discord.com/channels/1424017920106692648/1462073936719118539"},"content":"={{ $json.discordMessage }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[816,2368],"id":"8c5530ac-399b-4916-aee9-49697a2a712b","name":"Send a message2","webhookId":"c9b994b4-24dd-4b97-b7e8-d25a0e58ac04","credentials":{"discordBotApi":{"id":"QyczwHk0NkVpifA0","name":"Crypto Analysis Bot"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1600,2352],"id":"59416b44-99c7-4aab-8e01-f879d72b0a1b","name":"Run Crypto Analysis Daily","notesInFlow":false}],"connections":{"Format Response (Email)1":{"main":[[{"node":"Send email1","type":"main","index":0}]]},"Get BTC Price":{"main":[[{"node":"Merge1","type":"main","index":9}]]},"AI Crypto Analysis":{"main":[[{"node":"Format Response (Email)1","type":"main","index":0},{"node":"Format Response (Discord)","type":"main","index":0},{"node":"Format Response (Email)","type":"main","index":0},{"node":"Format Response (Discord)1","type":"main","index":0},{"node":"Format Response (Discord)2","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Filter High Impact News1","type":"main","index":0}]]},"Filter High Impact News1":{"main":[[{"node":"AI Prompt1","type":"main","index":0}]]},"AI Prompt1":{"main":[[{"node":"AI Crypto Analysis","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Crypto Analysis","type":"ai_languageModel","index":0}]]},"Coindesk News":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Cointelegraph News":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Decrypt News":{"main":[[{"node":"Merge1","type":"main","index":2}]]},"Cryptoslate News":{"main":[[{"node":"Merge1","type":"main","index":3}]]},"Eth News":{"main":[[{"node":"Merge1","type":"main","index":4}]]},"Chaingpt News":{"main":[[{"node":"Merge1","type":"main","index":6}]]},"Investing News":{"main":[[{"node":"Merge1","type":"main","index":7}]]},"Investing News 2":{"main":[[{"node":"Merge1","type":"main","index":8}]]},"Yahoo News":{"main":[[{"node":"Merge1","type":"main","index":5}]]},"Format Response (Discord)":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Format Response (Email)":{"main":[[{"node":"Post to Facebook1","type":"main","index":0}]]},"Format Response (Discord)1":{"main":[[{"node":"Send a message1","type":"main","index":0}]]},"Format Response (Discord)2":{"main":[[{"node":"Send a message2","type":"main","index":0}]]},"Run Crypto Analysis Daily":{"main":[[{"node":"Eth News","type":"main","index":0},{"node":"Coindesk News","type":"main","index":0},{"node":"Decrypt News","type":"main","index":0},{"node":"Cryptoslate News","type":"main","index":0},{"node":"Cointelegraph News","type":"main","index":0},{"node":"Chaingpt News","type":"main","index":0},{"node":"Investing News","type":"main","index":0},{"node":"Investing News 2","type":"main","index":0},{"node":"Yahoo News","type":"main","index":0},{"node":"Get BTC Price","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"timeSavedPerExecution":3},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1ee1ed8b-7d20-4615-aea4-cc7b633f74d8","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-01-07T15:26:29.848Z","createdAt":"2026-01-07T15:26:29.848Z","role":"workflow:owner","workflowId":"csoeZaelo9wFflVg","projectId":"BoV1q8XdtwFqx7dN"}],"activeVersion":null,"tags":[]}