workflows/DWYS7J9xfaf4VHpc.json
{"updatedAt":"2026-01-24T17:06:42.811Z","createdAt":"2026-01-24T16:55:55.891Z","id":"DWYS7J9xfaf4VHpc","name":"Get long lived Facebook user or page access token","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"2a5077ad-89ee-4659-93a9-e01bcceba0ad","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[368,240],"typeVersion":1},{"parameters":{"url":"https://graph.facebook.com/oauth/access_token","sendQuery":true,"queryParameters":{"parameters":[{"name":" grant_type","value":"fb_exchange_token"},{"name":" client_id","value":"={{ $json[' client_id'] }}"},{"name":" client_secret","value":"={{ $json[' client_secret'] }}"},{"name":" fb_exchange_token","value":"={{ $json.user_access_token }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"e2c7ce4c-fbf9-4552-8a9e-5b41d72c8921","name":"Get Long Lived FB User Token","type":"n8n-nodes-base.httpRequest","position":[896,240],"typeVersion":4.2},{"parameters":{"method":"=GET","url":"=https://graph.facebook.com/v20.0/{{ $('Set Parameter').item.json.app_scoped_user_id }}/accounts","sendQuery":true,"queryParameters":{"parameters":[{"name":" access_token","value":"={{ $json.body.access_token }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"4e898760-43cd-4d4f-a76c-555175fb2a27","name":"Get Long Lived FB Page Token","type":"n8n-nodes-base.httpRequest","position":[1168,240],"typeVersion":4.2},{"parameters":{"content":"## Set Required Facebook Parameter \n- client_id\n- client_secret\n- user_access_token\n- app-scoped-user-id (optional)\n\n## according to this doc\n https://developers.facebook.com/docs/facebook-login/guides/access-tokens/get-long-lived/","height":552.0076928452548,"width":260.14166686078653},"id":"6ac48498-014f-4721-9629-acd3bd1329e7","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[528,-128],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"b1f6b8a1-dc25-4b1e-9aa3-0c0e452ae2de","name":" client_id","type":"string","value":"xxxx"},{"id":"9a63879a-c359-49ad-9fec-19c9e4c78dd6","name":" client_secret","type":"string","value":"yyyy"},{"id":"6971a841-ed5e-4d96-bdab-1eaec2d51ccc","name":"user_access_token","type":"string","value":"zzzzz"},{"id":"c75d5e50-62ea-4ee0-bfaa-5f79cf4d147e","name":"app_scoped_user_id","type":"string","value":"uuuuuu"}]},"options":{}},"id":"11a68266-f7ec-4c56-9327-c4fd0e4478f6","name":"Set Parameter","type":"n8n-nodes-base.set","position":[592,240],"typeVersion":3.4}],"connections":{"Set Parameter":{"main":[[{"node":"Get Long Lived FB User Token","type":"main","index":0}]]},"Get Long Lived FB User Token":{"main":[[{"node":"Get Long Lived FB Page Token","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Set Parameter","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateId":"2535"},"pinData":{},"versionId":"55b8fa61-3049-419f-bb54-ea938a6697b2","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-24T16:55:55.903Z","createdAt":"2026-01-24T16:55:55.903Z","role":"workflow:owner","workflowId":"DWYS7J9xfaf4VHpc","projectId":"BoV1q8XdtwFqx7dN"}],"activeVersion":null,"tags":[]}