workflows/qbcUnxIFbh0nF0SiHM8fZ.json
{"updatedAt":"2026-01-27T10:45:04.086Z","createdAt":"2026-01-26T09:42:01.608Z","id":"qbcUnxIFbh0nF0SiHM8fZ","name":"Trading Journal AI","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1104,208],"id":"cdf15490-d710-4501-8448-df4f7d7055ac","name":"When clicking ‘Execute workflow’"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"text":"ROLE:\nYou are a Senior Technical Analyst and Trading Mentor with 15+ years of experience. Your job is to review student trade setups objectively. You must first VERIFY the chart data, then READ the student's notes, and finally provide a critique on \"What Went Wrong\" and \"How to Improve.\"\n\n---\n\nPHASE 1: THE ANCHOR (Strict Data Verification)\n*First, read the image pixel-by-pixel to ground yourself.*\n1.  **Symbol & Timeframe:** [Extract from top-left, e.g., SOLUSDT 5m]\n2.  **Current Price:** [Extract from right-axis highlight]\n3.  **Trade Direction:** [Long or Short]\n4.  **Visible PnL:** [Is price currently above or below the entry?]\n\n*If the image is blurry or data is missing, state \"Data Illegible\" and STOP.*\n\n---\n\nPHASE 2: STUDENT ANNOTATIONS (The \"Why\")\n*Transcribe the text boxes drawn by the user on the chart.*\n* **User's Plan:** [Read the text inside boxes like \"Reason for buying\", \"Entry Model\", etc.]\n* **Target/Stop:** [Read any specific text labels for TP or SL]\n\n---\n\nPHASE 3: MENTOR ANALYSIS (The Critique)\n*Analyze the setup based on the chart AND the student's notes above.*\n\n**1. WHAT WENT RIGHT? (Confluences)**\n* Did the student's \"Reason for buying\" make sense? (e.g., \"Student identified higher lows correctly\").\n* List technical positives (e.g., \"Entry aligned perfectly with the 0.618 Golden Pocket\").\n\n**2. WHAT WENT WRONG? (Risks & Errors)**\n* Critique the student's logic. (e.g., \"Student noted 'weak selling pressure', but volume was actually rising on red candles\").\n* Identify visible flaws (e.g., \"Stop Loss was placed too tight,\" \"Counter-trend trade\").\n\n---\n\nPHASE 4: THE COACHING SESSION (Actionable Advice)\n*Give 3 specific instructions for the NEXT trade.*\n\n1.  **Refine the Entry:** (e.g., \"Next time, wait for a candle close above the zone.\")\n2.  **Optimize the Stop Loss:** (e.g., \"Move SL to breakeven once price clears the local high.\")\n3.  **Critical Tip:** (e.g., \"Don't short a V-shaped recovery.\")\n\n---\n\nTONE:\nBe constructive, professional, and direct. Speak like a veteran trader advising a junior trader.","inputType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[448,192],"id":"4f61ee3f-64fc-4569-8d76-a2d734ceed0c","name":"Analyze an image","credentials":{"googlePalmApi":{"id":"Kpnaw4dZqhF9bke8","name":"Trading Journal AI"}},"onError":"continueErrorOutput"},{"parameters":{"documentId":{"__rl":true,"value":"1hqjeY6hBJnYmYedrvw1SuOMRHTUWVD6FqWslopa5v50","mode":"list","cachedResultName":"trade-logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hqjeY6hBJnYmYedrvw1SuOMRHTUWVD6FqWslopa5v50/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":897647485,"mode":"list","cachedResultName":"Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hqjeY6hBJnYmYedrvw1SuOMRHTUWVD6FqWslopa5v50/edit#gid=897647485"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-880,208],"id":"9b6b1983-67e3-46a3-b328-278cd17a073c","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"eLghjsNBGwU9FlBn","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"2014a864-4b94-44b7-a084-4141e2a246fc","name":"chartUrls","value":"={{ $json.chart }}","type":"string"},{"id":"f9a4438e-b8ce-45d9-a4c8-856abaa5fa17","name":"aiAnalysis","value":"={{ $json.aiAnalysis }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-656,208],"id":"f1ec8cdd-9650-4f90-a7b4-315fc6a6c6aa","name":"Edit Fields"},{"parameters":{"url":"={{ $json.chartUrls }}","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-672,-80],"id":"19890514-0e3e-4620-8a46-bf162b5de22c","name":"HTTP Request","credentials":{"googleDriveOAuth2Api":{"id":"PvZPb3RDZ1D8p2xL","name":"Google Drive account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a79c502d-e518-4048-930c-ea48945a0ac8","leftValue":"={{ $json.chartUrls }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"cf9eb9b2-364a-4730-a8ed-37d1e03cad8e","leftValue":"={{ $json.aiAnalysis}}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-432,208],"id":"43efeb1e-e4a9-4e38-b66c-0fb395d16fd8","name":"If"},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"url","value":"={{ $json.chartUrls }}","__regex":"https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-112,192],"id":"147a9b15-14ef-48a6-89a2-5d28369292a6","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"PvZPb3RDZ1D8p2xL","name":"Google Drive account"}}},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $('Edit Fields').item.json.chartUrls }}","mode":"url"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-416,-272],"id":"2b2fb76d-9aaf-401c-9d2b-dc4a56719c54","name":"Share file","credentials":{"googleDriveOAuth2Api":{"id":"PvZPb3RDZ1D8p2xL","name":"Google Drive account"}}},{"parameters":{"amount":60},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[672,368],"id":"6dc88047-3226-4fae-8e02-78cb56ff7d84","name":"Wait","webhookId":"dbdeacdd-c542-497e-8aa1-a7b1d5c623f7"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[176,80],"id":"8b32e2bb-ef24-4adb-9868-f42b03444864","name":"Loop Over Items"},{"parameters":{"fromEmail":"work@kenthalexisosila.dev","toEmail":"kenthosila@gmail.com","subject":"Trading Journal AI Workflow Error","html":"={{ $json.error }}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[672,192],"id":"acd9f496-8a7a-4f86-aeec-5f831fd77424","name":"Send email","webhookId":"2cb7fa7e-88d8-443e-9681-42f7a5529e98","credentials":{"smtp":{"id":"xiNnaOF6irhvRZjH","name":"SMTP account"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"8c5dbe72-a48a-44e9-91bb-67ddaa6b0006","name":"ai_analysis","value":"={{ $json.content.parts[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,-16],"id":"46e1f3c0-a851-4a74-8570-1a63496c42fc","name":"Edit Fields1"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1hqjeY6hBJnYmYedrvw1SuOMRHTUWVD6FqWslopa5v50","mode":"list","cachedResultName":"trade-logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hqjeY6hBJnYmYedrvw1SuOMRHTUWVD6FqWslopa5v50/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":897647485,"mode":"list","cachedResultName":"Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hqjeY6hBJnYmYedrvw1SuOMRHTUWVD6FqWslopa5v50/edit#gid=897647485"},"columns":{"mappingMode":"defineBelow","value":{"orderId":"={{ $('Get row(s) in sheet').item.json.orderId }}","aiAnalysis":"={{ $json.ai_analysis }}"},"matchingColumns":["orderId"],"schema":[{"id":"symbol","displayName":"symbol","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"orderType","displayName":"orderType","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"leverage","displayName":"leverage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"updatedTime","displayName":"updatedTime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"orderId","displayName":"orderId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"closedPnl","displayName":"closedPnl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"openFee","displayName":"openFee","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"closeFee","displayName":"closeFee","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"totalPnl","displayName":"totalPnl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"avgEntryPrice","displayName":"avgEntryPrice","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"qty","displayName":"qty","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cumEntryValue","displayName":"cumEntryValue","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"createdTime","displayName":"createdTime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"orderPrice","displayName":"orderPrice","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"entrySide","displayName":"entrySide","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"closedSize","displayName":"closedSize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"avgExitPrice","displayName":"avgExitPrice","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"exitSide","displayName":"exitSide","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"execType","displayName":"execType","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fillCount","displayName":"fillCount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cumExitValue","displayName":"cumExitValue","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"chart","displayName":"chart","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"openDatetime","displayName":"openDatetime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"closeDatetime","displayName":"closeDatetime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"aiAnalysis","displayName":"aiAnalysis","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[672,-16],"id":"9e09d243-a8c6-41a8-9366-b4affc185660","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"eLghjsNBGwU9FlBn","name":"Google Sheets account"}}},{"parameters":{"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[112,-176],"id":"f032b845-0d26-452f-9e53-8ab02aea3572","name":"Basic LLM Chain"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Share file":{"main":[[]]},"Analyze an image":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"Send email","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Analyze an image","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"badacc31-ec99-4283-9a47-018d86ae3491","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-26T09:42:01.689Z","createdAt":"2026-01-26T09:42:01.689Z","role":"workflow:owner","workflowId":"qbcUnxIFbh0nF0SiHM8fZ","projectId":"BoV1q8XdtwFqx7dN"}],"activeVersion":null,"tags":[]}