workflows/qbcUnxIFbh0nF0SiHM8fZ.json
{"updatedAt":"2026-01-26T15:57:44.391Z","createdAt":"2026-01-26T09:42:01.608Z","id":"qbcUnxIFbh0nF0SiHM8fZ","name":"Trading Journal With Notion","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-672,400],"id":"cdf15490-d710-4501-8448-df4f7d7055ac","name":"When clicking ‘Execute workflow’"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"models/gemini-2.5-pro","mode":"list","cachedResultName":"models/gemini-2.5-pro"},"text":"Can you analyze the image. The image show trade chart in cryptocurrency. Analyze the trade, what went wrong and right? How can the trade be improved in next trades.","imageUrls":"={{ $json.chartUrls }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[640,368],"id":"4f61ee3f-64fc-4569-8d76-a2d734ceed0c","name":"Analyze an image","credentials":{"googlePalmApi":{"id":"Kpnaw4dZqhF9bke8","name":"Trading Journal AI"}},"onError":"continueErrorOutput"},{"parameters":{"documentId":{"__rl":true,"value":"1hqjeY6hBJnYmYedrvw1SuOMRHTUWVD6FqWslopa5v50","mode":"list","cachedResultName":"trade-logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hqjeY6hBJnYmYedrvw1SuOMRHTUWVD6FqWslopa5v50/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":897647485,"mode":"list","cachedResultName":"Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hqjeY6hBJnYmYedrvw1SuOMRHTUWVD6FqWslopa5v50/edit#gid=897647485"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-448,400],"id":"9b6b1983-67e3-46a3-b328-278cd17a073c","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"eLghjsNBGwU9FlBn","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"2014a864-4b94-44b7-a084-4141e2a246fc","name":"chartUrls","value":"={{ $json.chart }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-224,400],"id":"f1ec8cdd-9650-4f90-a7b4-315fc6a6c6aa","name":"Edit Fields"},{"parameters":{"url":"={{ $json.chartUrls }}","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-256,-80],"id":"19890514-0e3e-4620-8a46-bf162b5de22c","name":"HTTP Request","credentials":{"googleDriveOAuth2Api":{"id":"PvZPb3RDZ1D8p2xL","name":"Google Drive account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a79c502d-e518-4048-930c-ea48945a0ac8","leftValue":"={{ $json.chartUrls }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[96,416],"id":"43efeb1e-e4a9-4e38-b66c-0fb395d16fd8","name":"If"},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"url","value":"={{ $json.chartUrls }}","__regex":"https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-256,-304],"id":"147a9b15-14ef-48a6-89a2-5d28369292a6","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"PvZPb3RDZ1D8p2xL","name":"Google Drive account"}}},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $('Edit Fields').item.json.chartUrls }}","mode":"url"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-32,-304],"id":"2b2fb76d-9aaf-401c-9d2b-dc4a56719c54","name":"Share file","credentials":{"googleDriveOAuth2Api":{"id":"PvZPb3RDZ1D8p2xL","name":"Google Drive account"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[864,440],"id":"6dc88047-3226-4fae-8e02-78cb56ff7d84","name":"Wait","webhookId":"dbdeacdd-c542-497e-8aa1-a7b1d5c623f7"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[416,432],"id":"8b32e2bb-ef24-4adb-9868-f42b03444864","name":"Loop Over Items"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Share file","type":"main","index":0}]]},"Share file":{"main":[[]]},"Analyze an image":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Analyze an image","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a9be8102-4ffc-41ab-bb97-666f0dbc8b69","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-26T09:42:01.689Z","createdAt":"2026-01-26T09:42:01.689Z","role":"workflow:owner","workflowId":"qbcUnxIFbh0nF0SiHM8fZ","projectId":"BoV1q8XdtwFqx7dN"}],"activeVersion":null,"tags":[]}