workflows/YIjKrwwPKyXQ5A2J.json
{"updatedAt":"2026-01-24T10:53:03.640Z","createdAt":"2026-01-22T04:30:55.098Z","id":"YIjKrwwPKyXQ5A2J","name":"Market News Analysis - Kenth","active":true,"isArchived":false,"nodes":[{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2704,-128],"id":"e6c0e862-5051-47c0-88f5-7e608755dc42","name":"Wait","webhookId":"43bbdc3c-79a7-4feb-91d1-d4aa0d407b85"},{"parameters":{"url":"https://www.investing.com/commodities/gold","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3360,-384],"id":"e974c61d-4f68-4e99-84e0-dbdcb4771657","name":"Get Gold Price","alwaysOutputData":true},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"currentPrice","cssSelector":"div[data-test=\"instrument-price-last\"]"}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-3360,-176],"id":"596071b3-1a89-4b37-93af-2b33be849570","name":"Extract Gold Price"},{"parameters":{"url":"https://api.binance.com/api/v3/ticker/price?symbol=BTCUSDT","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3136,-384],"id":"adb551ea-8348-40cc-a9e8-919b78cd0998","name":"Get BTC Price","alwaysOutputData":false,"executeOnce":false},{"parameters":{"jsCode":"let rssSources = [];\n\nrssSources = [\n  // Gold & Commodities\n  \"https://www.nasdaq.com/feed/rssoutbound?category=Commodities\",\n  \"https://news.google.com/rss/search?q=gold+price+OR+XAUUSD+OR+precious+metals&hl=en&gl=US&ceid=US:en\",\n  \"https://www.fxstreet.com/rss/news?f=gold\",\n  \"https://www.fxstreet.com/rss/news\",\n  \"https://feeds.bloomberg.com/markets/news.rss\",\n  \"https://www.investing.com/rss/news_1.rss\",\n  \"https://www.investing.com/rss/news_285.rss\",\n  \"https://finance.yahoo.com/rss/\",\n\n  // Crypto\n  \"https://www.coindesk.com/arc/outboundfeeds/rss/\",\n  \"https://cointelegraph.com/rss\",\n  \"https://decrypt.co/feed\",\n  \"https://cryptoslate.com/feed/\",\n  \"https://www.ethnews.com/rss\",\n  \"https://app.chaingpt.org/rssfeeds.xml\",\n];\n\nreturn {\n  news: rssSources,\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2944,-384],"id":"285a7a7f-c7b6-4fa7-8cb7-743a6ee7a8b5","name":"Set RSS Data"},{"parameters":{"fieldToSplitOut":"news","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2944,-176],"id":"96443507-27e3-42b6-b602-ec9f70d67769","name":"Split Out RSS Data"},{"parameters":{"promptType":"define","text":"={{ $json.messages }}","options":{"systemMessage":"={{ $json.messages }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-1888,-400],"id":"c9eba134-a4f8-48c3-99ee-78d898ceae65","name":"Analyze News","executeOnce":false},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1824,-176],"id":"2a46888d-944e-46eb-88e0-7452bcec97da","name":"Google Gemini","credentials":{"googlePalmApi":{"id":"Kpnaw4dZqhF9bke8","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsCode":"// =====================\n// Shared helpers & time window\n// =====================\nconst now = new Date();\nconst twoDaysAgo = new Date(now);\ntwoDaysAgo.setUTCDate(now.getUTCDate() - 2);\n\nconst todayStr = now.toISOString().slice(0, 10);\nconst twoDaysAgoStr = twoDaysAgo.toISOString().slice(0, 10);\n\nconst isValidAbsoluteUrl = (url) =>\n  typeof url === 'string' && /^https?:\\/\\/.+/i.test(url);\n\n// =====================\n// Keyword dictionaries\n// =====================\nconst GOLD_KEYWORDS = {\n  \"fed\": 5,\n  \"interest\": 4,\n  \"inflation\": 5,\n  \"cpi\": 5,\n  \"ppi\": 4,\n  \"recession\": 5,\n  \"geopolitical\": 5,\n  \"war\": 5,\n  \"oil\": 3,\n  \"usd\": 4,\n  \"gold\": 5,\n  \"interest rate\": 4,\n  \"monetary policy\": 5,\n  \"quantitative easing\": 4,\n  \"quantitative tightening\": 4,\n  \"central bank\": 5,\n  \"economic slowdown\": 4,\n  \"global supply chain\": 3,\n  \"economic crisis\": 5\n};\n\nconst CRYPTO_KEYWORDS = {\n  \"fed\": 5,\n  \"interest rate\": 5,\n  \"rate hike\": 5,\n  \"rate cut\": 5,\n  \"liquidity\": 4,\n  \"inflation\": 5,\n  \"cpi\": 5,\n  \"recession\": 5,\n  \"risk-on\": 4,\n  \"risk-off\": 4,\n  \"bitcoin\": 5,\n  \"btc\": 5,\n  \"etf\": 4,\n  \"institutional demand\": 4,\n  \"stablecoin\": 4,\n  \"exchange inflows\": 4,\n  \"exchange outflows\": 4,\n  \"sec\": 5,\n  \"crypto regulation\": 5,\n  \"hack\": 5,\n  \"bankruptcy\": 5\n};\n\n// =====================\n// Generic scoring engine\n// =====================\nfunction scoreArticles({ keywords, scanMode }) {\n  return $input.all()\n    .map(item => {\n      const json = item.json;\n      const link = json.link || json.url;\n      if (!isValidAbsoluteUrl(link)) return null;\n\n      const pubDateRaw = json.pubDate || json.isoDate;\n      if (!pubDateRaw) return null;\n\n      const pubDate = new Date(pubDateRaw);\n      if (pubDate < twoDaysAgo || pubDate > now) return null;\n\n      const title = json.title || \"\";\n      const content = json.contentSnippet || json.content || \"\";\n\n      const text =\n        scanMode === \"title\"\n          ? title.toLowerCase()\n          : (title + \" \" + content).toLowerCase();\n\n      let score = 0;\n      for (const word in keywords) {\n        if (text.includes(word)) score += keywords[word];\n      }\n\n      if (score === 0) return null;\n\n      return { title, content, pubDate, link, score };\n    })\n    .filter(Boolean)\n    .sort((a, b) =>\n      b.score !== a.score\n        ? b.score - a.score\n        : new Date(b.pubDate) - new Date(a.pubDate)\n    );\n}\n\n// =====================\n// Execute analyses\n// =====================\nconst goldArticles = scoreArticles({\n  keywords: GOLD_KEYWORDS,\n  scanMode: \"title\"\n});\n\nconst cryptoArticles = scoreArticles({\n  keywords: CRYPTO_KEYWORDS,\n  scanMode: \"full\"\n});\n\n// =====================\n// Resolve active asset + price (SAFE)\n// =====================\nconst goldPrice =\n  $('Extract Gold Price').first().json.currentPrice ?? null;\n\nconst btcPrice =\n  $('Get BTC Price').first().json.price ?? null;\n\n\n// =====================\n// Output (PROMPT-FRIENDLY)\n// =====================\nreturn [{\n  json: {\n    dateRange: `${twoDaysAgoStr} - ${todayStr}`,\n    gold: {\n      count: goldArticles.length,\n      currentPrice: goldPrice,\n      articles: goldArticles\n    },\n    crypto: {\n      count: cryptoArticles.length,\n      currentPrice: btcPrice,\n      articles: cryptoArticles\n    }\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2272,-400],"id":"ce8c7d86-3e8b-436f-8d70-98006430250e","name":"Filter High Impact News","alwaysOutputData":false},{"parameters":{"url":"={{ $json.news }}","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-2480,-336],"id":"522e2519-7dac-4b11-ae6c-8471f66b9016","name":"Get RSS Data"},{"parameters":{"jsCode":"// =======================\n// INPUT\n// =======================\nconst goldArticles   = $input.first().json.gold?.articles || [];\nconst goldPrice      = $input.first().json.gold?.currentPrice ?? null;\n\nconst cryptoArticles = $input.first().json.crypto?.articles || [];\nconst cryptoPrice    = $input.first().json.crypto?.currentPrice ?? null;\n\n// =======================\n// HELPERS\n// =======================\nfunction formatArticles(articles) {\n  return articles\n    .map((article, index) => {\n      const link = article.link || article.url || \"N/A\";\n      return `\nARTICLE ${index + 1}\nLink: ${link}\nContent:\n${article.contentSnippet || article.content || \"\"}\n`;\n    })\n    .join(\"\\n\\n---\\n\\n\");\n}\n\n// =======================\n// SYSTEM MESSAGES\n// =======================\nconst SYSTEM_MESSAGES = {\n  gold: `You are a high-conviction gold macro analyst.\nFocus only on price-relevant macro & institutional signals.\nWeigh credibility heavily. Analysis only (DYOR).\nRespond exclusively in valid JSON.`,\n\n  crypto: `You are a high-conviction Bitcoin macro analyst.\nFocus only on price-relevant macro & institutional signals.\nIgnore hype and opinion pieces.\nWeigh credibility heavily. Analysis only (DYOR).\nRespond exclusively in valid JSON.`\n};\n\n// =======================\n// USER PROMPT BUILDER (STRICT)\n// =======================\nfunction buildUserPrompt({ asset, articles, price }) {\n  const schema =\n    asset === \"gold\"\n      ? `\n{\n  \"asset\": \"gold\",\n  \"timestamp_utc\": \"\",\n  \"summary\": {\n    \"bias\": \"Bullish | Bearish | Neutral\",\n    \"confidence_score\": 0,\n    \"price_direction_24h\": \"\",\n    \"price_direction_7d\": \"\"\n  },\n  \"key_driver\": {\n    \"theme\": \"\",\n    \"explanation\": \"\"\n  },\n  \"market_context\": {\n    \"usd_dynamics\": \"\",\n    \"real_yields\": \"\",\n    \"risk_sentiment\": \"\"\n  },\n  \"top_news_source\": {\n    \"source_name\": \"\",\n    \"headline\": \"\",\n    \"url\": \"\"\n  },\n  \"risk_factors\": []\n}\n`\n      : `\n{\n  \"asset\": \"crypto\",\n  \"timestamp_utc\": \"\",\n  \"summary\": {\n    \"bias\": \"Bullish | Bearish | Neutral\",\n    \"confidence_score\": 0,\n    \"trend_direction\": \"UP | DOWN | NEUTRAL\"\n  },\n  \"key_driver\": {\n    \"theme\": \"\",\n    \"explanation\": \"\"\n  },\n  \"market_context\": {\n    \"liquidity\": \"\",\n    \"risk_regime\": \"\",\n    \"institutional_flows\": \"\"\n  },\n  \"top_news_source\": {\n    \"source_name\": \"\",\n    \"headline\": \"\",\n    \"url\": \"\"\n  },\n  \"risk_factors\": []\n}\n`;\n\n  return `\n📰 NEWS INPUT:\n${formatArticles(articles)}\n\n💰 Current ${asset === \"gold\" ? \"XAU/USD\" : \"BTC/USD\"} Price:\n${price}\n\n=========================\nSTRICT OUTPUT RULES\n=========================\n• Return VALID JSON ONLY\n• Use EXACT schema below\n• DO NOT add/remove/rename fields\n• DO NOT use markdown or code blocks\n• Never omit fields\n• If uncertain, use null or \"Unknown\"\n\n=========================\nJSON SCHEMA\n=========================\n${schema}\n`;\n}\n\n// =======================\n// OUTPUT (2 ITEMS → AI AUTO-LOOPS)\n// =======================\nconst outputs = [];\n\nif (goldArticles.length) {\n  outputs.push({\n    json: {\n      asset: \"gold\",\n      messages: [\n        { role: \"system\", content: SYSTEM_MESSAGES.gold },\n        {\n          role: \"user\",\n          content: buildUserPrompt({\n            asset: \"gold\",\n            articles: goldArticles,\n            price: goldPrice\n          })\n        }\n      ]\n    }\n  });\n}\n\nif (cryptoArticles.length) {\n  outputs.push({\n    json: {\n      asset: \"crypto\",\n      messages: [\n        { role: \"system\", content: SYSTEM_MESSAGES.crypto },\n        {\n          role: \"user\",\n          content: buildUserPrompt({\n            asset: \"crypto\",\n            articles: cryptoArticles,\n            price: cryptoPrice\n          })\n        }\n      ]\n    }\n  });\n}\n\nreturn outputs;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2064,-400],"id":"c2aa0651-b773-461e-89d6-d16874863368","name":"Set AI User & System Message"},{"parameters":{"jsCode":"// Loop over all incoming items (gold + crypto)\nreturn $input.all().map(item => {\n  const raw =\n    typeof item.json.output === \"string\"\n      ? JSON.parse(\n          item.json.output\n            .replace(/```json/g, \"\")\n            .replace(/```/g, \"\")\n            .trim()\n        )\n      : item.json.output ?? item.json;\n\n  return {\n    json: {\n\n      // Normalized fields\n      asset: raw.asset ?? null,\n      bias: raw.summary?.bias ?? null,\n      confidence: raw.summary?.confidence_score ?? null,\n      key_driver: raw.key_driver?.theme ?? null,\n      source: raw.top_news_source?.source_name ?? null,\n\n      // Full raw payload (for formatter nodes)\n      data: raw\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1600,-400],"id":"adff9cf0-e2c2-47b9-b5a8-92c629cac9ad","name":"Normalize AI Output"},{"parameters":{"jsCode":"const items = $input.all(); // normalized outputs\nconst messages = [];\n\n// Helper → render line only if value exists\nconst line = (label, value) => value ? `**${label}:** ${value}\\n` : \"\";\n\n// Helper → format risk factors\nconst formatRisks = (risks) => {\n  if (!Array.isArray(risks)) return \"\";\n  return risks.map(r => `• ${r.theme ? `${r.theme}: ` : \"\"}${r.explanation || r}`).join(\"\\n\");\n};\n\n// Helper → split long messages into chunks for Discord (<2000 chars)\nconst pushChunk = (text) => {\n  if (!text) return;\n  const buffer = 1900;\n  if (text.length <= buffer) {\n    messages.push({ json: { discordMessage: text } });\n  } else {\n    let temp = \"\";\n    for (const line of text.split(\"\\n\")) {\n      if ((temp + \"\\n\" + line).length > buffer) {\n        messages.push({ json: { discordMessage: temp } });\n        temp = line;\n      } else {\n        temp += (temp ? \"\\n\" : \"\") + line;\n      }\n    }\n    if (temp) messages.push({ json: { discordMessage: temp } });\n  }\n};\n\n// =====================\n// Build Quick Summary Table\n// =====================\nlet summaryTable = \"📊 **MARKET SNAPSHOT**\\n\\n\";\nsummaryTable += \"```\\n\";\nsummaryTable += \"ASSET   | BIAS    | CONF | 24H/Trend | 7D/Trend\\n\";\nsummaryTable += \"--------|--------|------|-----------|-----------\\n\";\n\nfor (const item of items) {\n  const data = item.json;\n  if (!data?.asset || !data.data) continue;\n  const d = data.data;\n\n  if (data.asset === \"gold\") {\n    summaryTable += `GOLD    | ${data.bias || \"N/A\"} | ${data.confidence || \"N/A\"} | ${d.summary?.price_direction_24h || \"N/A\"} | ${d.summary?.price_direction_7d || \"N/A\"}\\n`;\n  }\n\n  if (data.asset === \"crypto\") {\n    summaryTable += `BTC     | ${data.bias || \"N/A\"} | ${data.confidence || \"N/A\"} | ${d.summary?.trend_direction || \"N/A\"} | N/A\\n`;\n  }\n}\n\nsummaryTable += \"```\\n\\n\";\n\npushChunk(summaryTable);\n\n// =====================\n// Build Detailed Sections\n// =====================\nfor (const item of items) {\n  const data = item.json;\n  if (!data?.asset || !data.data) continue;\n  const d = data.data;\n\n  // ---------------------\n  // GOLD\n  // ---------------------\n  if (data.asset === \"gold\") {\n    let msg = `📊 **GOLD MARKET UPDATE (XAU/USD)**\\n\\n`;\n\n    // Metrics block\n    msg += \"```\\n\";\n    msg += `Bias      : ${data.bias || \"N/A\"}\\n`;\n    msg += `Confidence: ${data.confidence || \"N/A\"}\\n`;\n    msg += `24H Dir   : ${d.summary?.price_direction_24h || \"N/A\"}\\n`;\n    msg += `7D Dir    : ${d.summary?.price_direction_7d || \"N/A\"}\\n`;\n    msg += \"```\\n\\n\";\n\n    msg += `🧠 **Main Driver**\\n${d.key_driver?.theme || \"N/A\"}\\n`;\n    msg += `${d.key_driver?.explanation || \"\"}\\n\\n`;\n\n    msg += `📉 **Market Context**\\n`;\n    msg += line(\"USD Dynamics\", d.market_context?.usd_dynamics);\n    msg += line(\"Real Yields\", d.market_context?.real_yields);\n    msg += line(\"Risk Sentiment\", d.market_context?.risk_sentiment);\n\n    if (d.risk_factors?.length) {\n      msg += `\\n⚠️ **Key Risks**\\n${formatRisks(d.risk_factors)}\\n`;\n    }\n\n    if (d.top_news_source) {\n      msg += `\\n📰 **Top Source**\\n${d.top_news_source.source_name}\\n`;\n      msg += `Headline: ${d.top_news_source.headline}\\n`;\n      msg += `Link: ${d.top_news_source.url}\\n`;\n    }\n\n    msg += `\\n⚠️ Not financial advice. DYOR.\\n`;\n\n    pushChunk(msg);\n  }\n\n  // ---------------------\n  // CRYPTO\n  // ---------------------\n  if (data.asset === \"crypto\") {\n    let msg = `🟠 **BITCOIN MARKET UPDATE (BTC/USD)**\\n\\n`;\n\n    // Metrics block\n    msg += \"```\\n\";\n    msg += `Bias      : ${data.bias || \"N/A\"}\\n`;\n    msg += `Confidence: ${data.confidence || \"N/A\"}\\n`;\n    msg += `Trend Dir : ${d.summary?.trend_direction || \"N/A\"}\\n`;\n    msg += \"```\\n\\n\";\n\n    msg += `🧠 **Main Driver**\\n${d.key_driver?.theme || \"N/A\"}\\n`;\n    msg += `${d.key_driver?.explanation || \"\"}\\n\\n`;\n\n    msg += `📉 **Market Context**\\n`;\n    msg += line(\"Liquidity\", d.market_context?.liquidity);\n    msg += line(\"Risk Regime\", d.market_context?.risk_regime);\n    msg += line(\"Institutional Flows\", d.market_context?.institutional_flows);\n\n    if (d.risk_factors?.length) {\n      msg += `\\n⚠️ **Key Risks**\\n${formatRisks(d.risk_factors)}\\n`;\n    }\n\n    if (d.top_news_source) {\n      msg += `\\n📰 **Top Source**\\n${d.top_news_source.source_name}\\n`;\n      msg += `Headline: ${d.top_news_source.headline}\\n`;\n      msg += `Link: ${d.top_news_source.url}\\n`;\n    }\n\n    msg += `\\n⚠️ Not financial advice. DYOR.\\n`;\n\n    pushChunk(msg);\n  }\n}\n\nreturn messages;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1216,-400],"id":"09efe9e0-c2f5-4b6b-aa16-abd7db0a9bee","name":"Format Response (Discord)"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-992,-432],"id":"c869f732-8180-4df6-a248-f70baabd862c","name":"Loop Discord Message"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1424017920106692648","mode":"list","cachedResultName":"Trading Insights","cachedResultUrl":"https://discord.com/channels/1424017920106692648"},"channelId":{"__rl":true,"value":"1464256964229071144","mode":"list","cachedResultName":"market_analysis","cachedResultUrl":"https://discord.com/channels/1424017920106692648/1464256964229071144"},"content":"={{ $json.discordMessage }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[-768,-400],"id":"1965b2f7-7a1f-451b-bb4a-be5f6e16ac3b","name":"Send a message","webhookId":"2b39f1c3-d6f1-4eec-86f4-8f4382691460","credentials":{"discordBotApi":{"id":"qk5T7H5S1dXZ8B2n","name":"Market Analysis Bot"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2720,-384],"id":"ff2fd260-ab1a-4d2e-9441-14c013c07609","name":"Loop Fetching News"},{"parameters":{"jsCode":"// =======================\n// Helpers\n// =======================\nfunction formatArrayHTML(arr) {\n  if (!Array.isArray(arr) || arr.length === 0) return \"\";\n  return `<ul>${arr.map(r => `<li>${r}</li>`).join(\"\")}</ul>`;\n}\n\n// =======================\n// Process AI outputs\n// =======================\nconst items = $input.all();\n\nlet goldSection = \"\";\nlet cryptoSection = \"\";\n\nfor (const item of items) {\n  const data = item.json; // normalized output\n\n  if (!data || !data.asset) continue;\n\n  // ---- GOLD ----\n  if (data.asset === \"gold\") {\n    const d = data.data;\n    goldSection = `\n<h2 style=\"color:#d4af37;\">🟡 GOLD MARKET UPDATE</h2>\n<p><strong>Bias:</strong> ${data.bias ?? \"N/A\"}<br/>\n<strong>Confidence:</strong> ${data.confidence ?? \"N/A\"}<br/>\n<strong>24H Direction:</strong> ${d.summary?.price_direction_24h ?? \"N/A\"}<br/>\n<strong>7D Direction:</strong> ${d.summary?.price_direction_7d ?? \"N/A\"}</p>\n\n<h3>Main Driver</h3>\n<p><strong>${d.key_driver?.theme ?? \"N/A\"}</strong><br/>\n${d.key_driver?.explanation ?? \"N/A\"}</p>\n\n<h3>Market Context</h3>\n<p><strong>USD Dynamics:</strong> ${d.market_context?.usd_dynamics ?? \"N/A\"}<br/>\n<strong>Real Yields:</strong> ${d.market_context?.real_yields ?? \"N/A\"}<br/>\n<strong>Risk Sentiment:</strong> ${d.market_context?.risk_sentiment ?? \"N/A\"}</p>\n\n<h3>Key Risks</h3>\n${formatArrayHTML(d.risk_factors)}\n\n<h3>Top Source</h3>\n<p><strong>${d.top_news_source?.source_name ?? \"N/A\"}</strong><br/>\nHeadline: ${d.top_news_source?.headline ?? \"N/A\"}<br/>\nLink: <a href=\"${d.top_news_source?.url ?? \"#\"}\">${d.top_news_source?.url ?? \"N/A\"}</a></p>\n`;\n  }\n\n  // ---- CRYPTO ----\n  if (data.asset === \"crypto\") {\n    const d = data.data;\n    cryptoSection = `\n<h2 style=\"color:#f7931a;\">🟠 BITCOIN MARKET UPDATE</h2>\n<p><strong>Bias:</strong> ${data.bias ?? \"N/A\"}<br/>\n<strong>Confidence:</strong> ${data.confidence ?? \"N/A\"}<br/>\n<strong>Trend Direction:</strong> ${d.summary?.trend_direction ?? \"N/A\"}</p>\n\n<h3>Main Driver</h3>\n<p><strong>${d.key_driver?.theme ?? \"N/A\"}</strong><br/>\n${d.key_driver?.explanation ?? \"N/A\"}</p>\n\n<h3>Market Context</h3>\n<p><strong>Liquidity:</strong> ${d.market_context?.liquidity ?? \"N/A\"}<br/>\n<strong>Risk Regime:</strong> ${d.market_context?.risk_regime ?? \"N/A\"}<br/>\n<strong>Institutional Flows:</strong> ${d.market_context?.institutional_flows ?? \"N/A\"}</p>\n\n<h3>Key Risks</h3>\n${formatArrayHTML(d.risk_factors)}\n\n<h3>Top Source</h3>\n<p><strong>${d.top_news_source?.source_name ?? \"N/A\"}</strong><br/>\nHeadline: ${d.top_news_source?.headline ?? \"N/A\"}<br/>\nLink: <a href=\"${d.top_news_source?.url ?? \"#\"}\">${d.top_news_source?.url ?? \"N/A\"}</a></p>\n`;\n  }\n}\n\n// =======================\n// Final Email Output\n// =======================\nreturn [\n  {\n    json: {\n      subject: \"Daily Macro Market Brief — Gold & Bitcoin\",\n      body: `\n<html>\n  <body style=\"font-family:Arial,sans-serif;line-height:1.5;color:#333;\">\n    <h1>DAILY MACRO INTELLIGENCE REPORT</h1>\n    <p>Generated: ${new Date().toUTCString()}</p>\n    ${goldSection}\n    ${cryptoSection}\n    <hr/>\n    <p style=\"font-size:0.9em;color:#555;\">\n      ⚠️ This report is AI-generated for informational purposes only.<br/>\n      Not financial advice. DYOR.\n    </p>\n  </body>\n</html>\n`\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1216,-192],"id":"e9159125-695e-4f91-9f27-e610a6dd7467","name":"Format Response (Email)"},{"parameters":{"fromEmail":"work@kenthalexisosila.dev","toEmail":"kenthosila@gmail.com","subject":"={{ $json.subject }}","html":"={{ $json.body }}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-992,-192],"id":"e622c577-b0eb-42d7-8bb1-20e39eeb5989","name":"Send email","webhookId":"d7f1a18b-3863-4f30-9de5-9272f63e5b3e","credentials":{"smtp":{"id":"xiNnaOF6irhvRZjH","name":"SMTP account"}}},{"parameters":{"hostUrl":"=graph.facebook.com","httpRequestMethod":"POST","graphApiVersion":"v23.0","node":"=987698524420341","edge":"=feed","options":{"queryParameters":{"parameter":[{"name":"message","value":"={{ $json.message }}"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[-992,192],"id":"9a742851-febc-499b-a4b8-96337feca3e0","name":"Post to Facebook Page","credentials":{"facebookGraphApi":{"id":"crnKYYPUZ2SLvmJ3","name":"Facebook Graph account"}}},{"parameters":{"jsCode":"// =======================\n// Helpers\n// =======================\nfunction generateHashtags({ asset, raw }) {\n  const tags = new Set();\n\n  if (asset === \"gold\") {\n    [\n      \"Gold\",\n      \"XAUUSD\",\n      \"PreciousMetals\",\n      \"SafeHaven\",\n      \"InflationHedge\",\n      \"Macro\",\n      \"Fed\",\n      \"USD\",\n    ].forEach((t) => tags.add(`#${t}`));\n  }\n\n  if (asset === \"crypto\") {\n    [\n      \"Bitcoin\",\n      \"BTC\",\n      \"Crypto\",\n      \"InstitutionalAdoption\",\n      \"ETF\",\n      \"Macro\",\n      \"RiskOnRiskOff\",\n    ].forEach((t) => tags.add(`#${t}`));\n  }\n\n  const textBlob = JSON.stringify(raw).toLowerCase();\n  const keywordMap = {\n    inflation: \"#Inflation\",\n    fed: \"#FederalReserve\",\n    rates: \"#InterestRates\",\n    dollar: \"#USD\",\n    etf: \"#ETF\",\n    geopolit: \"#Geopolitics\",\n    recession: \"#Recession\",\n    liquidity: \"#Liquidity\",\n    yields: \"#RealYields\",\n    risk: \"#MarketRisk\",\n  };\n\n  for (const key in keywordMap) {\n    if (textBlob.includes(key)) tags.add(keywordMap[key]);\n  }\n\n  return Array.from(tags).slice(0, 9).join(\" \");\n}\n\n// =======================\n// Build Post Content\n// =======================\nconst items = $input.all();\nlet posts = [];\n\nfor (const item of items) {\n  const raw = item.json; // normalized output\n  if (!raw || !raw.asset) continue;\n\n  let post = \"\";\n  const isGold = raw.asset === \"gold\";\n  const isCrypto = raw.asset === \"crypto\";\n  const assetType = isGold ? \"gold\" : \"crypto\";\n\n  // ---- Header ----\n  post += isGold\n    ? `📊 GOLD MARKET UPDATE (XAU/USD)\\n\\n`\n    : `🟠 BITCOIN MARKET UPDATE (BTC/USD)\\n\\n`;\n\n  // ---- Gold Format ----\n  if (isGold) {\n    const d = raw.data;\n    post += `🔍 Bias: ${raw.bias ?? \"N/A\"}\\n`;\n    post += `⏱ 24H Outlook: ${d.summary?.price_direction_24h ?? \"N/A\"}\\n`;\n    post += `📆 7D Outlook: ${d.summary?.price_direction_7d ?? \"N/A\"}\\n\\n`;\n    post += `🧠 Main Driver\\n${d.key_driver?.theme ?? \"N/A\"}\\n`;\n    post += `${d.key_driver?.explanation ?? \"N/A\"}\\n\\n`;\n    post += `📉 Market Context\\nUSD Dynamics: ${d.market_context?.usd_dynamics ?? \"N/A\"}\\n`;\n    post += `Real Yields: ${d.market_context?.real_yields ?? \"N/A\"}\\n`;\n    post += `Risk Sentiment: ${d.market_context?.risk_sentiment ?? \"N/A\"}\\n\\n`;\n    if (d.risk_factors?.length) {\n      post += `⚠️ Key Risks\\n${d.risk_factors.map((r) => `• ${r}`).join(\"\\n\")}\\n\\n`;\n    }\n    if (d.top_news_source) {\n      post += `📰 Top Source\\n${d.top_news_source.source_name ?? \"N/A\"}\\n`;\n      post += `Headline: ${d.top_news_source.headline ?? \"N/A\"}\\n`;\n      post += `🔗 ${d.top_news_source.url ?? \"N/A\"}\\n\\n`;\n    }\n  }\n\n  // ---- Crypto Format ----\n  if (isCrypto) {\n    const d = raw.data;\n    post += `🔍 Bias: ${raw.bias ?? \"N/A\"}\\n`;\n    post += `Confidence: ${raw.confidence ?? \"N/A\"}\\n`;\n    post += `Trend Direction: ${d.summary?.trend_direction ?? \"N/A\"}\\n\\n`;\n    post += `🧠 Main Driver\\n${d.key_driver?.theme ?? \"N/A\"}\\n`;\n    post += `${d.key_driver?.explanation ?? \"N/A\"}\\n\\n`;\n    post += `📉 Market Context\\nLiquidity: ${d.market_context?.liquidity ?? \"N/A\"}\\n`;\n    post += `Risk Regime: ${d.market_context?.risk_regime ?? \"N/A\"}\\n`;\n    post += `Institutional Flows: ${d.market_context?.institutional_flows ?? \"N/A\"}\\n\\n`;\n    if (d.risk_factors?.length) {\n      post += `⚠️ Key Risks\\n${d.risk_factors.map((r) => `• ${r}`).join(\"\\n\")}\\n\\n`;\n    }\n    if (d.top_news_source) {\n      post += `📰 Top Source\\n${d.top_news_source.source_name ?? \"N/A\"}\\n`;\n      post += `Headline: ${d.top_news_source.headline ?? \"N/A\"}\\n`;\n      post += `🔗 ${d.top_news_source.url ?? \"N/A\"}\\n\\n`;\n    }\n  }\n\n  // ---- Footer + Hashtags ----\n  post += `⚠️ Not financial advice. Analysis only. DYOR.\\n\\n`;\n  post += `👉 Follow for daily ${isGold ? \"gold & macro\" : \"Bitcoin & macro\"} insights\\n\\n`;\n  post += `${generateHashtags({ asset: assetType, raw })}`;\n\n  posts.push({ json: { message: post } });\n}\n\n// =======================\n// Output\n// =======================\nreturn posts;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1216,192],"id":"bff74286-8d54-47df-8da2-925ec04c4571","name":"Format Response (Facebook)","alwaysOutputData":false},{"parameters":{"content":"## Send/Post Message to Discord, Email, Facebook","height":864,"width":848,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1456,-512],"typeVersion":1,"id":"1f924ebf-14c5-45b4-902e-f1a39bae870b","name":"Sticky Note"},{"parameters":{"content":"## Get Gold and Crypto Price and RSS News","height":576,"width":1296},"type":"n8n-nodes-base.stickyNote","position":[-3616,-512],"typeVersion":1,"id":"8e57856b-4453-4026-b36d-76922c20249b","name":"Sticky Note1"},{"parameters":{"content":"## Analyze High Impact News from Gold & Crypto RSS News","height":464,"width":864,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2320,-512],"id":"c349828d-cfdd-4bce-9dc5-1f70f69c3451","name":"Sticky Note2"},{"parameters":{"httpMethod":"POST","path":"2e077d0a-786d-4691-aa19-4c6a707594a2","authentication":"headerAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-3584,-176],"id":"63c11cbb-9545-4dc2-b7f6-6734f02085fc","name":"Run Analysis from Portfolio","webhookId":"2e077d0a-786d-4691-aa19-4c6a707594a2","credentials":{"httpHeaderAuth":{"id":"xNYG4pkJdOQCjJAu","name":"My Portfolio"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":13}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-3584,-384],"id":"2c6503e6-ec0b-482e-ab8a-ad4778585707","name":"Run Daily Analysis"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"2e1e84dc-b247-4abc-82a9-2187f486a8f8","leftValue":"={{ $('Run Daily Analysis').isExecuted }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1392,-400],"id":"4e7d0dfd-eb4e-48ca-8c30-8553f11ce962","name":"If"},{"parameters":{"jsCode":"// =======================\n// Helpers\n// =======================\nfunction formatArrayHTML(arr) {\n  if (!Array.isArray(arr) || arr.length === 0) return \"\";\n  return `<ul>${arr.map(r => `<li>${r}</li>`).join(\"\")}</ul>`;\n}\n\n// =======================\n// Process AI outputs\n// =======================\nconst items = $input.all();\n\nlet goldSection = \"\";\nlet cryptoSection = \"\";\n\nfor (const item of items) {\n  const data = item.json; // normalized output\n\n  if (!data || !data.asset) continue;\n\n  // ---- GOLD ----\n  if (data.asset === \"gold\") {\n    const d = data.data;\n    goldSection = `\n<h2 style=\"color:#d4af37;\">🟡 GOLD MARKET UPDATE</h2>\n<p><strong>Bias:</strong> ${data.bias ?? \"N/A\"}<br/>\n<strong>Confidence:</strong> ${data.confidence ?? \"N/A\"}<br/>\n<strong>24H Direction:</strong> ${d.summary?.price_direction_24h ?? \"N/A\"}<br/>\n<strong>7D Direction:</strong> ${d.summary?.price_direction_7d ?? \"N/A\"}</p>\n\n<h3>Main Driver</h3>\n<p><strong>${d.key_driver?.theme ?? \"N/A\"}</strong><br/>\n${d.key_driver?.explanation ?? \"N/A\"}</p>\n\n<h3>Market Context</h3>\n<p><strong>USD Dynamics:</strong> ${d.market_context?.usd_dynamics ?? \"N/A\"}<br/>\n<strong>Real Yields:</strong> ${d.market_context?.real_yields ?? \"N/A\"}<br/>\n<strong>Risk Sentiment:</strong> ${d.market_context?.risk_sentiment ?? \"N/A\"}</p>\n\n<h3>Key Risks</h3>\n${formatArrayHTML(d.risk_factors)}\n\n<h3>Top Source</h3>\n<p><strong>${d.top_news_source?.source_name ?? \"N/A\"}</strong><br/>\nHeadline: ${d.top_news_source?.headline ?? \"N/A\"}<br/>\nLink: <a href=\"${d.top_news_source?.url ?? \"#\"}\">${d.top_news_source?.url ?? \"N/A\"}</a></p>\n`;\n  }\n\n  // ---- CRYPTO ----\n  if (data.asset === \"crypto\") {\n    const d = data.data;\n    cryptoSection = `\n<h2 style=\"color:#f7931a;\">🟠 BITCOIN MARKET UPDATE</h2>\n<p><strong>Bias:</strong> ${data.bias ?? \"N/A\"}<br/>\n<strong>Confidence:</strong> ${data.confidence ?? \"N/A\"}<br/>\n<strong>Trend Direction:</strong> ${d.summary?.trend_direction ?? \"N/A\"}</p>\n\n<h3>Main Driver</h3>\n<p><strong>${d.key_driver?.theme ?? \"N/A\"}</strong><br/>\n${d.key_driver?.explanation ?? \"N/A\"}</p>\n\n<h3>Market Context</h3>\n<p><strong>Liquidity:</strong> ${d.market_context?.liquidity ?? \"N/A\"}<br/>\n<strong>Risk Regime:</strong> ${d.market_context?.risk_regime ?? \"N/A\"}<br/>\n<strong>Institutional Flows:</strong> ${d.market_context?.institutional_flows ?? \"N/A\"}</p>\n\n<h3>Key Risks</h3>\n${formatArrayHTML(d.risk_factors)}\n\n<h3>Top Source</h3>\n<p><strong>${d.top_news_source?.source_name ?? \"N/A\"}</strong><br/>\nHeadline: ${d.top_news_source?.headline ?? \"N/A\"}<br/>\nLink: <a href=\"${d.top_news_source?.url ?? \"#\"}\">${d.top_news_source?.url ?? \"N/A\"}</a></p>\n`;\n  }\n}\n\n// =======================\n// Final Email Output\n// =======================\nreturn [\n  {\n    json: {\n      // Email from webhook / previous node\n      email: $('Run Analysis from Portfolio').first().json.body.email ?? null,\n      subject: \"Daily Macro Market Brief — Gold & Bitcoin\",\n      body: `\n<html>\n  <body style=\"font-family:Arial,sans-serif;line-height:1.5;color:#333;\">\n    <h1>DAILY MACRO INTELLIGENCE REPORT</h1>\n    <p>Generated: ${new Date().toUTCString()}</p>\n    ${goldSection}\n    ${cryptoSection}\n    <hr/>\n    <p style=\"font-size:0.9em;color:#555;\">\n      ⚠️ This report is AI-generated for informational purposes only.<br/>\n      Not financial advice. DYOR.\n    </p>\n  </body>\n</html>\n`\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1216,0],"id":"6b416f3c-90d2-48cc-80c0-81662ab3b539","name":"Format Response from Webhook (Email)"},{"parameters":{"fromEmail":"work@kenthalexisosila.dev","toEmail":"={{ $json.email }}","subject":"={{ $json.subject }}","html":"={{ $json.body }}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-992,0],"id":"93e35a48-a5bd-4640-b25e-3078d07bb8a9","name":"Send email from Webhook","webhookId":"d7f1a18b-3863-4f30-9de5-9272f63e5b3e","credentials":{"smtp":{"id":"xiNnaOF6irhvRZjH","name":"SMTP account"}}}],"connections":{"Wait":{"main":[[{"node":"Loop Fetching News","type":"main","index":0}]]},"Get Gold Price":{"main":[[{"node":"Extract Gold Price","type":"main","index":0}]]},"Extract Gold Price":{"main":[[{"node":"Get BTC Price","type":"main","index":0}]]},"Get BTC Price":{"main":[[{"node":"Set RSS Data","type":"main","index":0}]]},"Set RSS Data":{"main":[[{"node":"Split Out RSS Data","type":"main","index":0}]]},"Split Out RSS Data":{"main":[[{"node":"Loop Fetching News","type":"main","index":0}]]},"Analyze News":{"main":[[{"node":"Normalize AI Output","type":"main","index":0}]]},"Google Gemini":{"ai_languageModel":[[{"node":"Analyze News","type":"ai_languageModel","index":0}]]},"Filter High Impact News":{"main":[[{"node":"Set AI User & System Message","type":"main","index":0}]]},"Get RSS Data":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Set AI User & System Message":{"main":[[{"node":"Analyze News","type":"main","index":0}]]},"Normalize AI Output":{"main":[[{"node":"If","type":"main","index":0}]]},"Format Response (Discord)":{"main":[[{"node":"Loop Discord Message","type":"main","index":0}]]},"Loop Discord Message":{"main":[[],[{"node":"Send a message","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Format Response (Discord)","type":"main","index":0}]]},"Loop Fetching News":{"main":[[{"node":"Filter High Impact News","type":"main","index":0}],[{"node":"Get RSS Data","type":"main","index":0}]]},"Format Response (Email)":{"main":[[{"node":"Send email","type":"main","index":0}]]},"Send email":{"main":[[]]},"Post to Facebook Page":{"main":[[]]},"Format Response (Facebook)":{"main":[[{"node":"Post to Facebook Page","type":"main","index":0}]]},"Run Daily Analysis":{"main":[[{"node":"Get Gold Price","type":"main","index":0}]]},"Run Analysis from Portfolio":{"main":[[{"node":"Get Gold Price","type":"main","index":0}]]},"If":{"main":[[{"node":"Format Response (Discord)","type":"main","index":0},{"node":"Format Response (Email)","type":"main","index":0},{"node":"Format Response (Facebook)","type":"main","index":0}],[{"node":"Format Response from Webhook (Email)","type":"main","index":0}]]},"Format Response from Webhook (Email)":{"main":[[{"node":"Send email from Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Run Daily Analysis":{"recurrenceRules":[14]}},"meta":null,"pinData":{},"versionId":"4bb629bd-7c4f-4bf5-b2fe-32704d311b02","activeVersionId":"4bb629bd-7c4f-4bf5-b2fe-32704d311b02","triggerCount":2,"shared":[{"updatedAt":"2026-01-22T04:30:55.104Z","createdAt":"2026-01-22T04:30:55.104Z","role":"workflow:owner","workflowId":"YIjKrwwPKyXQ5A2J","projectId":"BoV1q8XdtwFqx7dN"}],"activeVersion":{"updatedAt":"2026-01-24T10:53:03.647Z","createdAt":"2026-01-24T10:53:03.647Z","versionId":"4bb629bd-7c4f-4bf5-b2fe-32704d311b02","workflowId":"YIjKrwwPKyXQ5A2J","nodes":[{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2704,-128],"id":"e6c0e862-5051-47c0-88f5-7e608755dc42","name":"Wait","webhookId":"43bbdc3c-79a7-4feb-91d1-d4aa0d407b85"},{"parameters":{"url":"https://www.investing.com/commodities/gold","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3360,-384],"id":"e974c61d-4f68-4e99-84e0-dbdcb4771657","name":"Get Gold Price","alwaysOutputData":true},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"currentPrice","cssSelector":"div[data-test=\"instrument-price-last\"]"}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-3360,-176],"id":"596071b3-1a89-4b37-93af-2b33be849570","name":"Extract Gold Price"},{"parameters":{"url":"https://api.binance.com/api/v3/ticker/price?symbol=BTCUSDT","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3136,-384],"id":"adb551ea-8348-40cc-a9e8-919b78cd0998","name":"Get BTC Price","alwaysOutputData":false,"executeOnce":false},{"parameters":{"jsCode":"let rssSources = [];\n\nrssSources = [\n  // Gold & Commodities\n  \"https://www.nasdaq.com/feed/rssoutbound?category=Commodities\",\n  \"https://news.google.com/rss/search?q=gold+price+OR+XAUUSD+OR+precious+metals&hl=en&gl=US&ceid=US:en\",\n  \"https://www.fxstreet.com/rss/news?f=gold\",\n  \"https://www.fxstreet.com/rss/news\",\n  \"https://feeds.bloomberg.com/markets/news.rss\",\n  \"https://www.investing.com/rss/news_1.rss\",\n  \"https://www.investing.com/rss/news_285.rss\",\n  \"https://finance.yahoo.com/rss/\",\n\n  // Crypto\n  \"https://www.coindesk.com/arc/outboundfeeds/rss/\",\n  \"https://cointelegraph.com/rss\",\n  \"https://decrypt.co/feed\",\n  \"https://cryptoslate.com/feed/\",\n  \"https://www.ethnews.com/rss\",\n  \"https://app.chaingpt.org/rssfeeds.xml\",\n];\n\nreturn {\n  news: rssSources,\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2944,-384],"id":"285a7a7f-c7b6-4fa7-8cb7-743a6ee7a8b5","name":"Set RSS Data"},{"parameters":{"fieldToSplitOut":"news","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2944,-176],"id":"96443507-27e3-42b6-b602-ec9f70d67769","name":"Split Out RSS Data"},{"parameters":{"promptType":"define","text":"={{ $json.messages }}","options":{"systemMessage":"={{ $json.messages }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-1888,-400],"id":"c9eba134-a4f8-48c3-99ee-78d898ceae65","name":"Analyze News","executeOnce":false},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1824,-176],"id":"2a46888d-944e-46eb-88e0-7452bcec97da","name":"Google Gemini","credentials":{"googlePalmApi":{"id":"Kpnaw4dZqhF9bke8","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsCode":"// =====================\n// Shared helpers & time window\n// =====================\nconst now = new Date();\nconst twoDaysAgo = new Date(now);\ntwoDaysAgo.setUTCDate(now.getUTCDate() - 2);\n\nconst todayStr = now.toISOString().slice(0, 10);\nconst twoDaysAgoStr = twoDaysAgo.toISOString().slice(0, 10);\n\nconst isValidAbsoluteUrl = (url) =>\n  typeof url === 'string' && /^https?:\\/\\/.+/i.test(url);\n\n// =====================\n// Keyword dictionaries\n// =====================\nconst GOLD_KEYWORDS = {\n  \"fed\": 5,\n  \"interest\": 4,\n  \"inflation\": 5,\n  \"cpi\": 5,\n  \"ppi\": 4,\n  \"recession\": 5,\n  \"geopolitical\": 5,\n  \"war\": 5,\n  \"oil\": 3,\n  \"usd\": 4,\n  \"gold\": 5,\n  \"interest rate\": 4,\n  \"monetary policy\": 5,\n  \"quantitative easing\": 4,\n  \"quantitative tightening\": 4,\n  \"central bank\": 5,\n  \"economic slowdown\": 4,\n  \"global supply chain\": 3,\n  \"economic crisis\": 5\n};\n\nconst CRYPTO_KEYWORDS = {\n  \"fed\": 5,\n  \"interest rate\": 5,\n  \"rate hike\": 5,\n  \"rate cut\": 5,\n  \"liquidity\": 4,\n  \"inflation\": 5,\n  \"cpi\": 5,\n  \"recession\": 5,\n  \"risk-on\": 4,\n  \"risk-off\": 4,\n  \"bitcoin\": 5,\n  \"btc\": 5,\n  \"etf\": 4,\n  \"institutional demand\": 4,\n  \"stablecoin\": 4,\n  \"exchange inflows\": 4,\n  \"exchange outflows\": 4,\n  \"sec\": 5,\n  \"crypto regulation\": 5,\n  \"hack\": 5,\n  \"bankruptcy\": 5\n};\n\n// =====================\n// Generic scoring engine\n// =====================\nfunction scoreArticles({ keywords, scanMode }) {\n  return $input.all()\n    .map(item => {\n      const json = item.json;\n      const link = json.link || json.url;\n      if (!isValidAbsoluteUrl(link)) return null;\n\n      const pubDateRaw = json.pubDate || json.isoDate;\n      if (!pubDateRaw) return null;\n\n      const pubDate = new Date(pubDateRaw);\n      if (pubDate < twoDaysAgo || pubDate > now) return null;\n\n      const title = json.title || \"\";\n      const content = json.contentSnippet || json.content || \"\";\n\n      const text =\n        scanMode === \"title\"\n          ? title.toLowerCase()\n          : (title + \" \" + content).toLowerCase();\n\n      let score = 0;\n      for (const word in keywords) {\n        if (text.includes(word)) score += keywords[word];\n      }\n\n      if (score === 0) return null;\n\n      return { title, content, pubDate, link, score };\n    })\n    .filter(Boolean)\n    .sort((a, b) =>\n      b.score !== a.score\n        ? b.score - a.score\n        : new Date(b.pubDate) - new Date(a.pubDate)\n    );\n}\n\n// =====================\n// Execute analyses\n// =====================\nconst goldArticles = scoreArticles({\n  keywords: GOLD_KEYWORDS,\n  scanMode: \"title\"\n});\n\nconst cryptoArticles = scoreArticles({\n  keywords: CRYPTO_KEYWORDS,\n  scanMode: \"full\"\n});\n\n// =====================\n// Resolve active asset + price (SAFE)\n// =====================\nconst goldPrice =\n  $('Extract Gold Price').first().json.currentPrice ?? null;\n\nconst btcPrice =\n  $('Get BTC Price').first().json.price ?? null;\n\n\n// =====================\n// Output (PROMPT-FRIENDLY)\n// =====================\nreturn [{\n  json: {\n    dateRange: `${twoDaysAgoStr} - ${todayStr}`,\n    gold: {\n      count: goldArticles.length,\n      currentPrice: goldPrice,\n      articles: goldArticles\n    },\n    crypto: {\n      count: cryptoArticles.length,\n      currentPrice: btcPrice,\n      articles: cryptoArticles\n    }\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2272,-400],"id":"ce8c7d86-3e8b-436f-8d70-98006430250e","name":"Filter High Impact News","alwaysOutputData":false},{"parameters":{"url":"={{ $json.news }}","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-2480,-336],"id":"522e2519-7dac-4b11-ae6c-8471f66b9016","name":"Get RSS Data"},{"parameters":{"jsCode":"// =======================\n// INPUT\n// =======================\nconst goldArticles   = $input.first().json.gold?.articles || [];\nconst goldPrice      = $input.first().json.gold?.currentPrice ?? null;\n\nconst cryptoArticles = $input.first().json.crypto?.articles || [];\nconst cryptoPrice    = $input.first().json.crypto?.currentPrice ?? null;\n\n// =======================\n// HELPERS\n// =======================\nfunction formatArticles(articles) {\n  return articles\n    .map((article, index) => {\n      const link = article.link || article.url || \"N/A\";\n      return `\nARTICLE ${index + 1}\nLink: ${link}\nContent:\n${article.contentSnippet || article.content || \"\"}\n`;\n    })\n    .join(\"\\n\\n---\\n\\n\");\n}\n\n// =======================\n// SYSTEM MESSAGES\n// =======================\nconst SYSTEM_MESSAGES = {\n  gold: `You are a high-conviction gold macro analyst.\nFocus only on price-relevant macro & institutional signals.\nWeigh credibility heavily. Analysis only (DYOR).\nRespond exclusively in valid JSON.`,\n\n  crypto: `You are a high-conviction Bitcoin macro analyst.\nFocus only on price-relevant macro & institutional signals.\nIgnore hype and opinion pieces.\nWeigh credibility heavily. Analysis only (DYOR).\nRespond exclusively in valid JSON.`\n};\n\n// =======================\n// USER PROMPT BUILDER (STRICT)\n// =======================\nfunction buildUserPrompt({ asset, articles, price }) {\n  const schema =\n    asset === \"gold\"\n      ? `\n{\n  \"asset\": \"gold\",\n  \"timestamp_utc\": \"\",\n  \"summary\": {\n    \"bias\": \"Bullish | Bearish | Neutral\",\n    \"confidence_score\": 0,\n    \"price_direction_24h\": \"\",\n    \"price_direction_7d\": \"\"\n  },\n  \"key_driver\": {\n    \"theme\": \"\",\n    \"explanation\": \"\"\n  },\n  \"market_context\": {\n    \"usd_dynamics\": \"\",\n    \"real_yields\": \"\",\n    \"risk_sentiment\": \"\"\n  },\n  \"top_news_source\": {\n    \"source_name\": \"\",\n    \"headline\": \"\",\n    \"url\": \"\"\n  },\n  \"risk_factors\": []\n}\n`\n      : `\n{\n  \"asset\": \"crypto\",\n  \"timestamp_utc\": \"\",\n  \"summary\": {\n    \"bias\": \"Bullish | Bearish | Neutral\",\n    \"confidence_score\": 0,\n    \"trend_direction\": \"UP | DOWN | NEUTRAL\"\n  },\n  \"key_driver\": {\n    \"theme\": \"\",\n    \"explanation\": \"\"\n  },\n  \"market_context\": {\n    \"liquidity\": \"\",\n    \"risk_regime\": \"\",\n    \"institutional_flows\": \"\"\n  },\n  \"top_news_source\": {\n    \"source_name\": \"\",\n    \"headline\": \"\",\n    \"url\": \"\"\n  },\n  \"risk_factors\": []\n}\n`;\n\n  return `\n📰 NEWS INPUT:\n${formatArticles(articles)}\n\n💰 Current ${asset === \"gold\" ? \"XAU/USD\" : \"BTC/USD\"} Price:\n${price}\n\n=========================\nSTRICT OUTPUT RULES\n=========================\n• Return VALID JSON ONLY\n• Use EXACT schema below\n• DO NOT add/remove/rename fields\n• DO NOT use markdown or code blocks\n• Never omit fields\n• If uncertain, use null or \"Unknown\"\n\n=========================\nJSON SCHEMA\n=========================\n${schema}\n`;\n}\n\n// =======================\n// OUTPUT (2 ITEMS → AI AUTO-LOOPS)\n// =======================\nconst outputs = [];\n\nif (goldArticles.length) {\n  outputs.push({\n    json: {\n      asset: \"gold\",\n      messages: [\n        { role: \"system\", content: SYSTEM_MESSAGES.gold },\n        {\n          role: \"user\",\n          content: buildUserPrompt({\n            asset: \"gold\",\n            articles: goldArticles,\n            price: goldPrice\n          })\n        }\n      ]\n    }\n  });\n}\n\nif (cryptoArticles.length) {\n  outputs.push({\n    json: {\n      asset: \"crypto\",\n      messages: [\n        { role: \"system\", content: SYSTEM_MESSAGES.crypto },\n        {\n          role: \"user\",\n          content: buildUserPrompt({\n            asset: \"crypto\",\n            articles: cryptoArticles,\n            price: cryptoPrice\n          })\n        }\n      ]\n    }\n  });\n}\n\nreturn outputs;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2064,-400],"id":"c2aa0651-b773-461e-89d6-d16874863368","name":"Set AI User & System Message"},{"parameters":{"jsCode":"// Loop over all incoming items (gold + crypto)\nreturn $input.all().map(item => {\n  const raw =\n    typeof item.json.output === \"string\"\n      ? JSON.parse(\n          item.json.output\n            .replace(/```json/g, \"\")\n            .replace(/```/g, \"\")\n            .trim()\n        )\n      : item.json.output ?? item.json;\n\n  return {\n    json: {\n\n      // Normalized fields\n      asset: raw.asset ?? null,\n      bias: raw.summary?.bias ?? null,\n      confidence: raw.summary?.confidence_score ?? null,\n      key_driver: raw.key_driver?.theme ?? null,\n      source: raw.top_news_source?.source_name ?? null,\n\n      // Full raw payload (for formatter nodes)\n      data: raw\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1600,-400],"id":"adff9cf0-e2c2-47b9-b5a8-92c629cac9ad","name":"Normalize AI Output"},{"parameters":{"jsCode":"const items = $input.all(); // normalized outputs\nconst messages = [];\n\n// Helper → render line only if value exists\nconst line = (label, value) => value ? `**${label}:** ${value}\\n` : \"\";\n\n// Helper → format risk factors\nconst formatRisks = (risks) => {\n  if (!Array.isArray(risks)) return \"\";\n  return risks.map(r => `• ${r.theme ? `${r.theme}: ` : \"\"}${r.explanation || r}`).join(\"\\n\");\n};\n\n// Helper → split long messages into chunks for Discord (<2000 chars)\nconst pushChunk = (text) => {\n  if (!text) return;\n  const buffer = 1900;\n  if (text.length <= buffer) {\n    messages.push({ json: { discordMessage: text } });\n  } else {\n    let temp = \"\";\n    for (const line of text.split(\"\\n\")) {\n      if ((temp + \"\\n\" + line).length > buffer) {\n        messages.push({ json: { discordMessage: temp } });\n        temp = line;\n      } else {\n        temp += (temp ? \"\\n\" : \"\") + line;\n      }\n    }\n    if (temp) messages.push({ json: { discordMessage: temp } });\n  }\n};\n\n// =====================\n// Build Quick Summary Table\n// =====================\nlet summaryTable = \"📊 **MARKET SNAPSHOT**\\n\\n\";\nsummaryTable += \"```\\n\";\nsummaryTable += \"ASSET   | BIAS    | CONF | 24H/Trend | 7D/Trend\\n\";\nsummaryTable += \"--------|--------|------|-----------|-----------\\n\";\n\nfor (const item of items) {\n  const data = item.json;\n  if (!data?.asset || !data.data) continue;\n  const d = data.data;\n\n  if (data.asset === \"gold\") {\n    summaryTable += `GOLD    | ${data.bias || \"N/A\"} | ${data.confidence || \"N/A\"} | ${d.summary?.price_direction_24h || \"N/A\"} | ${d.summary?.price_direction_7d || \"N/A\"}\\n`;\n  }\n\n  if (data.asset === \"crypto\") {\n    summaryTable += `BTC     | ${data.bias || \"N/A\"} | ${data.confidence || \"N/A\"} | ${d.summary?.trend_direction || \"N/A\"} | N/A\\n`;\n  }\n}\n\nsummaryTable += \"```\\n\\n\";\n\npushChunk(summaryTable);\n\n// =====================\n// Build Detailed Sections\n// =====================\nfor (const item of items) {\n  const data = item.json;\n  if (!data?.asset || !data.data) continue;\n  const d = data.data;\n\n  // ---------------------\n  // GOLD\n  // ---------------------\n  if (data.asset === \"gold\") {\n    let msg = `📊 **GOLD MARKET UPDATE (XAU/USD)**\\n\\n`;\n\n    // Metrics block\n    msg += \"```\\n\";\n    msg += `Bias      : ${data.bias || \"N/A\"}\\n`;\n    msg += `Confidence: ${data.confidence || \"N/A\"}\\n`;\n    msg += `24H Dir   : ${d.summary?.price_direction_24h || \"N/A\"}\\n`;\n    msg += `7D Dir    : ${d.summary?.price_direction_7d || \"N/A\"}\\n`;\n    msg += \"```\\n\\n\";\n\n    msg += `🧠 **Main Driver**\\n${d.key_driver?.theme || \"N/A\"}\\n`;\n    msg += `${d.key_driver?.explanation || \"\"}\\n\\n`;\n\n    msg += `📉 **Market Context**\\n`;\n    msg += line(\"USD Dynamics\", d.market_context?.usd_dynamics);\n    msg += line(\"Real Yields\", d.market_context?.real_yields);\n    msg += line(\"Risk Sentiment\", d.market_context?.risk_sentiment);\n\n    if (d.risk_factors?.length) {\n      msg += `\\n⚠️ **Key Risks**\\n${formatRisks(d.risk_factors)}\\n`;\n    }\n\n    if (d.top_news_source) {\n      msg += `\\n📰 **Top Source**\\n${d.top_news_source.source_name}\\n`;\n      msg += `Headline: ${d.top_news_source.headline}\\n`;\n      msg += `Link: ${d.top_news_source.url}\\n`;\n    }\n\n    msg += `\\n⚠️ Not financial advice. DYOR.\\n`;\n\n    pushChunk(msg);\n  }\n\n  // ---------------------\n  // CRYPTO\n  // ---------------------\n  if (data.asset === \"crypto\") {\n    let msg = `🟠 **BITCOIN MARKET UPDATE (BTC/USD)**\\n\\n`;\n\n    // Metrics block\n    msg += \"```\\n\";\n    msg += `Bias      : ${data.bias || \"N/A\"}\\n`;\n    msg += `Confidence: ${data.confidence || \"N/A\"}\\n`;\n    msg += `Trend Dir : ${d.summary?.trend_direction || \"N/A\"}\\n`;\n    msg += \"```\\n\\n\";\n\n    msg += `🧠 **Main Driver**\\n${d.key_driver?.theme || \"N/A\"}\\n`;\n    msg += `${d.key_driver?.explanation || \"\"}\\n\\n`;\n\n    msg += `📉 **Market Context**\\n`;\n    msg += line(\"Liquidity\", d.market_context?.liquidity);\n    msg += line(\"Risk Regime\", d.market_context?.risk_regime);\n    msg += line(\"Institutional Flows\", d.market_context?.institutional_flows);\n\n    if (d.risk_factors?.length) {\n      msg += `\\n⚠️ **Key Risks**\\n${formatRisks(d.risk_factors)}\\n`;\n    }\n\n    if (d.top_news_source) {\n      msg += `\\n📰 **Top Source**\\n${d.top_news_source.source_name}\\n`;\n      msg += `Headline: ${d.top_news_source.headline}\\n`;\n      msg += `Link: ${d.top_news_source.url}\\n`;\n    }\n\n    msg += `\\n⚠️ Not financial advice. DYOR.\\n`;\n\n    pushChunk(msg);\n  }\n}\n\nreturn messages;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1216,-400],"id":"09efe9e0-c2f5-4b6b-aa16-abd7db0a9bee","name":"Format Response (Discord)"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-992,-432],"id":"c869f732-8180-4df6-a248-f70baabd862c","name":"Loop Discord Message"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1424017920106692648","mode":"list","cachedResultName":"Trading Insights","cachedResultUrl":"https://discord.com/channels/1424017920106692648"},"channelId":{"__rl":true,"value":"1464256964229071144","mode":"list","cachedResultName":"market_analysis","cachedResultUrl":"https://discord.com/channels/1424017920106692648/1464256964229071144"},"content":"={{ $json.discordMessage }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[-768,-400],"id":"1965b2f7-7a1f-451b-bb4a-be5f6e16ac3b","name":"Send a message","webhookId":"2b39f1c3-d6f1-4eec-86f4-8f4382691460","credentials":{"discordBotApi":{"id":"qk5T7H5S1dXZ8B2n","name":"Market Analysis Bot"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2720,-384],"id":"ff2fd260-ab1a-4d2e-9441-14c013c07609","name":"Loop Fetching News"},{"parameters":{"jsCode":"// =======================\n// Helpers\n// =======================\nfunction formatArrayHTML(arr) {\n  if (!Array.isArray(arr) || arr.length === 0) return \"\";\n  return `<ul>${arr.map(r => `<li>${r}</li>`).join(\"\")}</ul>`;\n}\n\n// =======================\n// Process AI outputs\n// =======================\nconst items = $input.all();\n\nlet goldSection = \"\";\nlet cryptoSection = \"\";\n\nfor (const item of items) {\n  const data = item.json; // normalized output\n\n  if (!data || !data.asset) continue;\n\n  // ---- GOLD ----\n  if (data.asset === \"gold\") {\n    const d = data.data;\n    goldSection = `\n<h2 style=\"color:#d4af37;\">🟡 GOLD MARKET UPDATE</h2>\n<p><strong>Bias:</strong> ${data.bias ?? \"N/A\"}<br/>\n<strong>Confidence:</strong> ${data.confidence ?? \"N/A\"}<br/>\n<strong>24H Direction:</strong> ${d.summary?.price_direction_24h ?? \"N/A\"}<br/>\n<strong>7D Direction:</strong> ${d.summary?.price_direction_7d ?? \"N/A\"}</p>\n\n<h3>Main Driver</h3>\n<p><strong>${d.key_driver?.theme ?? \"N/A\"}</strong><br/>\n${d.key_driver?.explanation ?? \"N/A\"}</p>\n\n<h3>Market Context</h3>\n<p><strong>USD Dynamics:</strong> ${d.market_context?.usd_dynamics ?? \"N/A\"}<br/>\n<strong>Real Yields:</strong> ${d.market_context?.real_yields ?? \"N/A\"}<br/>\n<strong>Risk Sentiment:</strong> ${d.market_context?.risk_sentiment ?? \"N/A\"}</p>\n\n<h3>Key Risks</h3>\n${formatArrayHTML(d.risk_factors)}\n\n<h3>Top Source</h3>\n<p><strong>${d.top_news_source?.source_name ?? \"N/A\"}</strong><br/>\nHeadline: ${d.top_news_source?.headline ?? \"N/A\"}<br/>\nLink: <a href=\"${d.top_news_source?.url ?? \"#\"}\">${d.top_news_source?.url ?? \"N/A\"}</a></p>\n`;\n  }\n\n  // ---- CRYPTO ----\n  if (data.asset === \"crypto\") {\n    const d = data.data;\n    cryptoSection = `\n<h2 style=\"color:#f7931a;\">🟠 BITCOIN MARKET UPDATE</h2>\n<p><strong>Bias:</strong> ${data.bias ?? \"N/A\"}<br/>\n<strong>Confidence:</strong> ${data.confidence ?? \"N/A\"}<br/>\n<strong>Trend Direction:</strong> ${d.summary?.trend_direction ?? \"N/A\"}</p>\n\n<h3>Main Driver</h3>\n<p><strong>${d.key_driver?.theme ?? \"N/A\"}</strong><br/>\n${d.key_driver?.explanation ?? \"N/A\"}</p>\n\n<h3>Market Context</h3>\n<p><strong>Liquidity:</strong> ${d.market_context?.liquidity ?? \"N/A\"}<br/>\n<strong>Risk Regime:</strong> ${d.market_context?.risk_regime ?? \"N/A\"}<br/>\n<strong>Institutional Flows:</strong> ${d.market_context?.institutional_flows ?? \"N/A\"}</p>\n\n<h3>Key Risks</h3>\n${formatArrayHTML(d.risk_factors)}\n\n<h3>Top Source</h3>\n<p><strong>${d.top_news_source?.source_name ?? \"N/A\"}</strong><br/>\nHeadline: ${d.top_news_source?.headline ?? \"N/A\"}<br/>\nLink: <a href=\"${d.top_news_source?.url ?? \"#\"}\">${d.top_news_source?.url ?? \"N/A\"}</a></p>\n`;\n  }\n}\n\n// =======================\n// Final Email Output\n// =======================\nreturn [\n  {\n    json: {\n      subject: \"Daily Macro Market Brief — Gold & Bitcoin\",\n      body: `\n<html>\n  <body style=\"font-family:Arial,sans-serif;line-height:1.5;color:#333;\">\n    <h1>DAILY MACRO INTELLIGENCE REPORT</h1>\n    <p>Generated: ${new Date().toUTCString()}</p>\n    ${goldSection}\n    ${cryptoSection}\n    <hr/>\n    <p style=\"font-size:0.9em;color:#555;\">\n      ⚠️ This report is AI-generated for informational purposes only.<br/>\n      Not financial advice. DYOR.\n    </p>\n  </body>\n</html>\n`\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1216,-192],"id":"e9159125-695e-4f91-9f27-e610a6dd7467","name":"Format Response (Email)"},{"parameters":{"fromEmail":"work@kenthalexisosila.dev","toEmail":"kenthosila@gmail.com","subject":"={{ $json.subject }}","html":"={{ $json.body }}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-992,-192],"id":"e622c577-b0eb-42d7-8bb1-20e39eeb5989","name":"Send email","webhookId":"d7f1a18b-3863-4f30-9de5-9272f63e5b3e","credentials":{"smtp":{"id":"xiNnaOF6irhvRZjH","name":"SMTP account"}}},{"parameters":{"hostUrl":"=graph.facebook.com","httpRequestMethod":"POST","graphApiVersion":"v23.0","node":"=987698524420341","edge":"=feed","options":{"queryParameters":{"parameter":[{"name":"message","value":"={{ $json.message }}"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[-992,192],"id":"9a742851-febc-499b-a4b8-96337feca3e0","name":"Post to Facebook Page","credentials":{"facebookGraphApi":{"id":"crnKYYPUZ2SLvmJ3","name":"Facebook Graph account"}}},{"parameters":{"jsCode":"// =======================\n// Helpers\n// =======================\nfunction generateHashtags({ asset, raw }) {\n  const tags = new Set();\n\n  if (asset === \"gold\") {\n    [\n      \"Gold\",\n      \"XAUUSD\",\n      \"PreciousMetals\",\n      \"SafeHaven\",\n      \"InflationHedge\",\n      \"Macro\",\n      \"Fed\",\n      \"USD\",\n    ].forEach((t) => tags.add(`#${t}`));\n  }\n\n  if (asset === \"crypto\") {\n    [\n      \"Bitcoin\",\n      \"BTC\",\n      \"Crypto\",\n      \"InstitutionalAdoption\",\n      \"ETF\",\n      \"Macro\",\n      \"RiskOnRiskOff\",\n    ].forEach((t) => tags.add(`#${t}`));\n  }\n\n  const textBlob = JSON.stringify(raw).toLowerCase();\n  const keywordMap = {\n    inflation: \"#Inflation\",\n    fed: \"#FederalReserve\",\n    rates: \"#InterestRates\",\n    dollar: \"#USD\",\n    etf: \"#ETF\",\n    geopolit: \"#Geopolitics\",\n    recession: \"#Recession\",\n    liquidity: \"#Liquidity\",\n    yields: \"#RealYields\",\n    risk: \"#MarketRisk\",\n  };\n\n  for (const key in keywordMap) {\n    if (textBlob.includes(key)) tags.add(keywordMap[key]);\n  }\n\n  return Array.from(tags).slice(0, 9).join(\" \");\n}\n\n// =======================\n// Build Post Content\n// =======================\nconst items = $input.all();\nlet posts = [];\n\nfor (const item of items) {\n  const raw = item.json; // normalized output\n  if (!raw || !raw.asset) continue;\n\n  let post = \"\";\n  const isGold = raw.asset === \"gold\";\n  const isCrypto = raw.asset === \"crypto\";\n  const assetType = isGold ? \"gold\" : \"crypto\";\n\n  // ---- Header ----\n  post += isGold\n    ? `📊 GOLD MARKET UPDATE (XAU/USD)\\n\\n`\n    : `🟠 BITCOIN MARKET UPDATE (BTC/USD)\\n\\n`;\n\n  // ---- Gold Format ----\n  if (isGold) {\n    const d = raw.data;\n    post += `🔍 Bias: ${raw.bias ?? \"N/A\"}\\n`;\n    post += `⏱ 24H Outlook: ${d.summary?.price_direction_24h ?? \"N/A\"}\\n`;\n    post += `📆 7D Outlook: ${d.summary?.price_direction_7d ?? \"N/A\"}\\n\\n`;\n    post += `🧠 Main Driver\\n${d.key_driver?.theme ?? \"N/A\"}\\n`;\n    post += `${d.key_driver?.explanation ?? \"N/A\"}\\n\\n`;\n    post += `📉 Market Context\\nUSD Dynamics: ${d.market_context?.usd_dynamics ?? \"N/A\"}\\n`;\n    post += `Real Yields: ${d.market_context?.real_yields ?? \"N/A\"}\\n`;\n    post += `Risk Sentiment: ${d.market_context?.risk_sentiment ?? \"N/A\"}\\n\\n`;\n    if (d.risk_factors?.length) {\n      post += `⚠️ Key Risks\\n${d.risk_factors.map((r) => `• ${r}`).join(\"\\n\")}\\n\\n`;\n    }\n    if (d.top_news_source) {\n      post += `📰 Top Source\\n${d.top_news_source.source_name ?? \"N/A\"}\\n`;\n      post += `Headline: ${d.top_news_source.headline ?? \"N/A\"}\\n`;\n      post += `🔗 ${d.top_news_source.url ?? \"N/A\"}\\n\\n`;\n    }\n  }\n\n  // ---- Crypto Format ----\n  if (isCrypto) {\n    const d = raw.data;\n    post += `🔍 Bias: ${raw.bias ?? \"N/A\"}\\n`;\n    post += `Confidence: ${raw.confidence ?? \"N/A\"}\\n`;\n    post += `Trend Direction: ${d.summary?.trend_direction ?? \"N/A\"}\\n\\n`;\n    post += `🧠 Main Driver\\n${d.key_driver?.theme ?? \"N/A\"}\\n`;\n    post += `${d.key_driver?.explanation ?? \"N/A\"}\\n\\n`;\n    post += `📉 Market Context\\nLiquidity: ${d.market_context?.liquidity ?? \"N/A\"}\\n`;\n    post += `Risk Regime: ${d.market_context?.risk_regime ?? \"N/A\"}\\n`;\n    post += `Institutional Flows: ${d.market_context?.institutional_flows ?? \"N/A\"}\\n\\n`;\n    if (d.risk_factors?.length) {\n      post += `⚠️ Key Risks\\n${d.risk_factors.map((r) => `• ${r}`).join(\"\\n\")}\\n\\n`;\n    }\n    if (d.top_news_source) {\n      post += `📰 Top Source\\n${d.top_news_source.source_name ?? \"N/A\"}\\n`;\n      post += `Headline: ${d.top_news_source.headline ?? \"N/A\"}\\n`;\n      post += `🔗 ${d.top_news_source.url ?? \"N/A\"}\\n\\n`;\n    }\n  }\n\n  // ---- Footer + Hashtags ----\n  post += `⚠️ Not financial advice. Analysis only. DYOR.\\n\\n`;\n  post += `👉 Follow for daily ${isGold ? \"gold & macro\" : \"Bitcoin & macro\"} insights\\n\\n`;\n  post += `${generateHashtags({ asset: assetType, raw })}`;\n\n  posts.push({ json: { message: post } });\n}\n\n// =======================\n// Output\n// =======================\nreturn posts;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1216,192],"id":"bff74286-8d54-47df-8da2-925ec04c4571","name":"Format Response (Facebook)","alwaysOutputData":false},{"parameters":{"content":"## Send/Post Message to Discord, Email, Facebook","height":864,"width":848,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1456,-512],"typeVersion":1,"id":"1f924ebf-14c5-45b4-902e-f1a39bae870b","name":"Sticky Note"},{"parameters":{"content":"## Get Gold and Crypto Price and RSS News","height":576,"width":1296},"type":"n8n-nodes-base.stickyNote","position":[-3616,-512],"typeVersion":1,"id":"8e57856b-4453-4026-b36d-76922c20249b","name":"Sticky Note1"},{"parameters":{"content":"## Analyze High Impact News from Gold & Crypto RSS News","height":464,"width":864,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2320,-512],"id":"c349828d-cfdd-4bce-9dc5-1f70f69c3451","name":"Sticky Note2"},{"parameters":{"httpMethod":"POST","path":"2e077d0a-786d-4691-aa19-4c6a707594a2","authentication":"headerAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-3584,-176],"id":"63c11cbb-9545-4dc2-b7f6-6734f02085fc","name":"Run Analysis from Portfolio","webhookId":"2e077d0a-786d-4691-aa19-4c6a707594a2","credentials":{"httpHeaderAuth":{"id":"xNYG4pkJdOQCjJAu","name":"My Portfolio"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":13}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-3584,-384],"id":"2c6503e6-ec0b-482e-ab8a-ad4778585707","name":"Run Daily Analysis"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"2e1e84dc-b247-4abc-82a9-2187f486a8f8","leftValue":"={{ $('Run Daily Analysis').isExecuted }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1392,-400],"id":"4e7d0dfd-eb4e-48ca-8c30-8553f11ce962","name":"If"},{"parameters":{"jsCode":"// =======================\n// Helpers\n// =======================\nfunction formatArrayHTML(arr) {\n  if (!Array.isArray(arr) || arr.length === 0) return \"\";\n  return `<ul>${arr.map(r => `<li>${r}</li>`).join(\"\")}</ul>`;\n}\n\n// =======================\n// Process AI outputs\n// =======================\nconst items = $input.all();\n\nlet goldSection = \"\";\nlet cryptoSection = \"\";\n\nfor (const item of items) {\n  const data = item.json; // normalized output\n\n  if (!data || !data.asset) continue;\n\n  // ---- GOLD ----\n  if (data.asset === \"gold\") {\n    const d = data.data;\n    goldSection = `\n<h2 style=\"color:#d4af37;\">🟡 GOLD MARKET UPDATE</h2>\n<p><strong>Bias:</strong> ${data.bias ?? \"N/A\"}<br/>\n<strong>Confidence:</strong> ${data.confidence ?? \"N/A\"}<br/>\n<strong>24H Direction:</strong> ${d.summary?.price_direction_24h ?? \"N/A\"}<br/>\n<strong>7D Direction:</strong> ${d.summary?.price_direction_7d ?? \"N/A\"}</p>\n\n<h3>Main Driver</h3>\n<p><strong>${d.key_driver?.theme ?? \"N/A\"}</strong><br/>\n${d.key_driver?.explanation ?? \"N/A\"}</p>\n\n<h3>Market Context</h3>\n<p><strong>USD Dynamics:</strong> ${d.market_context?.usd_dynamics ?? \"N/A\"}<br/>\n<strong>Real Yields:</strong> ${d.market_context?.real_yields ?? \"N/A\"}<br/>\n<strong>Risk Sentiment:</strong> ${d.market_context?.risk_sentiment ?? \"N/A\"}</p>\n\n<h3>Key Risks</h3>\n${formatArrayHTML(d.risk_factors)}\n\n<h3>Top Source</h3>\n<p><strong>${d.top_news_source?.source_name ?? \"N/A\"}</strong><br/>\nHeadline: ${d.top_news_source?.headline ?? \"N/A\"}<br/>\nLink: <a href=\"${d.top_news_source?.url ?? \"#\"}\">${d.top_news_source?.url ?? \"N/A\"}</a></p>\n`;\n  }\n\n  // ---- CRYPTO ----\n  if (data.asset === \"crypto\") {\n    const d = data.data;\n    cryptoSection = `\n<h2 style=\"color:#f7931a;\">🟠 BITCOIN MARKET UPDATE</h2>\n<p><strong>Bias:</strong> ${data.bias ?? \"N/A\"}<br/>\n<strong>Confidence:</strong> ${data.confidence ?? \"N/A\"}<br/>\n<strong>Trend Direction:</strong> ${d.summary?.trend_direction ?? \"N/A\"}</p>\n\n<h3>Main Driver</h3>\n<p><strong>${d.key_driver?.theme ?? \"N/A\"}</strong><br/>\n${d.key_driver?.explanation ?? \"N/A\"}</p>\n\n<h3>Market Context</h3>\n<p><strong>Liquidity:</strong> ${d.market_context?.liquidity ?? \"N/A\"}<br/>\n<strong>Risk Regime:</strong> ${d.market_context?.risk_regime ?? \"N/A\"}<br/>\n<strong>Institutional Flows:</strong> ${d.market_context?.institutional_flows ?? \"N/A\"}</p>\n\n<h3>Key Risks</h3>\n${formatArrayHTML(d.risk_factors)}\n\n<h3>Top Source</h3>\n<p><strong>${d.top_news_source?.source_name ?? \"N/A\"}</strong><br/>\nHeadline: ${d.top_news_source?.headline ?? \"N/A\"}<br/>\nLink: <a href=\"${d.top_news_source?.url ?? \"#\"}\">${d.top_news_source?.url ?? \"N/A\"}</a></p>\n`;\n  }\n}\n\n// =======================\n// Final Email Output\n// =======================\nreturn [\n  {\n    json: {\n      // Email from webhook / previous node\n      email: $('Run Analysis from Portfolio').first().json.body.email ?? null,\n      subject: \"Daily Macro Market Brief — Gold & Bitcoin\",\n      body: `\n<html>\n  <body style=\"font-family:Arial,sans-serif;line-height:1.5;color:#333;\">\n    <h1>DAILY MACRO INTELLIGENCE REPORT</h1>\n    <p>Generated: ${new Date().toUTCString()}</p>\n    ${goldSection}\n    ${cryptoSection}\n    <hr/>\n    <p style=\"font-size:0.9em;color:#555;\">\n      ⚠️ This report is AI-generated for informational purposes only.<br/>\n      Not financial advice. DYOR.\n    </p>\n  </body>\n</html>\n`\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1216,0],"id":"6b416f3c-90d2-48cc-80c0-81662ab3b539","name":"Format Response from Webhook (Email)"},{"parameters":{"fromEmail":"work@kenthalexisosila.dev","toEmail":"={{ $json.email }}","subject":"={{ $json.subject }}","html":"={{ $json.body }}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-992,0],"id":"93e35a48-a5bd-4640-b25e-3078d07bb8a9","name":"Send email from Webhook","webhookId":"d7f1a18b-3863-4f30-9de5-9272f63e5b3e","credentials":{"smtp":{"id":"xiNnaOF6irhvRZjH","name":"SMTP account"}}}],"connections":{"Wait":{"main":[[{"node":"Loop Fetching News","type":"main","index":0}]]},"Get Gold Price":{"main":[[{"node":"Extract Gold Price","type":"main","index":0}]]},"Extract Gold Price":{"main":[[{"node":"Get BTC Price","type":"main","index":0}]]},"Get BTC Price":{"main":[[{"node":"Set RSS Data","type":"main","index":0}]]},"Set RSS Data":{"main":[[{"node":"Split Out RSS Data","type":"main","index":0}]]},"Split Out RSS Data":{"main":[[{"node":"Loop Fetching News","type":"main","index":0}]]},"Analyze News":{"main":[[{"node":"Normalize AI Output","type":"main","index":0}]]},"Google Gemini":{"ai_languageModel":[[{"node":"Analyze News","type":"ai_languageModel","index":0}]]},"Filter High Impact News":{"main":[[{"node":"Set AI User & System Message","type":"main","index":0}]]},"Get RSS Data":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Set AI User & System Message":{"main":[[{"node":"Analyze News","type":"main","index":0}]]},"Normalize AI Output":{"main":[[{"node":"If","type":"main","index":0}]]},"Format Response (Discord)":{"main":[[{"node":"Loop Discord Message","type":"main","index":0}]]},"Loop Discord Message":{"main":[[],[{"node":"Send a message","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Format Response (Discord)","type":"main","index":0}]]},"Loop Fetching News":{"main":[[{"node":"Filter High Impact News","type":"main","index":0}],[{"node":"Get RSS Data","type":"main","index":0}]]},"Format Response (Email)":{"main":[[{"node":"Send email","type":"main","index":0}]]},"Send email":{"main":[[]]},"Post to Facebook Page":{"main":[[]]},"Format Response (Facebook)":{"main":[[{"node":"Post to Facebook Page","type":"main","index":0}]]},"Run Daily Analysis":{"main":[[{"node":"Get Gold Price","type":"main","index":0}]]},"Run Analysis from Portfolio":{"main":[[{"node":"Get Gold Price","type":"main","index":0}]]},"If":{"main":[[{"node":"Format Response (Discord)","type":"main","index":0},{"node":"Format Response (Email)","type":"main","index":0},{"node":"Format Response (Facebook)","type":"main","index":0}],[{"node":"Format Response from Webhook (Email)","type":"main","index":0}]]},"Format Response from Webhook (Email)":{"main":[[{"node":"Send email from Webhook","type":"main","index":0}]]}},"authors":"Kenth Alexis Osila","name":null,"description":null,"autosaved":false},"tags":[]}