workflows/zGE3AKBjFJ2CiLPY.json
{"updatedAt":"2026-01-26T03:39:45.727Z","createdAt":"2026-01-24T17:13:55.224Z","id":"zGE3AKBjFJ2CiLPY","name":"Backup Workflow to Github","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"## Token Expiration\nn8n API key - 30 days (Feb 24, 2026)\nGithub PAT - 30 days (Feb 24, 2026)","height":112,"width":288},"type":"n8n-nodes-base.stickyNote","position":[-688,-368],"typeVersion":1,"id":"acc36703-418c-4a59-badb-8bd8d07206fe","name":"Sticky Note"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-576,216],"id":"389e5965-8009-4b1f-9164-3917e9537ce9","name":"Get Daily Workflows"},{"parameters":{"fieldToSplitOut":"data","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-128,216],"id":"f344e2b4-c4c1-4878-9726-99c8f6de37cf","name":"Split Out"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Input: one item from Split Out, like { nextCursor: null, data: { id, name, nodes, ... } }\n\n// Safely get the workflow payload\nconst workflowData = ($json.data && typeof $json.data === 'object' && !Array.isArray($json.data))\n  ? $json.data\n  : {};\n\n// Safe fallbacks\nconst workflowId   = typeof workflowData.id === 'string' ? workflowData.id : 'unknown';\nconst workflowName = typeof workflowData.name === 'string' ? workflowData.name : `workflow_${workflowId}`;\n\n// Sanitize for filename\n// const safeName = workflowName.replace(/[^a-zA-Z0-9_-]/g, '_');\n\n// Base64-encode ONLY the workflow data (this is what GitHub needs)\nconst contentStr = JSON.stringify(workflowData);\nconst base64Content = Buffer.from(contentStr).toString('base64');\n\n// Human-readable commit message\nconst now = new Date();\nconst commitMsg = `Backup/update: \"${workflowName}\"  - ${now.toLocaleString('en-US', {\n  month: 'long',\n  day: 'numeric',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit',\n  hour12: false,              // 24-hour format\n  timeZone: 'Asia/Manila'\n})} PHT`;\n\n// Name Based File Name\n// const filename = `workflows/${safeName}.json`;\n// ID Based File Name\nconst filename = `workflows/${workflowId}.json`;\n\n// ALWAYS return proper n8n format: array of { json: { ... } }\n// ... same logic as before, but at the end:\n\nreturn {\n  json: {\n    filename: filename,\n    content: base64Content,\n    commit_message: commitMsg,\n    workflowId: workflowId,\n    originalName: workflowName\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[96,216],"id":"169e08f9-b4f8-48b6-8d48-c1dd83393daf","name":"Prepare Workflow for GitHub"},{"parameters":{"url":"=https://kenthautomations.xc1.app/api/v1/workflows","authentication":"predefinedCredentialType","nodeCredentialType":"n8nApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-352,216],"id":"a4631746-fb23-48d6-8da8-ba92f9ff43c4","name":"Get n8n Workflows Data","credentials":{"n8nApi":{"id":"r1imssfEvogVvHIa","name":"n8n account"}}},{"parameters":{"method":"PUT","url":"=https://api.github.com/repos/codebykenth/n8n-workflow-backups/contents/{{ $('Prepare Workflow for GitHub').item.json.filename }}","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github.v3+json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message","value":"={{ $('Prepare Workflow for GitHub').item.json.commit_message }}"},{"name":"content","value":"={{ $('Prepare Workflow for GitHub').item.json.content }}"},{"name":"sha","value":"={{ $json.sha || \"\" }}"},{"name":"branch","value":"main"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1216,-120],"id":"1842dd5a-fb21-47da-9d7f-2a66f8b510be","name":"Upload to GitHub","credentials":{"githubApi":{"id":"UcuNu8cE1W3QNfOa","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{"fromEmail":"work@kenthalexisosila.dev","toEmail":"kenthosila@gmail.com","subject":"=n8n GitHub Backup Error - Workflow: {{ $('Check If File Exists').item.json.name || $json.originalName || \"Unknown\" }}","html":"=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: #f44336; color: white; padding: 15px; border-radius: 5px; }\n    .content { margin-top: 20px; }\n    .field { margin: 10px 0; }\n    .label { font-weight: bold; color: #555; }\n    pre { background: #f8f8f8; padding: 10px; border-radius: 4px; overflow-x: auto; }\n  </style>\n</head>\n<body>\n  <div class=\"header\">\n    <h2>n8n Workflow Backup Failed</h2>\n  </div>\n\n  <div class=\"content\">\n    <p>A backup attempt to GitHub failed during the scheduled run.</p>\n\n    <div class=\"field\">\n      <span class=\"label\">Workflow:</span> {{ $('Check If File Exists').item.json.name || $json.originalName || \"Unknown\" }}\n    </div>\n\n    <div class=\"field\">\n      <span class=\"label\">File attempted:</span> {{  $('Check If File Exists').item.json.filename || \"unknown path\" }}\n    </div>\n\n    <div class=\"field\">\n      <span class=\"label\">Error message:</span><br>\n      <pre>{{ $json.error.message || \"No detailed error available\" }}</pre>\n    </div>\n\n    <p style=\"margin-top: 30px;\">\n      Check your n8n instance → Executions tab for full details.<br>\n      Workflow: <strong>Backup Workflows to GitHub</strong>\n    </p>\n  </div>\n</body>\n</html>","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1440,-192],"id":"c4172440-e7fb-411e-9466-f2d53e5949b4","name":"Notify on Failure","webhookId":"dbaf7525-e240-41a8-8a9e-925dfc7a285e","credentials":{"smtp":{"id":"xiNnaOF6irhvRZjH","name":"SMTP account"}}},{"parameters":{"content":"# Automatic n8n Workflow Backup to GitHub with Change Detection\n\nDaily automated backup of all your n8n workflows as JSON files to a private GitHub repository.  \nOnly commits changes when workflow content actually differs (avoids noise).  \nUses human-readable commit messages in **Philippine Time (PHT / Asia/Manila)** and sends email alerts on failures.\n\n## Overview / How it works\n\nThis workflow runs on a schedule (daily by default) and creates a reliable backup of every workflow in your n8n instance.\n\nIt consists of three main paths:\n\n1. **Fetch & Prepare Workflows**  \n   Fetches all workflows via the n8n REST API → splits them into individual items → extracts the real payload → generates safe filenames, base64-encoded content, and nice commit messages.\n\n2. **Change Detection & Upsert to GitHub**  \n   For each workflow:  \n   - Checks if the file already exists in GitHub (GET /contents)  \n   - Compares current base64 content with the version in GitHub  \n   - If changed (or file is new) → uploads/updates the file via PUT  \n   - Skips unchanged workflows to prevent unnecessary commits\n\n3. **Failure Notification**  \n   If any upload fails (auth error, rate limit, conflict, etc.), sends an email alert with details.\n\nKey integrations used:\n- n8n REST API (to list/export workflows)\n- GitHub Contents API (create/update files)\n- Email (for failure alerts)\n\n## Features\n\n- Backs up **every** workflow as clean `.json` files\n- Only commits when content actually changed (smart diff via base64 comparison)\n- Commit messages show local time in **Asia/Manila (PHT)** — e.g. \"Backup/update: \\\"My Workflow\\\" (ID: abc123) – January 26, 2026 12:45 PHT\"\n- Creates new files automatically; updates existing ones\n- Failure email notification (includes workflow name, filename, error message)\n- Works with self-hosted and cloud n8n instances","height":1040,"width":688},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-288,-1264],"id":"d28ec92a-60d9-47c3-a608-ab01ac70193a","name":"Sticky Note1"},{"parameters":{"content":"\n## Usage Instructions\n\n- The workflow runs automatically on schedule.\n- Backups appear as `workflows/Your_Workflow_Name.json`\n- Only real content changes trigger new commits → clean Git history\n- Commit messages use **Philippine local time (PHT)**\n- If upload fails for any workflow → email sent with details\n\n## Tips & Warnings\n\n- PAT should be rotated yearly (or on suspicion of leak)\n- Large workflows (> 1–2 MB JSON) may hit GitHub file size limits → monitor\n- If many workflows (>50–100), add Wait node before PUT to avoid rate limits\n- Test change detection: edit one workflow → run manually → check commit history\n- For extra safety: use private repo and enable GitHub branch protection\n\n## Related Resources\n\n- n8n API reference: https://docs.n8n.io/api/\n- GitHub Contents API docs: https://docs.github.com/en/rest/repos/contents\n- Your backup repo: https://github.com/yourusername/n8n-workflow-backups (update link)\n- n8n community forum thread (if you post it later)\n\n---\n\nCreated by **Kenth** •  PH • January 2026  \nLast updated: January 2026","height":800,"width":480},"type":"n8n-nodes-base.stickyNote","position":[1152,-1264],"typeVersion":1,"id":"5d331e6d-1952-497e-b423-edc2c7984a2a","name":"Sticky Note2"},{"parameters":{"content":"## Prerequisites\n\n- n8n version ≥ 1.0 (tested on 2.4.6 self-hosted)\n- GitHub repository (e.g. `yourusername/n8n-workflow-backups`)\n- GitHub Personal Access Token (classic) with **repo** scope\n- n8n API key with **Workflow → Read** permission\n- Email credential configured in n8n (Gmail, SMTP, etc.) for failure alerts\n\n## Setup Steps\n\n1. **Create GitHub repository**  \n   Create a new repo (public or private). No need to initialize with files.\n\n2. **Generate GitHub PAT**  \n   GitHub → Settings → Developer settings → Personal access tokens -> Tokens (classic) → Generate new token  \n   Scopes: `repo` (full control)\n   Expiration: 1 year recommended  \n   Copy the token.\n\n3. **Create n8n API Key**  \n   n8n → Settings → API → Create new key  \n   Name: e.g. `n8n-backup-github`  \n   Permissions: **Workflow → Read** only\n\n4. **Add credentials in n8n**  \n   Personal → Credentials → Create credential \n   - GitHub: Github API → Set user (your github username) -> Set access token (your Personal access token) -> Save\n   - n8n API: n8n API → Paste your n8n API key -> Set base url (https://<name>.app.n8n.cloud/api/v1 -> Save\n   - Email: your preferred SMTP / Gmail credential\n\n5. **Import & configure the workflow**  \n   - Import the workflow JSON (or build from canvas screenshot)  \n   - Update **HTTP Request** nodes:  \n     - Base URL: your n8n instance (e.g. `https://n8ninstance.app/api/v1`)  \n     - GitHub repo path: `https://api.github.com/repos/yourusername/your-repo/contents/{{ $json.filename }}`  \n   - Set branch name (`main` or other) in PUT body  \n   - Adjust **Schedule Trigger** interval (e.g. daily at 2 AM PHT)  \n   - Update email node: recipient, subject, etc.\n\n6. **Test the workflow**  \n   - Execute manually → check GitHub repo for new `.json` files  \n   - Make a small change in one workflow → save → re-run → verify new commit  \n   - Force a failure (e.g. wrong PAT temporarily) → confirm email arrives\n","height":1040,"width":688},"type":"n8n-nodes-base.stickyNote","position":[432,-1264],"typeVersion":1,"id":"1acb54ad-f130-42e8-a32e-0cfa4681ba0d","name":"Sticky Note3"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1664,-48],"id":"71cb5dcf-be0b-42d4-a94e-9e386daa4e85","name":"Wait","webhookId":"dae005b9-94ad-4873-b9d5-f5241eb59b06"},{"parameters":{"url":"=https://api.github.com/repos/codebykenth/n8n-workflow-backups/contents/{{ $json.filename }}","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Application","value":"application/vnd.github.v3+json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[544,312],"id":"6c4e3a2f-e28d-425c-afa8-7d1c710aa812","name":"Check If File Exists1","credentials":{"githubApi":{"id":"UcuNu8cE1W3QNfOa","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Get local content (from previous Code node)\nconst localBase64 = $('Prepare Workflow for GitHub').item.json.content || \"\";\n\nconst localDecoded = Buffer.from(localBase64, \"base64\").toString(\"utf8\");\n\n// Get GitHub content (from current item, might be empty if file is new)\nconst githubBase64 = $json.content || \"\";\n\n// Optional: decode if you want to compare actual content instead of base64\nconst remoteDecoded = Buffer.from(githubBase64, \"base64\").toString(\"utf8\");\n// const localDecoded = Buffer.from(localBase64, \"base64\").toString(\"utf8\");\n// const changed = localDecoded !== remoteDecoded;\n\nconst changed = localDecoded !== remoteDecoded;\n\n// Create new object: spread existing $json first, then override/add fields\nreturn {\n  json: {\n    ...$json,               // spread everything from current item\n    changed,                // add/override 'changed'\n    sha: $json.sha || null  // ensure sha is present (null if not)\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[768,240],"id":"a91058ff-773c-4f66-9810-f08576f13eba","name":"Detect Content Change1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[992,384],"id":"83e692db-b9f0-4f49-9618-d0d0b0e74ad1","name":"Wait1","webhookId":"9e7ff5ae-0054-45a4-a762-8512a3994146"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"8ea3373d-5611-4a30-9199-1ca4cdeb4051","leftValue":"={{ $json.error.message }}","rightValue":"=The resource you are requesting could not be found","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[544,48],"id":"d5be3236-53cb-4041-86f9-ffd56992ce48","name":"Check If No File Found"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"8ea3373d-5611-4a30-9199-1ca4cdeb4051","leftValue":"={{ $json.changed }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[544,-144],"id":"27dd73ec-9aa3-4aa8-ba0f-200d9a95756b","name":"Check If Workflow Changed"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[992,-48],"id":"7f66eb7d-6760-4b94-b79b-f1787b6a3a83","name":"Loop Over Filtered Workflows"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[320,216],"id":"4768462c-a9d5-434c-9831-e58ed9ec12d2","name":"Loop Over Workflows"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[768,-48],"id":"2f50baed-809e-4662-a323-529a4b3e5a92","name":"Merge changed or not existing files"}],"connections":{"Get Daily Workflows":{"main":[[{"node":"Get n8n Workflows Data","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Prepare Workflow for GitHub","type":"main","index":0}]]},"Prepare Workflow for GitHub":{"main":[[{"node":"Loop Over Workflows","type":"main","index":0}]]},"Get n8n Workflows Data":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Upload to GitHub":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"Notify on Failure","type":"main","index":0}]]},"Notify on Failure":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Filtered Workflows","type":"main","index":0}]]},"Detect Content Change1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Check If File Exists1":{"main":[[{"node":"Detect Content Change1","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Workflows","type":"main","index":0}]]},"Check If No File Found":{"main":[[{"node":"Merge changed or not existing files","type":"main","index":1}]]},"Check If Workflow Changed":{"main":[[{"node":"Merge changed or not existing files","type":"main","index":0}],[]]},"Loop Over Filtered Workflows":{"main":[[],[{"node":"Upload to GitHub","type":"main","index":0}]]},"Loop Over Workflows":{"main":[[{"node":"Check If Workflow Changed","type":"main","index":0},{"node":"Check If No File Found","type":"main","index":0}],[{"node":"Check If File Exists1","type":"main","index":0}]]},"Merge changed or not existing files":{"main":[[{"node":"Loop Over Filtered Workflows","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"dynamic","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Get Daily Workflows":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f18c0fdd-3328-448e-aeff-4e6847e6cf48","activeVersionId":"de87981b-4b81-4a60-abb5-ed9275152a33","triggerCount":1,"shared":[{"updatedAt":"2026-01-24T17:13:55.233Z","createdAt":"2026-01-24T17:13:55.233Z","role":"workflow:owner","workflowId":"zGE3AKBjFJ2CiLPY","projectId":"BoV1q8XdtwFqx7dN"}],"activeVersion":{"updatedAt":"2026-01-25T18:05:37.000Z","createdAt":"2026-01-25T18:04:31.226Z","versionId":"de87981b-4b81-4a60-abb5-ed9275152a33","workflowId":"zGE3AKBjFJ2CiLPY","nodes":[{"parameters":{"content":"## Token Expiration\nn8n API key - 30 days (Feb 24, 2026)\nGithub PAT - 30 days (Feb 24, 2026)","height":112,"width":288},"type":"n8n-nodes-base.stickyNote","position":[-576,528],"typeVersion":1,"id":"acc36703-418c-4a59-badb-8bd8d07206fe","name":"Sticky Note"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-576,-128],"id":"389e5965-8009-4b1f-9164-3917e9537ce9","name":"Get Daily Workflows"},{"parameters":{"fieldToSplitOut":"data","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-128,-128],"id":"f344e2b4-c4c1-4878-9726-99c8f6de37cf","name":"Split Out"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Input: one item from Split Out, like { nextCursor: null, data: { id, name, nodes, ... } }\n\n// Safely get the workflow payload\nconst workflowData = ($json.data && typeof $json.data === 'object' && !Array.isArray($json.data))\n  ? $json.data\n  : {};\n\n// Safe fallbacks\nconst workflowId   = typeof workflowData.id === 'string' ? workflowData.id : 'unknown';\nconst workflowName = typeof workflowData.name === 'string' ? workflowData.name : `workflow_${workflowId}`;\n\n// Sanitize for filename\n// const safeName = workflowName.replace(/[^a-zA-Z0-9_-]/g, '_');\n\n// Base64-encode ONLY the workflow data (this is what GitHub needs)\nconst contentStr = JSON.stringify(workflowData);\nconst base64Content = Buffer.from(contentStr).toString('base64');\n\n// Human-readable commit message\nconst now = new Date();\nconst commitMsg = `Backup/update: \"${workflowName}\"  - ${now.toLocaleString('en-US', {\n  month: 'long',\n  day: 'numeric',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit',\n  hour12: false,              // 24-hour format\n  timeZone: 'Asia/Manila'\n})} PHT`;\n\n// Name Based File Name\n// const filename = `workflows/${safeName}.json`;\n// ID Based File Name\nconst filename = `workflows/${workflowId}.json`;\n\n// ALWAYS return proper n8n format: array of { json: { ... } }\n// ... same logic as before, but at the end:\n\nreturn {\n  json: {\n    filename: filename,\n    content: base64Content,\n    commit_message: commitMsg,\n    workflowId: workflowId,\n    originalName: workflowName\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[96,-128],"id":"169e08f9-b4f8-48b6-8d48-c1dd83393daf","name":"Prepare Workflow for GitHub"},{"parameters":{"url":"=https://api.github.com/repos/codebykenth/n8n-workflow-backups/contents/{{ $json.filename }}","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Application","value":"application/vnd.github.v3+json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[320,-128],"id":"1ee33449-f13c-4dc9-8fa7-4827c6c55149","name":"Check If File Exists","credentials":{"githubApi":{"id":"UcuNu8cE1W3QNfOa","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{"url":"=https://kenthautomations.xc1.app/api/v1/workflows","authentication":"predefinedCredentialType","nodeCredentialType":"n8nApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-352,-128],"id":"a4631746-fb23-48d6-8da8-ba92f9ff43c4","name":"Get n8n Workflows Data","credentials":{"n8nApi":{"id":"r1imssfEvogVvHIa","name":"n8n account"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Get local content (from previous Code node)\nconst localBase64 = $('Prepare Workflow for GitHub').item.json.content || \"\";\n\nconst localDecoded = Buffer.from(localBase64, \"base64\").toString(\"utf8\");\n\n// Get GitHub content (from current item, might be empty if file is new)\nconst githubBase64 = $json.content || \"\";\n\n// Optional: decode if you want to compare actual content instead of base64\nconst remoteDecoded = Buffer.from(githubBase64, \"base64\").toString(\"utf8\");\n// const localDecoded = Buffer.from(localBase64, \"base64\").toString(\"utf8\");\n// const changed = localDecoded !== remoteDecoded;\n\nconst changed = localDecoded !== remoteDecoded;\n\n// Create new object: spread existing $json first, then override/add fields\nreturn {\n  json: {\n    ...$json,               // spread everything from current item\n    changed,                // add/override 'changed'\n    sha: $json.sha || null  // ensure sha is present (null if not)\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[544,-192],"id":"c6465df0-5967-4859-8b02-d29744291aaa","name":"Detect Content Change"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"8ea3373d-5611-4a30-9199-1ca4cdeb4051","leftValue":"={{ $json.changed }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[768,-192],"id":"79191173-71e3-460f-a58f-b78b31d1edf1","name":"Check If Workflow Changed"},{"parameters":{"method":"PUT","url":"=https://api.github.com/repos/codebykenth/n8n-workflow-backups/contents/{{ $('Prepare Workflow for GitHub').item.json.filename }}","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github.v3+json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message","value":"={{ $('Prepare Workflow for GitHub').item.json.commit_message }}"},{"name":"content","value":"={{ $('Prepare Workflow for GitHub').item.json.content }}"},{"name":"sha","value":"={{ $json.sha || \"\" }}"},{"name":"branch","value":"main"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1440,-192],"id":"1842dd5a-fb21-47da-9d7f-2a66f8b510be","name":"Upload to GitHub","credentials":{"githubApi":{"id":"UcuNu8cE1W3QNfOa","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{"fromEmail":"work@kenthalexisosila.dev","toEmail":"kenthosila@gmail.com","subject":"=n8n GitHub Backup Error - Workflow: {{ $('Check If File Exists').item.json.name || $json.originalName || \"Unknown\" }}","html":"=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: #f44336; color: white; padding: 15px; border-radius: 5px; }\n    .content { margin-top: 20px; }\n    .field { margin: 10px 0; }\n    .label { font-weight: bold; color: #555; }\n    pre { background: #f8f8f8; padding: 10px; border-radius: 4px; overflow-x: auto; }\n  </style>\n</head>\n<body>\n  <div class=\"header\">\n    <h2>n8n Workflow Backup Failed</h2>\n  </div>\n\n  <div class=\"content\">\n    <p>A backup attempt to GitHub failed during the scheduled run.</p>\n\n    <div class=\"field\">\n      <span class=\"label\">Workflow:</span> {{ $('Check If File Exists').item.json.name || $json.originalName || \"Unknown\" }}\n    </div>\n\n    <div class=\"field\">\n      <span class=\"label\">File attempted:</span> {{  $('Check If File Exists').item.json.filename || \"unknown path\" }}\n    </div>\n\n    <div class=\"field\">\n      <span class=\"label\">Error message:</span><br>\n      <pre>{{ $json.error.message || \"No detailed error available\" }}</pre>\n    </div>\n\n    <p style=\"margin-top: 30px;\">\n      Check your n8n instance → Executions tab for full details.<br>\n      Workflow: <strong>Backup Workflows to GitHub</strong>\n    </p>\n  </div>\n</body>\n</html>","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1664,-128],"id":"c4172440-e7fb-411e-9466-f2d53e5949b4","name":"Notify on Failure","webhookId":"dbaf7525-e240-41a8-8a9e-925dfc7a285e","credentials":{"smtp":{"id":"xiNnaOF6irhvRZjH","name":"SMTP account"}}},{"parameters":{"content":"# Automatic n8n Workflow Backup to GitHub with Change Detection\n\nDaily automated backup of all your n8n workflows as JSON files to a private GitHub repository.  \nOnly commits changes when workflow content actually differs (avoids noise).  \nUses human-readable commit messages in **Philippine Time (PHT / Asia/Manila)** and sends email alerts on failures.\n\n## Overview / How it works\n\nThis workflow runs on a schedule (daily by default) and creates a reliable backup of every workflow in your n8n instance.\n\nIt consists of three main paths:\n\n1. **Fetch & Prepare Workflows**  \n   Fetches all workflows via the n8n REST API → splits them into individual items → extracts the real payload → generates safe filenames, base64-encoded content, and nice commit messages.\n\n2. **Change Detection & Upsert to GitHub**  \n   For each workflow:  \n   - Checks if the file already exists in GitHub (GET /contents)  \n   - Compares current base64 content with the version in GitHub  \n   - If changed (or file is new) → uploads/updates the file via PUT  \n   - Skips unchanged workflows to prevent unnecessary commits\n\n3. **Failure Notification**  \n   If any upload fails (auth error, rate limit, conflict, etc.), sends an email alert with details.\n\nKey integrations used:\n- n8n REST API (to list/export workflows)\n- GitHub Contents API (create/update files)\n- Email (for failure alerts)\n\n## Features\n\n- Backs up **every** workflow as clean `.json` files\n- Only commits when content actually changed (smart diff via base64 comparison)\n- Commit messages show local time in **Asia/Manila (PHT)** — e.g. \"Backup/update: \\\"My Workflow\\\" (ID: abc123) – January 26, 2026 12:45 PHT\"\n- Creates new files automatically; updates existing ones\n- Failure email notification (includes workflow name, filename, error message)\n- Works with self-hosted and cloud n8n instances","height":1040,"width":688},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-288,-1264],"id":"d28ec92a-60d9-47c3-a608-ab01ac70193a","name":"Sticky Note1"},{"parameters":{"content":"\n## Usage Instructions\n\n- The workflow runs automatically on schedule.\n- Backups appear as `workflows/Your_Workflow_Name.json`\n- Only real content changes trigger new commits → clean Git history\n- Commit messages use **Philippine local time (PHT)**\n- If upload fails for any workflow → email sent with details\n\n## Tips & Warnings\n\n- PAT should be rotated yearly (or on suspicion of leak)\n- Large workflows (> 1–2 MB JSON) may hit GitHub file size limits → monitor\n- If many workflows (>50–100), add Wait node before PUT to avoid rate limits\n- Test change detection: edit one workflow → run manually → check commit history\n- For extra safety: use private repo and enable GitHub branch protection\n\n## Related Resources\n\n- n8n API reference: https://docs.n8n.io/api/\n- GitHub Contents API docs: https://docs.github.com/en/rest/repos/contents\n- Your backup repo: https://github.com/yourusername/n8n-workflow-backups (update link)\n- n8n community forum thread (if you post it later)\n\n---\n\nCreated by **Kenth** •  PH • January 2026  \nLast updated: January 2026","height":800,"width":480},"type":"n8n-nodes-base.stickyNote","position":[1152,-1264],"typeVersion":1,"id":"5d331e6d-1952-497e-b423-edc2c7984a2a","name":"Sticky Note2"},{"parameters":{"content":"## Prerequisites\n\n- n8n version ≥ 1.0 (tested on 2.4.6 self-hosted)\n- GitHub repository (e.g. `yourusername/n8n-workflow-backups`)\n- GitHub Personal Access Token (classic) with **repo** scope\n- n8n API key with **Workflow → Read** permission\n- Email credential configured in n8n (Gmail, SMTP, etc.) for failure alerts\n\n## Setup Steps\n\n1. **Create GitHub repository**  \n   Create a new repo (public or private). No need to initialize with files.\n\n2. **Generate GitHub PAT**  \n   GitHub → Settings → Developer settings → Personal access tokens -> Tokens (classic) → Generate new token  \n   Scopes: `repo` (full control)\n   Expiration: 1 year recommended  \n   Copy the token.\n\n3. **Create n8n API Key**  \n   n8n → Settings → API → Create new key  \n   Name: e.g. `n8n-backup-github`  \n   Permissions: **Workflow → Read** only\n\n4. **Add credentials in n8n**  \n   Personal → Credentials → Create credential \n   - GitHub: Github API → Set user (your github username) -> Set access token (your Personal access token) -> Save\n   - n8n API: n8n API → Paste your n8n API key -> Set base url (https://<name>.app.n8n.cloud/api/v1 -> Save\n   - Email: your preferred SMTP / Gmail credential\n\n5. **Import & configure the workflow**  \n   - Import the workflow JSON (or build from canvas screenshot)  \n   - Update **HTTP Request** nodes:  \n     - Base URL: your n8n instance (e.g. `https://n8ninstance.app/api/v1`)  \n     - GitHub repo path: `https://api.github.com/repos/yourusername/your-repo/contents/{{ $json.filename }}`  \n   - Set branch name (`main` or other) in PUT body  \n   - Adjust **Schedule Trigger** interval (e.g. daily at 2 AM PHT)  \n   - Update email node: recipient, subject, etc.\n\n6. **Test the workflow**  \n   - Execute manually → check GitHub repo for new `.json` files  \n   - Make a small change in one workflow → save → re-run → verify new commit  \n   - Force a failure (e.g. wrong PAT temporarily) → confirm email arrives\n","height":1040,"width":688},"type":"n8n-nodes-base.stickyNote","position":[432,-1264],"typeVersion":1,"id":"1acb54ad-f130-42e8-a32e-0cfa4681ba0d","name":"Sticky Note3"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[992,-128],"id":"1e04fb7c-6620-4efc-a3d7-c307b01d64bb","name":"Merge"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1888,-128],"id":"71cb5dcf-be0b-42d4-a94e-9e386daa4e85","name":"Wait","webhookId":"dae005b9-94ad-4873-b9d5-f5241eb59b06"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1216,-128],"id":"7f66eb7d-6760-4b94-b79b-f1787b6a3a83","name":"Loop Over Workflows"}],"connections":{"Get Daily Workflows":{"main":[[{"node":"Get n8n Workflows Data","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Prepare Workflow for GitHub","type":"main","index":0}]]},"Prepare Workflow for GitHub":{"main":[[{"node":"Check If File Exists","type":"main","index":0}]]},"Check If File Exists":{"main":[[{"node":"Detect Content Change","type":"main","index":0}],[{"node":"Merge","type":"main","index":1}]]},"Get n8n Workflows Data":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Detect Content Change":{"main":[[{"node":"Check If Workflow Changed","type":"main","index":0}]]},"Check If Workflow Changed":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Upload to GitHub":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"Notify on Failure","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Loop Over Workflows","type":"main","index":0}]]},"Notify on Failure":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Workflows","type":"main","index":0}]]},"Loop Over Workflows":{"main":[[],[{"node":"Upload to GitHub","type":"main","index":0}]]}},"authors":"Kenth Alexis Osila","name":"Version de87981b","description":"","autosaved":true},"tags":[]}