workflows/zJQvShTje6wfxmcc.json
{"updatedAt":"2026-01-26T15:33:11.792Z","createdAt":"2025-12-15T09:20:12.517Z","id":"zJQvShTje6wfxmcc","name":"Trading Journal","active":true,"isArchived":false,"nodes":[{"parameters":{"url":"https://lively-crater-185470.1wp.site/trade-logs/closed-pnl","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[208,16],"id":"258153cc-59d3-4af3-93fc-e125b765497a","name":"Get Closed PnL"},{"parameters":{"pollTimes":{"item":[{"hour":0}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"17dk6exAj2TjEdRR3ZjZW7eK111uaVCAV","mode":"list","cachedResultName":"Trade Chart","cachedResultUrl":"https://drive.google.com/drive/folders/17dk6exAj2TjEdRR3ZjZW7eK111uaVCAV"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-16,-208],"id":"1f60b645-a13e-40d0-9603-37abfc297671","name":"Chart Added","credentials":{"googleDriveOAuth2Api":{"id":"PvZPb3RDZ1D8p2xL","name":"Google Drive account"}}},{"parameters":{"fieldToSplitOut":"trades","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[432,16],"id":"c946e38c-e6f8-4b26-84f1-9fbf43c8a728","name":"Split Out Trades"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1hqjeY6hBJnYmYedrvw1SuOMRHTUWVD6FqWslopa5v50","mode":"list","cachedResultName":"trade-logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hqjeY6hBJnYmYedrvw1SuOMRHTUWVD6FqWslopa5v50/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":897647485,"mode":"list","cachedResultName":"Sheet 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hqjeY6hBJnYmYedrvw1SuOMRHTUWVD6FqWslopa5v50/edit#gid=897647485"},"columns":{"mappingMode":"defineBelow","value":{"orderId":"={{ $json.orderId }}","symbol":"={{ $json.symbol }}","orderType":"={{ $json.orderType }}","leverage":"={{ $json.leverage }}","updatedTime":"={{ $json.updatedTime }}","closedPnl":"={{ $json.closedPnl }}","openFee":"={{ $json.openFee }}","closeFee":"={{ $json.closeFee }}","avgEntryPrice":"={{ $json.avgEntryPrice }}","qty":"={{ $json.qty }}","cumEntryValue":"={{ $json.cumEntryValue }}","createdTime":"={{ $json.createdTime }}","orderPrice":"={{ $json.orderPrice }}","closedSize":"={{ $json.closedSize }}","avgExitPrice":"={{ $json.avgExitPrice }}","execType":"={{ $json.execType }}","fillCount":"={{ $json.fillCount }}","cumExitValue":"={{ $json.cumExitValue }}","exitSide":"={{ $json.side }}","totalPnl":"={{ $json.closedPnl - $json.openFee - $json.closeFee }}","openDatetime":"={{\n  new Date(Number($json.createdTime))\n    .toLocaleString(\"en-US\", { timeZone: \"Asia/Manila\" })\n}}","entrySide":"={{ $json.side === \"Buy\" ? \"Sell\" : \"Buy\" }}","closeDatetime":"={{\n  new Date(Number($json.updatedTime))\n    .toLocaleString(\"en-US\", { timeZone: \"Asia/Manila\" })\n}}"},"matchingColumns":["orderId"],"schema":[{"id":"symbol","displayName":"symbol","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"orderType","displayName":"orderType","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"leverage","displayName":"leverage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"updatedTime","displayName":"updatedTime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"orderId","displayName":"orderId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"closedPnl","displayName":"closedPnl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"openFee","displayName":"openFee","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"closeFee","displayName":"closeFee","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"totalPnl","displayName":"totalPnl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"avgEntryPrice","displayName":"avgEntryPrice","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"qty","displayName":"qty","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cumEntryValue","displayName":"cumEntryValue","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"createdTime","displayName":"createdTime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"orderPrice","displayName":"orderPrice","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"entrySide","displayName":"entrySide","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"closedSize","displayName":"closedSize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"avgExitPrice","displayName":"avgExitPrice","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"exitSide","displayName":"exitSide","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"execType","displayName":"execType","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fillCount","displayName":"fillCount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cumExitValue","displayName":"cumExitValue","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"chart","displayName":"chart","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"openDatetime","displayName":"openDatetime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"closeDatetime","displayName":"closeDatetime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[656,16],"id":"e10dbd1b-eeec-439f-8cb2-f0d5368f2d27","name":"Update Trade Logs","credentials":{"googleSheetsOAuth2Api":{"id":"eLghjsNBGwU9FlBn","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"be39f625-badd-4489-8b4f-b77b211da21a","name":"cleanOrderId","value":"={{ $json.name.split('.')[0] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,-208],"id":"73d13f9a-3fdc-4df3-b895-f9318860a7f5","name":"Format File Name"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1hqjeY6hBJnYmYedrvw1SuOMRHTUWVD6FqWslopa5v50","mode":"list","cachedResultName":"trade-logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hqjeY6hBJnYmYedrvw1SuOMRHTUWVD6FqWslopa5v50/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":897647485,"mode":"list","cachedResultName":"Sheet 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hqjeY6hBJnYmYedrvw1SuOMRHTUWVD6FqWslopa5v50/edit#gid=897647485"},"columns":{"mappingMode":"defineBelow","value":{"orderId":"={{ $json.cleanOrderId }}","chart":"={{ $('Chart Added').item.json.webViewLink }}"},"matchingColumns":["orderId"],"schema":[{"id":"symbol","displayName":"symbol","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"orderType","displayName":"orderType","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leverage","displayName":"leverage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"updatedTime","displayName":"updatedTime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"side","displayName":"side","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"orderId","displayName":"orderId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"closedPnl","displayName":"closedPnl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"openFee","displayName":"openFee","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"closeFee","displayName":"closeFee","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"avgEntryPrice","displayName":"avgEntryPrice","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"qty","displayName":"qty","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"cumEntryValue","displayName":"cumEntryValue","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"createdTime","displayName":"createdTime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"orderPrice","displayName":"orderPrice","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"closedSize","displayName":"closedSize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"avgExitPrice","displayName":"avgExitPrice","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"execType","displayName":"execType","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fillCount","displayName":"fillCount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"cumExitValue","displayName":"cumExitValue","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"chart","displayName":"chart","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[432,-208],"id":"b86f1514-8f57-4a4b-9e39-f0d1818a903f","name":"Update chart in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"eLghjsNBGwU9FlBn","name":"Google Sheets account"}}},{"parameters":{"url":"https://lively-crater-185470.1wp.site/trade-logs/account-balance","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[208,240],"id":"18778ca6-185c-4975-8cd7-f696263b7d69","name":"HTTP Request"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1hqjeY6hBJnYmYedrvw1SuOMRHTUWVD6FqWslopa5v50","mode":"list","cachedResultName":"trade-logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hqjeY6hBJnYmYedrvw1SuOMRHTUWVD6FqWslopa5v50/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2016402941,"mode":"list","cachedResultName":"Balance","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hqjeY6hBJnYmYedrvw1SuOMRHTUWVD6FqWslopa5v50/edit#gid=2016402941"},"columns":{"mappingMode":"defineBelow","value":{"timestamp":"={{ $json.time }}","totalEquity":"={{ $json.result.list[0].coin[0].equity }}","walletBalance":"={{ $json.result.list[0].coin[0].walletBalance }}","cumRealisedPnl":"={{ $json.result.list[0].coin[0].cumRealisedPnl }}","accountType":"={{ $json.result.list[0].accountType }}","date":"={{\n  new Date(Number($json.time))\n    .toLocaleString(\"en-US\", { timeZone: \"Asia/Manila\" })\n}}\n"},"matchingColumns":["orderId"],"schema":[{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"totalEquity","displayName":"totalEquity","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"walletBalance","displayName":"walletBalance","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"cumRealisedPnl","displayName":"cumRealisedPnl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"accountType","displayName":"accountType","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[432,240],"id":"c0846d59-b16c-4639-abcc-4daf565bf381","name":"Add Balance","credentials":{"googleSheetsOAuth2Api":{"id":"eLghjsNBGwU9FlBn","name":"Google Sheets account"}}},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-16,16],"id":"13856df4-86c3-4d69-ab71-1f3dd4e74a42","name":"Daily Logs Check"},{"parameters":{"rule":{"interval":[{"triggerAtHour":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-16,240],"id":"10bcbc0d-0885-4cd1-a6e0-f29185b0c57e","name":"Daily Balance Check"}],"connections":{"Get Closed PnL":{"main":[[{"node":"Split Out Trades","type":"main","index":0}]]},"Chart Added":{"main":[[{"node":"Format File Name","type":"main","index":0}]]},"Split Out Trades":{"main":[[{"node":"Update Trade Logs","type":"main","index":0}]]},"Format File Name":{"main":[[{"node":"Update chart in sheet","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Add Balance","type":"main","index":0}]]},"Daily Logs Check":{"main":[[{"node":"Get Closed PnL","type":"main","index":0}]]},"Daily Balance Check":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"zJQvShTje6wfxmcc","timeSavedPerExecution":0},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Google Drive Trigger":{"lastTimeChecked":"2025-12-30T13:07:00Z"},"node:Daily Log Check":{"recurrenceRules":[]},"node:Chart Added":{"lastTimeChecked":"2026-01-25T16:00:23Z"},"node:Daily Log Check1":{"recurrenceRules":[]},"node:Daily Balance Check":{"recurrenceRules":[]},"node:Daily Logs Check":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Chart Added":[{"json":{"parents":["17dk6exAj2TjEdRR3ZjZW7eK111uaVCAV"],"lastModifyingUser":{"displayName":"Kenth Alexis Osila","kind":"drive#user","me":true,"permissionId":"08156061022271738574","emailAddress":"kenthosila@gmail.com","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocJi83sO-snq2qCznKrvrV2JZr_4KKhVUo3Y0xFEvasqPLupHpn7=s64"},"owners":[{"displayName":"Kenth Alexis Osila","kind":"drive#user","me":true,"permissionId":"08156061022271738574","emailAddress":"kenthosila@gmail.com","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocJi83sO-snq2qCznKrvrV2JZr_4KKhVUo3Y0xFEvasqPLupHpn7=s64"}],"permissions":[{"kind":"drive#permission","id":"08156061022271738574","type":"user","emailAddress":"kenthosila@gmail.com","role":"owner","displayName":"Kenth Alexis Osila","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocJi83sO-snq2qCznKrvrV2JZr_4KKhVUo3Y0xFEvasqPLupHpn7=s64","deleted":false,"pendingOwner":false}],"spaces":["drive"],"capabilities":{"canAcceptOwnership":false,"canAddChildren":false,"canAddMyDriveParent":false,"canChangeCopyRequiresWriterPermission":true,"canChangeItemDownloadRestriction":true,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":true,"canComment":true,"canCopy":true,"canDelete":true,"canDisableInheritedPermissions":false,"canDownload":true,"canEdit":true,"canEnableInheritedPermissions":true,"canListChildren":false,"canModifyContent":true,"canModifyContentRestriction":true,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canModifyLabels":false,"canMoveChildrenWithinDrive":false,"canMoveItemIntoTeamDrive":true,"canMoveItemOutOfDrive":true,"canMoveItemWithinDrive":true,"canReadLabels":false,"canReadRevisions":true,"canRemoveChildren":false,"canRemoveContentRestriction":false,"canRemoveMyDriveParent":true,"canRename":true,"canShare":true,"canTrash":true,"canUntrash":true},"permissionIds":["08156061022271738574"],"imageMediaMetadata":{"width":1490,"height":867,"rotation":0},"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"downloadRestrictions":{"itemDownloadRestriction":{"restrictedForReaders":false,"restrictedForWriters":false},"effectiveDownloadRestrictionWithContext":{"restrictedForReaders":false,"restrictedForWriters":false}},"kind":"drive#file","id":"1PbioINp7Oydb9i5YBJs-M7d3dkfT53mr","name":"a3b19282-2261-4d8b-960d-e9219fa626fd.png","mimeType":"image/png","starred":false,"trashed":false,"explicitlyTrashed":false,"version":"2","webContentLink":"https://drive.google.com/uc?id=1PbioINp7Oydb9i5YBJs-M7d3dkfT53mr&export=download","webViewLink":"https://drive.google.com/file/d/1PbioINp7Oydb9i5YBJs-M7d3dkfT53mr/view?usp=drivesdk","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/image/png","hasThumbnail":true,"thumbnailLink":"https://lh3.googleusercontent.com/drive-storage/AJQWtBOek5go9RbewvJF2vtQLSKYqdaKS-JlLxOO0ts4bffNlDHg_Ue0XzjyQNGh8qlmFkunrDZyeAkE8WPFmiANsafF_r9OSyyb29NDuJRt0bmwi3sHBQ=s220","thumbnailVersion":"1","viewedByMe":true,"viewedByMeTime":"2026-01-26T15:32:45.183Z","createdTime":"2026-01-26T15:32:45.183Z","modifiedTime":"2026-01-26T14:55:13.000Z","modifiedByMeTime":"2026-01-26T14:55:13.000Z","modifiedByMe":true,"shared":false,"ownedByMe":true,"viewersCanCopyContent":true,"copyRequiresWriterPermission":false,"writersCanShare":true,"originalFilename":"a3b19282-2261-4d8b-960d-e9219fa626fd.png","fullFileExtension":"png","fileExtension":"png","md5Checksum":"45b30e68b98a03bbcfbb8efc65a366d4","sha1Checksum":"300d91692c6df4d2e05355bf8c2ef943cea36a72","sha256Checksum":"2cdd3af46ef636a25be0412f7513b5aea7349a631289a271b6fcd721a510ab20","size":"84029","quotaBytesUsed":"84029","headRevisionId":"0BycQ953x0beBSUd2ZEM4V0JteUMyVDk0VUYzbmNRTVc0WSt3PQ","isAppAuthorized":false,"inheritedPermissionsDisabled":false},"pairedItem":{"item":0}}]},"versionId":"1e7e6f05-e9f3-4e4e-8304-8d8375e7f91d","activeVersionId":"1e7e6f05-e9f3-4e4e-8304-8d8375e7f91d","triggerCount":3,"shared":[{"updatedAt":"2025-12-15T09:20:12.524Z","createdAt":"2025-12-15T09:20:12.524Z","role":"workflow:owner","workflowId":"zJQvShTje6wfxmcc","projectId":"BoV1q8XdtwFqx7dN"}],"activeVersion":{"updatedAt":"2026-01-24T16:21:16.704Z","createdAt":"2026-01-24T16:21:16.704Z","versionId":"1e7e6f05-e9f3-4e4e-8304-8d8375e7f91d","workflowId":"zJQvShTje6wfxmcc","nodes":[{"parameters":{"url":"https://lively-crater-185470.1wp.site/trade-logs/closed-pnl","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[208,16],"id":"258153cc-59d3-4af3-93fc-e125b765497a","name":"Get Closed PnL"},{"parameters":{"pollTimes":{"item":[{"hour":0}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"17dk6exAj2TjEdRR3ZjZW7eK111uaVCAV","mode":"list","cachedResultName":"Trade Chart","cachedResultUrl":"https://drive.google.com/drive/folders/17dk6exAj2TjEdRR3ZjZW7eK111uaVCAV"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-16,-208],"id":"1f60b645-a13e-40d0-9603-37abfc297671","name":"Chart Added","credentials":{"googleDriveOAuth2Api":{"id":"PvZPb3RDZ1D8p2xL","name":"Google Drive account"}}},{"parameters":{"fieldToSplitOut":"trades","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[432,16],"id":"c946e38c-e6f8-4b26-84f1-9fbf43c8a728","name":"Split Out Trades"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1hqjeY6hBJnYmYedrvw1SuOMRHTUWVD6FqWslopa5v50","mode":"list","cachedResultName":"trade-logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hqjeY6hBJnYmYedrvw1SuOMRHTUWVD6FqWslopa5v50/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":897647485,"mode":"list","cachedResultName":"Sheet 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hqjeY6hBJnYmYedrvw1SuOMRHTUWVD6FqWslopa5v50/edit#gid=897647485"},"columns":{"mappingMode":"defineBelow","value":{"orderId":"={{ $json.orderId }}","symbol":"={{ $json.symbol }}","orderType":"={{ $json.orderType }}","leverage":"={{ $json.leverage }}","updatedTime":"={{ $json.updatedTime }}","closedPnl":"={{ $json.closedPnl }}","openFee":"={{ $json.openFee }}","closeFee":"={{ $json.closeFee }}","avgEntryPrice":"={{ $json.avgEntryPrice }}","qty":"={{ $json.qty }}","cumEntryValue":"={{ $json.cumEntryValue }}","createdTime":"={{ $json.createdTime }}","orderPrice":"={{ $json.orderPrice }}","closedSize":"={{ $json.closedSize }}","avgExitPrice":"={{ $json.avgExitPrice }}","execType":"={{ $json.execType }}","fillCount":"={{ $json.fillCount }}","cumExitValue":"={{ $json.cumExitValue }}","exitSide":"={{ $json.side }}","totalPnl":"={{ $json.closedPnl - $json.openFee - $json.closeFee }}","openDatetime":"={{\n  new Date(Number($json.createdTime))\n    .toLocaleString(\"en-US\", { timeZone: \"Asia/Manila\" })\n}}","entrySide":"={{ $json.side === \"Buy\" ? \"Sell\" : \"Buy\" }}","closeDatetime":"={{\n  new Date(Number($json.updatedTime))\n    .toLocaleString(\"en-US\", { timeZone: \"Asia/Manila\" })\n}}"},"matchingColumns":["orderId"],"schema":[{"id":"symbol","displayName":"symbol","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"orderType","displayName":"orderType","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"leverage","displayName":"leverage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"updatedTime","displayName":"updatedTime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"orderId","displayName":"orderId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"closedPnl","displayName":"closedPnl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"openFee","displayName":"openFee","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"closeFee","displayName":"closeFee","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"totalPnl","displayName":"totalPnl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"avgEntryPrice","displayName":"avgEntryPrice","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"qty","displayName":"qty","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cumEntryValue","displayName":"cumEntryValue","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"createdTime","displayName":"createdTime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"orderPrice","displayName":"orderPrice","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"entrySide","displayName":"entrySide","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"closedSize","displayName":"closedSize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"avgExitPrice","displayName":"avgExitPrice","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"exitSide","displayName":"exitSide","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"execType","displayName":"execType","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fillCount","displayName":"fillCount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cumExitValue","displayName":"cumExitValue","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"chart","displayName":"chart","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"openDatetime","displayName":"openDatetime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"closeDatetime","displayName":"closeDatetime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[656,16],"id":"e10dbd1b-eeec-439f-8cb2-f0d5368f2d27","name":"Update Trade Logs","credentials":{"googleSheetsOAuth2Api":{"id":"eLghjsNBGwU9FlBn","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"be39f625-badd-4489-8b4f-b77b211da21a","name":"cleanOrderId","value":"={{ $json.name.split('.')[0] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,-208],"id":"73d13f9a-3fdc-4df3-b895-f9318860a7f5","name":"Format File Name"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1hqjeY6hBJnYmYedrvw1SuOMRHTUWVD6FqWslopa5v50","mode":"list","cachedResultName":"trade-logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hqjeY6hBJnYmYedrvw1SuOMRHTUWVD6FqWslopa5v50/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":897647485,"mode":"list","cachedResultName":"Sheet 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hqjeY6hBJnYmYedrvw1SuOMRHTUWVD6FqWslopa5v50/edit#gid=897647485"},"columns":{"mappingMode":"defineBelow","value":{"orderId":"={{ $json.cleanOrderId }}","chart":"={{ $('Chart Added').item.json.webViewLink }}"},"matchingColumns":["orderId"],"schema":[{"id":"symbol","displayName":"symbol","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"orderType","displayName":"orderType","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leverage","displayName":"leverage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"updatedTime","displayName":"updatedTime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"side","displayName":"side","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"orderId","displayName":"orderId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"closedPnl","displayName":"closedPnl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"openFee","displayName":"openFee","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"closeFee","displayName":"closeFee","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"avgEntryPrice","displayName":"avgEntryPrice","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"qty","displayName":"qty","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"cumEntryValue","displayName":"cumEntryValue","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"createdTime","displayName":"createdTime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"orderPrice","displayName":"orderPrice","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"closedSize","displayName":"closedSize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"avgExitPrice","displayName":"avgExitPrice","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"execType","displayName":"execType","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fillCount","displayName":"fillCount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"cumExitValue","displayName":"cumExitValue","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"chart","displayName":"chart","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[432,-208],"id":"b86f1514-8f57-4a4b-9e39-f0d1818a903f","name":"Update chart in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"eLghjsNBGwU9FlBn","name":"Google Sheets account"}}},{"parameters":{"url":"https://lively-crater-185470.1wp.site/trade-logs/account-balance","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[208,240],"id":"18778ca6-185c-4975-8cd7-f696263b7d69","name":"HTTP Request"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1hqjeY6hBJnYmYedrvw1SuOMRHTUWVD6FqWslopa5v50","mode":"list","cachedResultName":"trade-logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hqjeY6hBJnYmYedrvw1SuOMRHTUWVD6FqWslopa5v50/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2016402941,"mode":"list","cachedResultName":"Balance","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hqjeY6hBJnYmYedrvw1SuOMRHTUWVD6FqWslopa5v50/edit#gid=2016402941"},"columns":{"mappingMode":"defineBelow","value":{"timestamp":"={{ $json.time }}","totalEquity":"={{ $json.result.list[0].coin[0].equity }}","walletBalance":"={{ $json.result.list[0].coin[0].walletBalance }}","cumRealisedPnl":"={{ $json.result.list[0].coin[0].cumRealisedPnl }}","accountType":"={{ $json.result.list[0].accountType }}","date":"={{\n  new Date(Number($json.time))\n    .toLocaleString(\"en-US\", { timeZone: \"Asia/Manila\" })\n}}\n"},"matchingColumns":["orderId"],"schema":[{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"totalEquity","displayName":"totalEquity","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"walletBalance","displayName":"walletBalance","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"cumRealisedPnl","displayName":"cumRealisedPnl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"accountType","displayName":"accountType","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[432,240],"id":"c0846d59-b16c-4639-abcc-4daf565bf381","name":"Add Balance","credentials":{"googleSheetsOAuth2Api":{"id":"eLghjsNBGwU9FlBn","name":"Google Sheets account"}}},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-16,16],"id":"13856df4-86c3-4d69-ab71-1f3dd4e74a42","name":"Daily Logs Check"},{"parameters":{"rule":{"interval":[{"triggerAtHour":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-16,240],"id":"10bcbc0d-0885-4cd1-a6e0-f29185b0c57e","name":"Daily Balance Check"}],"connections":{"Get Closed PnL":{"main":[[{"node":"Split Out Trades","type":"main","index":0}]]},"Chart Added":{"main":[[{"node":"Format File Name","type":"main","index":0}]]},"Split Out Trades":{"main":[[{"node":"Update Trade Logs","type":"main","index":0}]]},"Format File Name":{"main":[[{"node":"Update chart in sheet","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Add Balance","type":"main","index":0}]]},"Daily Logs Check":{"main":[[{"node":"Get Closed PnL","type":"main","index":0}]]},"Daily Balance Check":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"authors":"Kenth Alexis Osila","name":null,"description":null,"autosaved":false},"tags":[]}