workflows/zJQvShTje6wfxmcc.json
{"updatedAt":"2026-01-31T14:47:06.000Z","createdAt":"2025-12-15T09:20:12.517Z","id":"zJQvShTje6wfxmcc","name":"Trading Journal","active":true,"isArchived":false,"nodes":[{"parameters":{"url":"https://lively-crater-185470.1wp.site/trade-logs/closed-pnl","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[208,112],"id":"258153cc-59d3-4af3-93fc-e125b765497a","name":"Get Closed PnL"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"17dk6exAj2TjEdRR3ZjZW7eK111uaVCAV","mode":"list","cachedResultName":"Trade Chart","cachedResultUrl":"https://drive.google.com/drive/folders/17dk6exAj2TjEdRR3ZjZW7eK111uaVCAV"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-16,-208],"id":"1f60b645-a13e-40d0-9603-37abfc297671","name":"Chart Added","credentials":{"googleDriveOAuth2Api":{"id":"PvZPb3RDZ1D8p2xL","name":"Google Drive account"}}},{"parameters":{"fieldToSplitOut":"trades","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[432,112],"id":"c946e38c-e6f8-4b26-84f1-9fbf43c8a728","name":"Split Out Trades"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1hqjeY6hBJnYmYedrvw1SuOMRHTUWVD6FqWslopa5v50","mode":"list","cachedResultName":"trade-logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hqjeY6hBJnYmYedrvw1SuOMRHTUWVD6FqWslopa5v50/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":897647485,"mode":"list","cachedResultName":"Sheet 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hqjeY6hBJnYmYedrvw1SuOMRHTUWVD6FqWslopa5v50/edit#gid=897647485"},"columns":{"mappingMode":"defineBelow","value":{"orderId":"={{ $json.orderId }}","symbol":"={{ $json.symbol }}","orderType":"={{ $json.orderType }}","leverage":"={{ $json.leverage }}","updatedTime":"={{ $json.updatedTime }}","closedPnl":"={{ $json.closedPnl }}","openFee":"={{ $json.openFee }}","closeFee":"={{ $json.closeFee }}","avgEntryPrice":"={{ $json.avgEntryPrice }}","qty":"={{ $json.qty }}","cumEntryValue":"={{ $json.cumEntryValue }}","createdTime":"={{ $json.createdTime }}","orderPrice":"={{ $json.orderPrice }}","closedSize":"={{ $json.closedSize }}","avgExitPrice":"={{ $json.avgExitPrice }}","execType":"={{ $json.execType }}","fillCount":"={{ $json.fillCount }}","cumExitValue":"={{ $json.cumExitValue }}","exitSide":"={{ $json.side }}","totalPnl":"={{ $json.closedPnl - $json.openFee - $json.closeFee }}","openDatetime":"={{\n  new Date(Number($json.createdTime))\n    .toLocaleString(\"en-US\", { timeZone: \"Asia/Manila\" })\n}}","entrySide":"={{ $json.side === \"Buy\" ? \"Sell\" : \"Buy\" }}","closeDatetime":"={{\n  new Date(Number($json.updatedTime))\n    .toLocaleString(\"en-US\", { timeZone: \"Asia/Manila\" })\n}}"},"matchingColumns":["orderId"],"schema":[{"id":"symbol","displayName":"symbol","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"orderType","displayName":"orderType","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"leverage","displayName":"leverage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"updatedTime","displayName":"updatedTime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"orderId","displayName":"orderId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"closedPnl","displayName":"closedPnl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"openFee","displayName":"openFee","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"closeFee","displayName":"closeFee","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"totalPnl","displayName":"totalPnl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"avgEntryPrice","displayName":"avgEntryPrice","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"qty","displayName":"qty","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cumEntryValue","displayName":"cumEntryValue","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"createdTime","displayName":"createdTime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"orderPrice","displayName":"orderPrice","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"entrySide","displayName":"entrySide","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"closedSize","displayName":"closedSize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"avgExitPrice","displayName":"avgExitPrice","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"exitSide","displayName":"exitSide","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"execType","displayName":"execType","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fillCount","displayName":"fillCount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cumExitValue","displayName":"cumExitValue","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"chart","displayName":"chart","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"openDatetime","displayName":"openDatetime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"closeDatetime","displayName":"closeDatetime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"aiAnalysis","displayName":"aiAnalysis","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[656,16],"id":"e10dbd1b-eeec-439f-8cb2-f0d5368f2d27","name":"Update Trade Logs","credentials":{"googleSheetsOAuth2Api":{"id":"eLghjsNBGwU9FlBn","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"be39f625-badd-4489-8b4f-b77b211da21a","name":"cleanOrderId","value":"={{ $json.name.split('.')[0] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,-208],"id":"73d13f9a-3fdc-4df3-b895-f9318860a7f5","name":"Format File Name"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1hqjeY6hBJnYmYedrvw1SuOMRHTUWVD6FqWslopa5v50","mode":"list","cachedResultName":"trade-logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hqjeY6hBJnYmYedrvw1SuOMRHTUWVD6FqWslopa5v50/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":897647485,"mode":"list","cachedResultName":"Sheet 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hqjeY6hBJnYmYedrvw1SuOMRHTUWVD6FqWslopa5v50/edit#gid=897647485"},"columns":{"mappingMode":"defineBelow","value":{"orderId":"={{ $json.cleanOrderId }}","chart":"={{ $('Chart Added').item.json.webViewLink }}"},"matchingColumns":["orderId"],"schema":[{"id":"symbol","displayName":"symbol","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"orderType","displayName":"orderType","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leverage","displayName":"leverage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"updatedTime","displayName":"updatedTime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"orderId","displayName":"orderId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"closedPnl","displayName":"closedPnl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"openFee","displayName":"openFee","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"closeFee","displayName":"closeFee","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"totalPnl","displayName":"totalPnl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"avgEntryPrice","displayName":"avgEntryPrice","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"qty","displayName":"qty","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"cumEntryValue","displayName":"cumEntryValue","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"createdTime","displayName":"createdTime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"orderPrice","displayName":"orderPrice","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"entrySide","displayName":"entrySide","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"closedSize","displayName":"closedSize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"avgExitPrice","displayName":"avgExitPrice","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"exitSide","displayName":"exitSide","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"execType","displayName":"execType","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fillCount","displayName":"fillCount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"cumExitValue","displayName":"cumExitValue","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"chart","displayName":"chart","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"openDatetime","displayName":"openDatetime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"closeDatetime","displayName":"closeDatetime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"aiAnalysis","displayName":"aiAnalysis","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[432,-208],"id":"b86f1514-8f57-4a4b-9e39-f0d1818a903f","name":"Update chart in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"eLghjsNBGwU9FlBn","name":"Google Sheets account"}}},{"parameters":{"url":"https://lively-crater-185470.1wp.site/trade-logs/account-balance","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[208,528],"id":"18778ca6-185c-4975-8cd7-f696263b7d69","name":"HTTP Request"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1hqjeY6hBJnYmYedrvw1SuOMRHTUWVD6FqWslopa5v50","mode":"list","cachedResultName":"trade-logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hqjeY6hBJnYmYedrvw1SuOMRHTUWVD6FqWslopa5v50/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2016402941,"mode":"list","cachedResultName":"Balance","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hqjeY6hBJnYmYedrvw1SuOMRHTUWVD6FqWslopa5v50/edit#gid=2016402941"},"columns":{"mappingMode":"defineBelow","value":{"timestamp":"={{ $('HTTP Request').item.json.time }}","totalEquity":"={{ $json.equity }}","walletBalance":"={{ $json.walletBalance }}","cumRealisedPnl":"={{ $json.cumRealisedPnl }}","accountType":"={{ $('HTTP Request').item.json.result.list[0].accountType }}","date":"={{\n  new Date(Number($('HTTP Request').item.json.time))\n    .toLocaleString(\"en-US\", { timeZone: \"Asia/Manila\" })\n}}\n"},"matchingColumns":["orderId"],"schema":[{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"totalEquity","displayName":"totalEquity","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"walletBalance","displayName":"walletBalance","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"cumRealisedPnl","displayName":"cumRealisedPnl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"accountType","displayName":"accountType","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[656,432],"id":"c0846d59-b16c-4639-abcc-4daf565bf381","name":"Add Balance","credentials":{"googleSheetsOAuth2Api":{"id":"eLghjsNBGwU9FlBn","name":"Google Sheets account"}}},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-16,112],"id":"13856df4-86c3-4d69-ab71-1f3dd4e74a42","name":"Daily Logs Check"},{"parameters":{"rule":{"interval":[{"triggerAtHour":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-16,528],"id":"10bcbc0d-0885-4cd1-a6e0-f29185b0c57e","name":"Daily Balance Check"},{"parameters":{"method":"POST","url":"https://tradexy-roan.vercel.app/api/api/trade-logs","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"symbol","value":"={{ $json.symbol }}"},{"name":"order_type","value":"={{ $json.orderType }}"},{"name":"leverage","value":"={{ Number($json.leverage) }}"},{"name":"open_datetime","value":"={{\n  new Date(Number($json.createdTime))\n    .toLocaleString(\"en-US\", { timeZone: \"Asia/Manila\" })\n}}"},{"name":"close_datetime","value":"={{\n  new Date(Number($json.updatedTime))\n    .toLocaleString(\"en-US\", { timeZone: \"Asia/Manila\" })\n}}"},{"name":"entry_side","value":"={{ $json.side === \"Buy\" ? \"SHORT\" : \"LONG\" }}"},{"name":"exit_side","value":"={{ $json.side === \"Buy\" ? \"LONG\" : \"SHORT\" }}"},{"name":"total_pnl","value":"={{ Number($json.closedPnl - $json.openFee - $json.closeFee) }}"},{"name":"closed_pnl","value":"={{ Number($json.closedPnl) }}"},{"name":"order_id","value":"={{ $json.orderId }}"},{"name":"open_fee","value":"={{ Number($json.openFee) }}"},{"name":"close_fee","value":"={{ Number($json.closeFee) }}"},{"name":"avg_entry_price","value":"={{ Number($json.avgEntryPrice) }}"},{"name":"avg_exit_price","value":"={{ Number($json.avgExitPrice) }}"},{"name":"qty","value":"={{ Number($json.qty) }}"},{"name":"cum_entry_value","value":"={{ $json.cumEntryValue }}"},{"name":"cum_exit_value","value":"={{ $json.cumExitValue }}"},{"name":"closed_size","value":"={{ Number($json.closedSize) }}"},{"name":"exec_type","value":"={{ $json.execType }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[880,136],"id":"1c688639-f1c6-4583-ba0e-a7367c90d9ea","name":"Automate trade log entry","credentials":{"httpBearerAuth":{"id":"uTwpFSsIyC1zU0xY","name":"Tradexy API"},"httpHeaderAuth":{"id":"Y4XZd6EFGkf1XEak","name":"Tradexy API"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[656,208],"id":"182f1a1a-b36e-421c-b866-5c7b4cc66f58","name":"Loop Over Items"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1104,208],"id":"b3fa70f5-b80b-458f-bea9-6bb210e29aad","name":"Wait","webhookId":"5cf8da2c-92d7-4b7c-acfe-2ad8a7692eee"},{"parameters":{"method":"POST","url":"https://tradexy-roan.vercel.app/api/api/balances","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"date","value":"={{   new Date(Number($('HTTP Request').item.json.time))     .toLocaleString(\"en-US\", { timeZone: \"Asia/Manila\" }) }}"},{"name":"total_equity","value":"={{ $json.equity }}"},{"name":"wallet_balance","value":"={{ $json.walletBalance }}"},{"name":"cum_realised_pnl","value":"={{ $json.cumRealisedPnl }}"},{"name":"account_type","value":"={{ $('HTTP Request').item.json.result.list[0].accountType }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[656,624],"id":"9682fb2a-aeec-413f-a206-32f1abce7cc6","name":"Automate balance entry","credentials":{"httpBearerAuth":{"id":"uTwpFSsIyC1zU0xY","name":"Tradexy API"},"httpHeaderAuth":{"id":"Y4XZd6EFGkf1XEak","name":"Tradexy API"}}},{"parameters":{"fieldToSplitOut":"result.list[0].coin","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[432,528],"id":"f6dd64be-ed49-4919-8920-30a3730645ae","name":"Split Out Trades1"}],"connections":{"Get Closed PnL":{"main":[[{"node":"Split Out Trades","type":"main","index":0}]]},"Chart Added":{"main":[[{"node":"Format File Name","type":"main","index":0}]]},"Split Out Trades":{"main":[[{"node":"Update Trade Logs","type":"main","index":0},{"node":"Loop Over Items","type":"main","index":0}]]},"Format File Name":{"main":[[{"node":"Update chart in sheet","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Split Out Trades1","type":"main","index":0}]]},"Daily Logs Check":{"main":[[{"node":"Get Closed PnL","type":"main","index":0}]]},"Daily Balance Check":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Update Trade Logs":{"main":[[]]},"Loop Over Items":{"main":[[],[{"node":"Automate trade log entry","type":"main","index":0}]]},"Automate trade log entry":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Automate balance entry":{"main":[[]]},"Split Out Trades1":{"main":[[{"node":"Add Balance","type":"main","index":0},{"node":"Automate balance entry","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"zJQvShTje6wfxmcc","timeSavedPerExecution":0},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Google Drive Trigger":{"lastTimeChecked":"2025-12-30T13:07:00Z"},"node:Daily Log Check":{"recurrenceRules":[]},"node:Chart Added":{"lastTimeChecked":"2026-01-31T16:00:04Z"},"node:Daily Log Check1":{"recurrenceRules":[]},"node:Daily Balance Check":{"recurrenceRules":[]},"node:Daily Logs Check":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"54dea974-6ce1-4633-8f26-49c34aedec2d","activeVersionId":"54dea974-6ce1-4633-8f26-49c34aedec2d","triggerCount":3,"shared":[{"updatedAt":"2025-12-15T09:20:12.524Z","createdAt":"2025-12-15T09:20:12.524Z","role":"workflow:owner","workflowId":"zJQvShTje6wfxmcc","projectId":"BoV1q8XdtwFqx7dN"}],"activeVersion":{"updatedAt":"2026-01-31T14:48:07.000Z","createdAt":"2026-01-31T08:35:07.888Z","versionId":"54dea974-6ce1-4633-8f26-49c34aedec2d","workflowId":"zJQvShTje6wfxmcc","nodes":[{"parameters":{"url":"https://lively-crater-185470.1wp.site/trade-logs/closed-pnl","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[208,112],"id":"258153cc-59d3-4af3-93fc-e125b765497a","name":"Get Closed PnL"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"17dk6exAj2TjEdRR3ZjZW7eK111uaVCAV","mode":"list","cachedResultName":"Trade Chart","cachedResultUrl":"https://drive.google.com/drive/folders/17dk6exAj2TjEdRR3ZjZW7eK111uaVCAV"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-16,-208],"id":"1f60b645-a13e-40d0-9603-37abfc297671","name":"Chart Added","credentials":{"googleDriveOAuth2Api":{"id":"PvZPb3RDZ1D8p2xL","name":"Google Drive account"}}},{"parameters":{"fieldToSplitOut":"trades","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[432,112],"id":"c946e38c-e6f8-4b26-84f1-9fbf43c8a728","name":"Split Out Trades"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1hqjeY6hBJnYmYedrvw1SuOMRHTUWVD6FqWslopa5v50","mode":"list","cachedResultName":"trade-logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hqjeY6hBJnYmYedrvw1SuOMRHTUWVD6FqWslopa5v50/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":897647485,"mode":"list","cachedResultName":"Sheet 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hqjeY6hBJnYmYedrvw1SuOMRHTUWVD6FqWslopa5v50/edit#gid=897647485"},"columns":{"mappingMode":"defineBelow","value":{"orderId":"={{ $json.orderId }}","symbol":"={{ $json.symbol }}","orderType":"={{ $json.orderType }}","leverage":"={{ $json.leverage }}","updatedTime":"={{ $json.updatedTime }}","closedPnl":"={{ $json.closedPnl }}","openFee":"={{ $json.openFee }}","closeFee":"={{ $json.closeFee }}","avgEntryPrice":"={{ $json.avgEntryPrice }}","qty":"={{ $json.qty }}","cumEntryValue":"={{ $json.cumEntryValue }}","createdTime":"={{ $json.createdTime }}","orderPrice":"={{ $json.orderPrice }}","closedSize":"={{ $json.closedSize }}","avgExitPrice":"={{ $json.avgExitPrice }}","execType":"={{ $json.execType }}","fillCount":"={{ $json.fillCount }}","cumExitValue":"={{ $json.cumExitValue }}","exitSide":"={{ $json.side }}","totalPnl":"={{ $json.closedPnl - $json.openFee - $json.closeFee }}","openDatetime":"={{\n  new Date(Number($json.createdTime))\n    .toLocaleString(\"en-US\", { timeZone: \"Asia/Manila\" })\n}}","entrySide":"={{ $json.side === \"Buy\" ? \"Sell\" : \"Buy\" }}","closeDatetime":"={{\n  new Date(Number($json.updatedTime))\n    .toLocaleString(\"en-US\", { timeZone: \"Asia/Manila\" })\n}}"},"matchingColumns":["orderId"],"schema":[{"id":"symbol","displayName":"symbol","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"orderType","displayName":"orderType","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"leverage","displayName":"leverage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"updatedTime","displayName":"updatedTime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"orderId","displayName":"orderId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"closedPnl","displayName":"closedPnl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"openFee","displayName":"openFee","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"closeFee","displayName":"closeFee","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"totalPnl","displayName":"totalPnl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"avgEntryPrice","displayName":"avgEntryPrice","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"qty","displayName":"qty","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cumEntryValue","displayName":"cumEntryValue","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"createdTime","displayName":"createdTime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"orderPrice","displayName":"orderPrice","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"entrySide","displayName":"entrySide","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"closedSize","displayName":"closedSize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"avgExitPrice","displayName":"avgExitPrice","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"exitSide","displayName":"exitSide","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"execType","displayName":"execType","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fillCount","displayName":"fillCount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cumExitValue","displayName":"cumExitValue","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"chart","displayName":"chart","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"openDatetime","displayName":"openDatetime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"closeDatetime","displayName":"closeDatetime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"aiAnalysis","displayName":"aiAnalysis","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[656,16],"id":"e10dbd1b-eeec-439f-8cb2-f0d5368f2d27","name":"Update Trade Logs","credentials":{"googleSheetsOAuth2Api":{"id":"eLghjsNBGwU9FlBn","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"be39f625-badd-4489-8b4f-b77b211da21a","name":"cleanOrderId","value":"={{ $json.name.split('.')[0] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,-208],"id":"73d13f9a-3fdc-4df3-b895-f9318860a7f5","name":"Format File Name"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1hqjeY6hBJnYmYedrvw1SuOMRHTUWVD6FqWslopa5v50","mode":"list","cachedResultName":"trade-logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hqjeY6hBJnYmYedrvw1SuOMRHTUWVD6FqWslopa5v50/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":897647485,"mode":"list","cachedResultName":"Sheet 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hqjeY6hBJnYmYedrvw1SuOMRHTUWVD6FqWslopa5v50/edit#gid=897647485"},"columns":{"mappingMode":"defineBelow","value":{"orderId":"={{ $json.cleanOrderId }}","chart":"={{ $('Chart Added').item.json.webViewLink }}"},"matchingColumns":["orderId"],"schema":[{"id":"symbol","displayName":"symbol","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"orderType","displayName":"orderType","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leverage","displayName":"leverage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"updatedTime","displayName":"updatedTime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"orderId","displayName":"orderId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"closedPnl","displayName":"closedPnl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"openFee","displayName":"openFee","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"closeFee","displayName":"closeFee","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"totalPnl","displayName":"totalPnl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"avgEntryPrice","displayName":"avgEntryPrice","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"qty","displayName":"qty","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"cumEntryValue","displayName":"cumEntryValue","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"createdTime","displayName":"createdTime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"orderPrice","displayName":"orderPrice","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"entrySide","displayName":"entrySide","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"closedSize","displayName":"closedSize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"avgExitPrice","displayName":"avgExitPrice","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"exitSide","displayName":"exitSide","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"execType","displayName":"execType","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fillCount","displayName":"fillCount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"cumExitValue","displayName":"cumExitValue","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"chart","displayName":"chart","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"openDatetime","displayName":"openDatetime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"closeDatetime","displayName":"closeDatetime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"aiAnalysis","displayName":"aiAnalysis","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[432,-208],"id":"b86f1514-8f57-4a4b-9e39-f0d1818a903f","name":"Update chart in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"eLghjsNBGwU9FlBn","name":"Google Sheets account"}}},{"parameters":{"url":"https://lively-crater-185470.1wp.site/trade-logs/account-balance","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[208,528],"id":"18778ca6-185c-4975-8cd7-f696263b7d69","name":"HTTP Request"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1hqjeY6hBJnYmYedrvw1SuOMRHTUWVD6FqWslopa5v50","mode":"list","cachedResultName":"trade-logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hqjeY6hBJnYmYedrvw1SuOMRHTUWVD6FqWslopa5v50/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2016402941,"mode":"list","cachedResultName":"Balance","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hqjeY6hBJnYmYedrvw1SuOMRHTUWVD6FqWslopa5v50/edit#gid=2016402941"},"columns":{"mappingMode":"defineBelow","value":{"timestamp":"={{ $('HTTP Request').item.json.time }}","totalEquity":"={{ $json.equity }}","walletBalance":"={{ $json.walletBalance }}","cumRealisedPnl":"={{ $json.cumRealisedPnl }}","accountType":"={{ $('HTTP Request').item.json.result.list[0].accountType }}","date":"={{\n  new Date(Number($('HTTP Request').item.json.time))\n    .toLocaleString(\"en-US\", { timeZone: \"Asia/Manila\" })\n}}\n"},"matchingColumns":["orderId"],"schema":[{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"totalEquity","displayName":"totalEquity","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"walletBalance","displayName":"walletBalance","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"cumRealisedPnl","displayName":"cumRealisedPnl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"accountType","displayName":"accountType","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[656,432],"id":"c0846d59-b16c-4639-abcc-4daf565bf381","name":"Add Balance","credentials":{"googleSheetsOAuth2Api":{"id":"eLghjsNBGwU9FlBn","name":"Google Sheets account"}}},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-16,112],"id":"13856df4-86c3-4d69-ab71-1f3dd4e74a42","name":"Daily Logs Check"},{"parameters":{"rule":{"interval":[{"triggerAtHour":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-16,528],"id":"10bcbc0d-0885-4cd1-a6e0-f29185b0c57e","name":"Daily Balance Check"},{"parameters":{"method":"POST","url":"https://tradexy-roan.vercel.app/api/api/trade-logs","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"symbol","value":"={{ $json.symbol }}"},{"name":"order_type","value":"={{ $json.orderType }}"},{"name":"leverage","value":"={{ Number($json.leverage) }}"},{"name":"open_datetime","value":"={{\n  new Date(Number($json.createdTime))\n    .toLocaleString(\"en-US\", { timeZone: \"Asia/Manila\" })\n}}"},{"name":"close_datetime","value":"={{\n  new Date(Number($json.updatedTime))\n    .toLocaleString(\"en-US\", { timeZone: \"Asia/Manila\" })\n}}"},{"name":"entry_side","value":"={{ $json.side === \"Buy\" ? \"SHORT\" : \"LONG\" }}"},{"name":"exit_side","value":"={{ $json.side === \"Buy\" ? \"LONG\" : \"SHORT\" }}"},{"name":"total_pnl","value":"={{ Number($json.closedPnl - $json.openFee - $json.closeFee) }}"},{"name":"closed_pnl","value":"={{ Number($json.closedPnl) }}"},{"name":"order_id","value":"={{ $json.orderId }}"},{"name":"open_fee","value":"={{ Number($json.openFee) }}"},{"name":"close_fee","value":"={{ Number($json.closeFee) }}"},{"name":"avg_entry_price","value":"={{ Number($json.avgEntryPrice) }}"},{"name":"avg_exit_price","value":"={{ Number($json.avgExitPrice) }}"},{"name":"qty","value":"={{ Number($json.qty) }}"},{"name":"cum_entry_value","value":"={{ $json.cumEntryValue }}"},{"name":"cum_exit_value","value":"={{ $json.cumExitValue }}"},{"name":"closed_size","value":"={{ Number($json.closedSize) }}"},{"name":"exec_type","value":"={{ $json.execType }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[880,136],"id":"1c688639-f1c6-4583-ba0e-a7367c90d9ea","name":"Automate trade log entry","credentials":{"httpBearerAuth":{"id":"uTwpFSsIyC1zU0xY","name":"Tradexy API"},"httpHeaderAuth":{"id":"Y4XZd6EFGkf1XEak","name":"Tradexy API"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[656,208],"id":"182f1a1a-b36e-421c-b866-5c7b4cc66f58","name":"Loop Over Items"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1104,208],"id":"b3fa70f5-b80b-458f-bea9-6bb210e29aad","name":"Wait","webhookId":"5cf8da2c-92d7-4b7c-acfe-2ad8a7692eee"},{"parameters":{"method":"POST","url":"https://tradexy-roan.vercel.app/api/api/balances","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"date","value":"={{   new Date(Number($('HTTP Request').item.json.time))     .toLocaleString(\"en-US\", { timeZone: \"Asia/Manila\" }) }}"},{"name":"total_equity","value":"={{ $json.equity }}"},{"name":"wallet_balance","value":"={{ $json.walletBalance }}"},{"name":"cum_realised_pnl","value":"={{ $json.cumRealisedPnl }}"},{"name":"account_type","value":"={{ $('HTTP Request').item.json.result.list[0].accountType }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[656,624],"id":"9682fb2a-aeec-413f-a206-32f1abce7cc6","name":"Automate balance entry","credentials":{"httpBearerAuth":{"id":"uTwpFSsIyC1zU0xY","name":"Tradexy API"},"httpHeaderAuth":{"id":"Y4XZd6EFGkf1XEak","name":"Tradexy API"}}},{"parameters":{"fieldToSplitOut":"result.list[0].coin","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[432,528],"id":"f6dd64be-ed49-4919-8920-30a3730645ae","name":"Split Out Trades1"}],"connections":{"Get Closed PnL":{"main":[[{"node":"Split Out Trades","type":"main","index":0}]]},"Chart Added":{"main":[[{"node":"Format File Name","type":"main","index":0}]]},"Split Out Trades":{"main":[[{"node":"Update Trade Logs","type":"main","index":0},{"node":"Loop Over Items","type":"main","index":0}]]},"Format File Name":{"main":[[{"node":"Update chart in sheet","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Split Out Trades1","type":"main","index":0}]]},"Daily Logs Check":{"main":[[{"node":"Get Closed PnL","type":"main","index":0}]]},"Daily Balance Check":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Update Trade Logs":{"main":[[]]},"Loop Over Items":{"main":[[],[{"node":"Automate trade log entry","type":"main","index":0}]]},"Automate trade log entry":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Automate balance entry":{"main":[[]]},"Split Out Trades1":{"main":[[{"node":"Add Balance","type":"main","index":0},{"node":"Automate balance entry","type":"main","index":0}]]}},"authors":"Kenth Alexis Osila","name":"Version 54dea974","description":"","autosaved":true},"tags":[]}